<meta charset="UTF-8">
<br>
<br>
<div ng-controller="pedidoCompraController as pedidoCompraCtrl">
    <div class="box box-primary" ng-init="pedidoCompraCtrl.lista()">
        <div class="box-header">
            <span class="lead"> Lista dos Pedidos de Comra</span>
        </div>
        <div class="panel-body">
            <input type="text" class="form-control" ng-model="buscar" placeholder="buscar">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Número do Pedido</th>
                            <th>Data previsão</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat=" pedidoCompra in pedidoCompraCtrl.lista() | filter buscar">
                        <tr>
                            <td>{{pedidoCompra.numeroPedido}}</td>
                            <td>{{pedidoCompra.previsao}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>
</div>