<meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="transferenciaEstoqueController as transCtrl">

	<div class="box box-primary" ng-init="transCtrl.listaRecebidas()">
	
		<div class="box-header">
			<span class="lead"> Transferência recebidas </span>
		</div>
		<div class="panel-body">
	<div class="row">
			
			
	
		</div>
			<input type="text" class="form-control"  ng-model="buscar" placeholder="buscar por descrição">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						 
						<th>Número da Transferência</th>
						<th>Empreendimento de Origem</th>
						<th>Status da Transferência</th>
					    <th>Valor Total</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" lista in transCtrl.transferenciasRecebidas | filter : buscar ">
					<tr>
						
						
						<td>{{lista.notaFiscal.numero}}</td>
						<td>{{lista.notaFiscal.empreendimento.descricao}}</td>
						<td>{{lista.statusTransferencia}}</td>
						<td>{{lista.notaFiscal.valorTotal | currency}}</td>
					
						<td><a href="#/almoxarifado/estoque/transferencia/vizualizarRecebidos/{{lista.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
					</tr>

				</tbody>
				<tfoot>
				
					
				</tfoot>
			</table>
		</div>
	</div>
</div>


