<meta charset="UTF-8">

<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item active">Modulo Gerenciamento</li>
 </ol>
      
    
        <div class="col-lg-3 ">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>01</h3>
              <p>Usuario</p>
            </div>
            <div class="icon">
              <i class= "fa fa-user"></i>
            </div>
            <a href="#/usuario/cadastro" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
       
        <div class="col-lg-3 ">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>02</h3>
              <p>Permissão de usuario</p>
            </div>
            <div class="icon">
              <i class="fa fa-unlock"></i>
            </div>
            <a href="#/usuario/permissao/cadastro" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
         <div class="col-lg-3 ">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>03</h3>
              <p>Empreendimento</p>
            </div>
            <div class="icon">
              <i class="fa fa-reorder"></i>
            </div>
            <a href="#/empreendimento/cadastro" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
       
        <div class="col-lg-3 ">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>04</h3>
              <p>Config. empreendimento</p>
            </div>
            <div class="icon">
              <i class="fa fa-gear"></i>
            </div>
            <a href="#/empreendimento/configuracao/cadastro" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>