<meta charset="UTF-8">

    
    <div class="row" >
        <a class="col-lg-4 " ui-sref="estoque.cadastrar">
          <div class="small-box bg-orange"><br><br>
            <div class="inner" align="center">
              <h3>Entrada</h3><br>
            </div>           
          </div>
        </a>
        
         <a class="col-lg-4" ui-sref="estoque.consultar">
          <div class="small-box bg-blue"><br><br>
            <div class="inner" align="center">
              <h3>Consultar</h3><br>
            </div>            
          </div>
        </a>
              
  </div>        