<meta charset="UTF-8">

     <div >
    <div class="row" >
        <a class="col-lg-4 " ui-sref="fabricante.menu">
          <div class="small-box bg-orange"><br><br>
            <div class="inner" align="center">
              <h3>Fabricante</h3><br>
            </div>           
          </div>
        </a>
       
        <a class="col-lg-4 " ui-sref="fornecedor.menu">
          <div class="small-box bg-aqua"><br><br>
            <div class="inner" align="center">
              <h3>Fornecedor</h3><br>
            </div>
          </div>
        </a>
        
         <a class="col-lg-4" ui-sref="produto.menu">
          <div class="small-box bg-yellow"><br><br>
            <div class="inner" align="center">
              <h3>Produtos</h3><br>
            </div>           
          </div>
        </a>
     </div>  
     <div class="row" >
        <a class="col-lg-4" ui-sref="estoque.menu">
          <div class="small-box bg-blue"><br><br>
            <div class="inner" align="center">
              <h3>Estoque</h3><br>
            </div>            
          </div>
        </a>
       
        <a class="col-lg-4 " ui-sref="requisicao.menu">
          <div class="small-box bg-green"><br><br>
            <div class="inner" align="center">
              <h3>Requisição</h3><br>
            </div>
          </div>
        </a>
        
         <a class="col-lg-4 " ui-sref="transferencia.menu">
          <div class="small-box bg-blue"><br><br>
            <div class="inner" align="center">
              <h3>Transferencia</h3><br>
            </div>
          </div>
        </a>
     </div>        
         
  </div>        