<meta charset="UTF-8">
 <div 	ng-controller="estoqueController as estroqueCtrl">

<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item"><a href="#/almoxarifado/home">Menu Almoxarifado</a></li>
   <li class="breadcrumb-item active">Informações</li>
 </ol>
 
	<div class="box box-primary" ng-init="estroqueCtrl.listaProdutosComEstoqueAlto()">
		<div class="box-header">
			<span class="lead">Produtos Acima da quantidade Maxima</span>
		</div>
		<div class="panel-body">
		<div class="row ">
				<div class="col-sm-2">
			    <div class="dropdown">
			        <button class="btn btn-warning btn-export dropdown-toggle" margin-right=46px type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			            Exportar <span class="caret"></span>
			        </button>			
			        <ul class="table-export dropdown-menu"
			        table-selector="'auxTable'"
			        export-options="{type: 'pdf', escape: true, ignoreColumn : '[4]', tableName: 'listaEstoqueAlto' }"
			        aria-labelledby="dropdownMenu1">
			            <li te-option te-value="'pdf'" te-param="'type'">
			                <a href="">PDF</a>
			            </li>
			
			            <li te-option te-value="'excel'" te-param="'type'">
			                <a href="">Excel</a>
			            </li>
			
			            <li te-option te-value="'csv'" te-param="'type'">
			                <a href="">CSV</a>
			            </li>
			        </ul>
			    </div>
			    </div>
			</div>		
	<div class="row">
			
			<input class="form-control" type="text" ng-model="buscar" >
	
		</div>
		<div class="table-responsive">
			<table st-table="estroqueCtrl.listaProdutosComEstoqueAlto" st-filtered-collection="filteredCollection" class="table table-striped">
				<thead>
					<tr>						 
						<th>Código</th>
						<th>Descrição</th>
						<th>Categoria</th>
						<th>Tipo</th>
						<th>Unidade Medida</th>						
						<th>quantidade Estoque</th>
						<th>quantidade Maxima</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" lista in estroqueCtrl.listaProdutosComEstoqueAlto | filter : buscar | orderBy : 'id' ">
					<tr>
						<td>{{lista.produto.codigo}}</td>
						<td>{{lista.produto.descricao}}</td>
						<td>{{lista.produto.categoria.descricao}}</td>
						<td>{{lista.produto.tipoProduto.descricao}}</td>
						<td>{{lista.produto.unidadeMedida}}</td>
						<td>{{lista.quantidade}}</td>
						<td>{{lista.quantidadeMaxima}}</td>
					
						<td ng-if="ROLE_MODULO_ESTOQUE_ALTERA_LIMITE"><a href="#/estoque/alteracao/{{lista.produto.codigo}}"><i class="glyphicon glyphicon-edit"></i></a> 
						
					</tr>

				</tbody>
				<tfoot>
				
					
				</tfoot>
			</table>
			<table id="auxTable" style="opacity: 0; position: absolute;">
				<thead>
					<tr>						 
						<th>Código</th>
						<th>Descrição</th>
						<th>Categoria</th>
						<th>Tipo</th>
						<th>Unidade Medida</th>						
						<th>quantidade Estoque</th>
						<th>quantidade Maxima</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" lista in estroqueCtrl.listaProdutosComEstoqueAlto | filter : buscar | orderBy : 'id' ">
					<tr>
						<td>{{lista.produto.codigo}}</td>
						<td>{{lista.produto.descricao}}</td>
						<td>{{lista.produto.categoria.descricao}}</td>
						<td>{{lista.produto.tipoProduto.descricao}}</td>
						<td>{{lista.produto.unidadeMedida}}</td>
						<td>{{lista.quantidade}}</td>
						<td>{{lista.quantidadeMaxima}}</td>
					</tr>

				</tbody>
				<tfoot>
				
					
				</tfoot>
			</table>
			</div>			
		</div>
	</div>

	</div>
