<meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="estoqueController as estroqueCtrl">

	<div class="box box-primary" ng-init="estroqueCtrl.listaProdutosComEstoque(0 , 15)">
		<div class="box-header">
			<span class="lead">Estoque </span>
		</div>
		<div class="panel-body">
	<div class="row">
			
			<input class="form-control" type="text" ng-model="buscar" >
	
		</div>
		<div class="table-responsive">
			<table class="table  table-bordered ">
				<thead>
					<tr>						 
						<th>Código</th>
						<th>Descrição</th>
						<th>Categoria</th>
						<th>Tipo</th>
						<th>Unidade Medida</th>						
						<th>quantidade Estoque</th>
						<th>Custo médio</th>
						<th>Valor Total</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" lista in estroqueCtrl.listaProdutosComEstoques | filter : buscar | orderBy : 'id' ">
					<tr>
						<td>{{lista.id}}</td>
						<td>{{lista.produto.codigo}}</td>
						<td>{{lista.produto.descricao}}</td>
						<td>{{lista.produto.categoria.descricao}}</td>
						<td>{{lista.produto.tipoProduto.descricao}}</td>
						<td>{{lista.produto.unidadeMedida}}</td>
						<td>{{lista.quantidade}}</td>
						<td>{{lista.custoMedio | currency}}</td>
					    <td>{{lista.valorTotal | currency}}</td>
					
						<td><a href="#/estoque/alteracao/{{lista.produto.codigo}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
					</tr>

				</tbody>
				<tfoot>
				
					
				</tfoot>
			</table>
			</div>
			<div class="row">
				<div class="col-sm-5"></div>				
				<div class="2">				
					<nav>
						<ul class="pagination">
						
							<li class="{{0==estroqueCtrl.getPage ?'disabled':''}}"><a
								ng-if="0!=estroqueCtrl.getPage" ng-click="estroqueCtrl.listaProdutosComEstoque(estroqueCtrl.getPage -1, maxResults)"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a> <a ng-if="0==estroqueCtrl.getPage" aria-label="Previous"> <span
									aria-hidden="true">&laquo;</span></a></li>
							<li ng-repeat="page in estroqueCtrl.totalPages"
								class="{{page==estroqueCtrl.getPage ?'active':''}}"><a
								ng-click="estroqueCtrl.listaProdutosComEstoque(page , maxResults)">{{page + 1}}</a></li>
							<li class="{{estroqueCtrl.getPage+1 == totalPages ?'disabled':''}}"><a
								ng-if="estroqueCtrl.getPage+1 != totalPages"
								ng-click="estroqueCtrl.listaProdutosComEstoque(estroqueCtrl.getPage+1, maxResults)" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a> <a ng-if="estroqueCtrl.getPage+1==totalPages" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a></li>
							
						</ul>
					</nav>
				</div>
			</div>
			
		</div>
	</div>
</div>


