<meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="transferenciaEstoqueController as transCtrl">

	<div class="box box-primary" ng-init="transCtrl.listaEnviadasComPaginacao( 0 , 15)">
	
		<div class="box-header">
			<span class="lead"> Transferência enviadas </span>
		</div>
		<div class="panel-body">
	<div class="row">
			
			
	
		</div>
			<input type="text" class="form-control"  ng-model="buscar" placeholder="buscar por descrição">
			<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						 
						<th>Número da Transferência</th>
						<th>Empreendimento de destino</th>
						<th>Status da Transferência</th>
						<th>Data Vencimento</th>
					    <th>Valor Total</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" lista in transCtrl.transferenciasEnviadas | filter : buscar ">
					<tr>
						
						
						<td>{{lista.notaFiscal.numero}}</td>
						<td>{{lista.empreendimentoDestino.descricao}}</td>
						<td>{{lista.statusTransferencia}}</td>
						<td>{{lista.notaFiscal.dataVencimento | date : 'dd/MM/yyyy' }}</td>
						<td>{{lista.notaFiscal.valorTotal | currency}}</td>
					
						<td><a href="#/estoque/transferencia/vizualizarEnviados/{{lista.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
					</tr>

				</tbody>
				<tfoot>
				
					
				</tfoot>
			</table>
			</div>
			<div class="row">
				<div class="col-sm-5"></div>				
				<div class="2">				
					<nav>
						<ul class="pagination">
						
							<li class="{{0==transCtrl.getPage ?'disabled':''}}"><a
								ng-if="0!=transCtrl.getPage" ng-click="transCtrl.listaEnviadasComPaginacao(transCtrl.getPage -1, maxResults)"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a> <a ng-if="0==transCtrl.getPage" aria-label="Previous"> <span
									aria-hidden="true">&laquo;</span></a></li>
							<li ng-repeat="page in transCtrl.totalPages"
								class="{{page==transCtrl.getPage ?'active':''}}"><a
								ng-click="transCtrl.listaEnviadasComPaginacao(page , maxResults)">{{page + 1}}</a></li>
							<li class="{{transCtrl.getPage+1 == totalPages ?'disabled':''}}"><a
								ng-if="transCtrl.getPage+1 != totalPages"
								ng-click="transCtrl.listaEnviadasComPaginacao(transCtrl.getPage+1, maxResults)" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a> <a ng-if="transCtrl.getPage+1==totalPages" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a></li>
							
						</ul>
					</nav>
				</div>
			</div>
			
		</div>
	</div>
</div>


