<meta charset="UTF-8">
<div class="row">
		<div align="center">
			<div class="small-box bg-aqua col-sm-4 col-sm-offset-4">
				<div class="inner" align="center">
					<h3>{{ctrl.titulo}}</h3>					
				</div>
			</div>
		</div>	
</div>		
<div class="row">
	<div class="col-md-4">
		<a class="fa fa-plus" href="" ui-sref="transferencia.cadastrar" title="Cadastrar novo estoque">Nova</a>|<label>Transferencia</label>
	</div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Pesquisar pelo codigo" ng-model="texto" autofocus
      	 ng-keyup="$event.keyCode == 13 && ctrl.buscarPorTexto(texto)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="ctrl.paginaCorrente = 0; ctrl.buscarPorTexto(texto)">Pesquisar!</button>
      </span>
    </div>
  </div>
 </div>
 		<div ng-show="mensagemErro" class="alert alert-warning alert-dismissible">
	         <h4><i class="icon fa fa-warning"></i>{{mensagemErro}}</h4>
	   </div>
	   <br>
	   <br>
	   <div align="center">
			<div class="small-box bg-aqua">
				<div class="inner" align="center">
					<h3>Transferência</h3>					
				</div>
			</div>
		</div>	
		<div class="panel panel-default table-responsive">
				<table class="table table-bordered table-striped ">
				<thead>
					<tr>						 
						<th>ID</th>
						<th><a href="" ng-click="ctrl.sort('notaFiscal.numero')"><i class="glyphicon glyphicon-sort"></i></a>Numero</th>
						<th><a href="" ng-click="ctrl.sort('empreendimentoDestino.descricao')"><i class="glyphicon glyphicon-sort"></i></a>Empreendimento</th>
						<th><a href="" ng-click="ctrl.sort('statusTransferencia')"><i class="glyphicon glyphicon-sort"></i></a>Status</th>
						<th><a href=""ng-click="ctrl.sort('notaFiscal.dataNota')"><i class="glyphicon glyphicon-sort"></i></a>Data Nota</th>
						<th><a href=""ng-click="ctrl.sort('notaFiscal.dataVencimento')"><i class="glyphicon glyphicon-sort"></i></a>Data Vencimento</th>	
						<th><a href=""ng-click="ctrl.sort('notaFiscal.valorTotal')"><i class="glyphicon glyphicon-sort"></i></a>Valor</th>						
	
						<th ng-if="ctrl.tipo == 'ENVIADOS' && transferencia.statusTransferencia == 'PENDENTE'">Opções</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" transferencia in ctrl.transferencias">
					<tr>
						<td title="Visualizar Transferencia"><a href="" data-toggle="modal"	data-target=".modalEstrutura" ng-click="ctrl.visualizar(transferencia)">{{transferencia.id}}</td>
						<td title="Visualizar Transferencia"><a ui-sref="transferencia.show({idTransferencia : transferencia.id})">{{transferencia.notaFiscal.numero}}</a></td>
						<td>{{transferencia.empreendimentoDestino.descricao}}</td>
						<td class="{{transferencia.statusTransferencia == 'PENDENTE' ? 'red':'blue'}}">{{transferencia.statusTransferencia}}</td>
						<td>{{transferencia.notaFiscal.dataNota | date : 'dd/MM/yyyy'}}</td>
						<td>{{transferencia.notaFiscal.dataVencimento | date : 'dd/MM/yyyy'}}</td>
						<td>{{transferencia.notaFiscal.valorTotal  | currency}}</td>										
						<td title="Editar a Nota" ng-if="ctrl.tipo == 'ENVIADOS' && transferencia.statusTransferencia == 'PENDENTE'"
						><a ui-sref="transferencia.editar({idTransferencia : transferencia.id})"><i class="glyphicon glyphicon-edit"></i></a> 						
					</tr>
				</tbody>
			</table>
			<nav>
				<ul uib-pagination total-items="ctrl.totalElementos" items-per-page="24"
					ng-model="ctrl.paginaCorrente" max-size="5" class="pagination-sm"
					boundary-link-numbers="true" ng-click="ctrl.buscarPorTexto(texto)"
					previous-text="Anterior" last-text="Último" first-text="Primeiro"
					next-text="Próximo">
				</ul>
			</nav>
	</div>
<div class="modal fade modalEstrutura" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{{ctrl.titulo}}</h4>
			</div>
			<div class="modal-body">
				<div ng-include="'views/pages/modulo_estoque/transferencia/transferencia.show.html'"></div>
			</div>
			
		</div>
	</div>
</div>		

