<meta charset="UTF-8">
<br>
<br>
<div ng-controller="transferenciaEstoqueController as transfCtrl">
	<div class="box box-primary">
		<div class="box-header">
			<span class="lead"> Transferência Enviadas </span>
		</div>
		<div class="panel-body">
		<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical"
					ng-submit="transfCtrl.salva()">


					<div class="row">
						<div class="col-sm-3">
							<input class="form-control"  id="numeroNota" type="text" title="informe o numero da nota fiscal" placeholder="Numero nota fiscal" 
							ng-model="transfCtrl.transferencia.notaFiscal.numero" disabled required>
						</div>			
						<div class="col-sm-3">
							<input class="form-control"  id="dataNota" type="text" ng-model="transfCtrl.transferencia.statusTransferencia" ui-date title="informe a data da nota fiscal"  placeholder="data nota fiscal" disabled required>
						</div>						
						<div class="col-sm-3">
							<input class="form-control"  id="vencimento"  type="text" ng-model="transfCtrl.transferencia.notaFiscal.dataVencimento" ui-date title="informe a data de Transferencia" placeholder="vecimento da Transferencia" disabled>
						</div>
						<div class="col-sm-3">
							<input class="form-control"  id="empreendimento"  type="text" ng-model="transfCtrl.transferencia.empreendimentoDestino.descricao"  disabled>
						</div>
					</div>
					<br>
					
					
					<br>
					<br>
				

					
						<div class="table-responsive" >
							<table class="table table-hover ">
								<thead>
									<tr>										
										<th>Código</th>
										<th>Descrição</th>
										<th>Valor Unitário</th>
										<th>Quantidade saida</th>										
										<th>Valor Total</th>
										

									</tr>
								</thead>
								<tbody ng-repeat="produtos in listaProdutos" >
									<tr>
										<td><input class="form-control"  id="codigo"  type="text" placeholder="codigo"	ng-model="produtos.produto.codigo" ui-mumber-mask disabled></td>
										<td><input class="form-control"  id="descricao"  type="text" placeholder="Desrciçaõ"	ng-model="produtos.produto.descricao" disabled></td>
										<td><input class="form-control"  id="valorUnitario" type="text" placeholder="valorUnitario"	ng-model="produtos.valorUnitario" ui-money-mask disabled></td>	
										<td><input class="form-control"  id="quantidade"  type="text" placeholder="quantidade" 	ng-model="produtos.quantidade" ng-blur="teste()" ui-mumber-mask disabled></td>
										<td>{{produto.quantidade * produto.valorUnitario | currency}}</td>
										
									</tr>
								</tbody>
								<tfoot>
									<tr>
																				
									<th></th><th></th><th></th><th></th><th>{{valorTotal | currency}}</th>
									</tr>
									
								</tfoot>
							</table>
						</div>
					
					<br>
					
					
					
				</form>
			</div>
			<div class="tablecontainer"></div>
		</div>
	</div>
	</div>