<meta charset="UTF-8">
<form name="formFornecedor" novalidate ng-submit="ctrl.submit()">

	<div>
		<h4>{{ctrl.botao}}</h4>          
		<hr>		
	</div>	

<label>Razão Social:</label>
<p>{{ctrl.fornecedor.dadoEmpresa.razaoSocial}}</p>
<label>Nome Fantasia:</label>
<p>{{ctrl.fornecedor.dadoEmpresa.nomeFantasia}}</p>
<strong>CNPJ:</strong> 
<p>{{ctrl.fornecedor.dadoEmpresa.cnpj | brCnpj}}</p>

<address>
	<p>
		<span class="glyphicon glyphicon-map-marker"></span>
		{{ctrl.fornecedor.dadoEmpresa.endereco.logradouro}},
		{{ctrl.fornecedor.dadoEmpresa.endereco.numero}} -
		{{ctrl.fornecedor.dadoEmpresa.endereco.bairro}}
		-{{ctrl.fornecedor.dadoEmpresa.endereco.cidade.nome}}
		/{{ctrl.fornecedor.dadoEmpresa.endereco.estado.nome}} CEP:
		{{ctrl.fornecedor.dadoEmpresa.endereco.cep}}
	</p>
	<p>{{ctrl.fornecedor.dadoEmpresa.endereco.complemento}}</p>
	<p>
		<abbr title="Telefone"><span class="glyphicon glyphicon-phone"></span></abbr>
		{{ctrl.fornecedor.dadoEmpresa.telefone | brPhoneNumber}}
	</p>
	<p>
		<abbr title="e-mail"><span class="glyphicon glyphicon-envelope"></span></abbr>
		{{ctrl.fornecedor.dadoEmpresa.email}}
	</p>
	<p>
		<abbr title="endereço do site"><span
			class="glyphicon glyphicon-cloud"></span></abbr>
		{{ctrl.fornecedor.dadoEmpresa.site}}
	</p>
</address>
	<div class="row">
		<div class="col-sm-6">
		<span>Contato:</span>
			<input type="text" class="form-control" ng-model="ctrl.fornecedor.contato">
		</div>
		<div class="col-sm-6">
		<span>Observação:</span>
			<input type="text" class="form-control" ng-model="ctrl.fornecedor.observacao">
		</div>
	</div>	
<br>
<br>
	<div class="row ">
		<div class="col-md-4 col-md-offset-4">
			<input type="submit" id="submit" value="{{ctrl.botao}}" class="btn btn-lg btn-primary btn-block btn-signin">
		</div>
	</div>

</form>

