<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"	ng-controller="usuarioController as userCtrl">
				
	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead"> Cadastro Usuario </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical"	ng-submit="userCtrl.altera()">

					
					<div class="row" ng-controller="empreendimentoController as empCtrl">
					
						<label class="col-sm-2 control-label" for="empreendimento">Empreendimento</label>
						<div class="col-sm-8" ng-init="empCtrl.lista()">
							<select class="form-control select2" ng-model="userCtrl.usuario.empreendimento.descricao"
								ng-options="listarEmpreendimentos.descricao group by listarEmpreendimentos.tipoEmpreendimento for listarEmpreendimentos in empreendimentos"
								style="width: 100%;">
								<option  value="">--selecione--</option>
							</select>
						</div>
					</div>
					<br>
					
						
					<div class="row">								
						<label class="col-sm-2 control-label" for="funcionario">Funcionario</label>
						<div class="col-sm-8"  ng-controller="cadastrarFuncionarioController as funCtrl" ng-init="funCtrl.lista()">
								<select class="form-control select2" ng-model="userCtrl.usuario.funcionario" ng-options="engenheiros.nomeCompleto  group by engenheiros.shade for engenheiros in listaFuncionario" style="width: 100%;" disabled required>
									<option value="">---Selecione---</option>                                                                                 
							</select>
						</div>						
					</div>
					
					<br>
					<br>

					<div class="row">
						<label class="col-sm-2 control-label" for="ativo">Usuario Ativo</label>
						<div class="col-sm-2">
							<input type="checkbox" ng-model="userCtrl.usuario.ativo">
						</div>
					</div>

					<br>
					<div class="row" >
						<label class="col-sm-2 control-label" for="nome">Nome Usuario</label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="nome" ng-model="userCtrl.usuario.nome"
								title="Nome de usuario" disabled	required>
						</div>						
					</div>
					<br>
					<div class="row" >
						<label class="col-sm-2 control-label" for="usuario">Email Usuario</label>
						<div class="col-sm-8">
							<input type="email" class="form-control" id="email" ng-model="userCtrl.usuario.email"
								title="Email de usuario, para acesso ao sistema"	required>
						</div>
					</div>
					
					
					<br>
					<div class="row" >
						<label class="col-sm-2 control-label" for="nome">Login</label>
						<div class="col-sm-2">
							<input type="text" class="form-control" id="nome" ng-model="userCtrl.usuario.login"
								title="Nome de usuario" disabled	required>
						</div>						
					


						<label class="col-sm-1 control-label" for="senha">Senha</label>
						<div class="col-sm-2">
							<input type="password" class="form-control" id="senha" ng-model="userCtrl.senha"
								title="Digite uma senha" required>
						</div>

						<label class="col-sm-1 control-label" for="repitaSenha">Repita a Senha</label>
						<div class="col-sm-2">
							<input type="password" class="form-control" id="repitaSenha" ng-model="userCtrl.senhaRepitida"
								title="repita a senha" required>
						</div>
						
					</div>
					<br> <br>
					
					<br> <br>
					
					
					<div class="panel panel-primary">
						<div class="panel-heading">Lista de Permissões</div>
						<div class="panel-body">
						
						
						<table class="table table-hover ">
								
								<tbody  >
									<tr>
										
									</tr>

								</tbody>
			
						</table>
										
						</div>
					</div>


					
					<div class="row ">
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<button type="submit" name="submit" class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>
						</div>
						<div class="col-sm-3">

							<button type="submit" name="submit" 
								class="btn btn-lg btn-danger btn-block btn-signin">Cancelar</button>
						</div>
					</div>
				</form>
				
			</div>
			<div class="tablecontainer"></div>
		</div>
	</div>