<meta charset="UTF-8">
<br>
<br>
<div ng-controller="usuarioController as userCtrl">
				
	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead"> Cadastro Usuario </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical"	ng-submit="userCtrl.altera()">

					
					<div class="row" ng-controller="empreendimentoController as empCtrl">
					
						<label class="col-sm-2 control-label" for="empreendimento">Empreendimento</label>
						<div class="col-sm-8" >
						{{userCtrl.usuario.empreendimento}}
							
						</div>
					</div>
					<br>
					
					
					
					<div class="row">								
						<label class="col-sm-2 control-label" for="funcionario">Funcionario</label>
						{{userCtrl.usuario.funcionario}}											
					</div>
					
					<br>
					<br>

					<div class="row">
						<label class="col-sm-2 control-label" for="ativo">Usuario Ativo</label>
						<div class="col-sm-2">
							<input type="checkbox" ng-model="userCtrl.usuario.ativo">
						</div>
						<label class="col-sm-1 control-label" for="dataAbertura">Data cadastro</label>
						{{userCtrl.usuario.dataCadastro}}
						
					</div>

					<br>
					<div class="row" >
						<label class="col-sm-2 control-label" for="nome">Nome Usuario</label>
						<div class="col-sm-8">
						{{userCtrl.usuario.nome}}							
						</div>						
					</div>
					<br>
					<div class="row" >
						<label class="col-sm-2 control-label" for="usuario">Email Usuario</label>
						<div class="col-sm-8">
						{{userCtrl.usuario.email}}							
						</div>
					</div>
					
					
					<br>
					<div class="row" >
						<label class="col-sm-2 control-label" for="nome">Login</label>
						<div class="col-sm-2">
						{{userCtrl.usuario.login}}
						</div>					
						
					</div>
					<br> <br>
					
					<br> <br>
					
					
					<div class="panel panel-primary">
						<div class="panel-heading">Lista de Permissões</div>
						<div class="panel-body">
						
						
						<table class="table table-hover ">
								
								<tbody  >
									<tr>
										
									</tr>

								</tbody>
			
						</table>
										
						</div>
					</div>


					
					<div class="row ">
						<div class="col-sm-3"></div>
						<div >
							<button type="submit" name="submit" class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>
						</div>
						
					</div>
				</form>
				
			</div>
			<div class="tablecontainer"></div>
		</div>
	</div>
	</div>