<meta charset="UTF-8">
<br>
<br>
<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item"><a href="#/produto/categoria/lista">Lista de Categoria</a></li>
   <li class="breadcrumb-item active">Cadastro Categoria</li>
 </ol>
<div  ng-controller="categoriaController as categoriaCtr" >

	<div class="box box-primary" >
		<!-- Default panel contents -->
		<div class="box-header" >
			<span class="lead">Cadastro de  Categoria </span>
		</div>
		<div class="panel-body">
			<div class="container col-sm-12 ">
				<form role="form-vertical" ng-submit="categoriaCtr.salva()" >
					<div class="row">
						<label class="col-sm-2 control-label" for="ativo"> Ativo</label>	
						<div class="col-sm-1">
							<input type="checkbox" ng-model="categoriaCtr.categoria.ativo" >
						</div>	
						<div class="col-sm-4">
							<input class="form-control" ng-model="categoriaCtr.categoria.descricao" id="descricao" type="text" placeholder="Descrição da categoria" maxlength="30" required>
						</div>
						<div class="col-sm-4"  ng-init="categoriaCtr.listaTipoCategoria()">
						<select class="form-control " ng-model="categoriaCtr.categoria.tipoCategoria" 
							ng-options="tipo for tipo in categoriaCtr.tipoCategoria" required >
								<option value="">---Tipo---</option>
							</select>
						</div>
					</div>
					<br>
					<br>
						
								
					<br>
					
							
					<div class="row ">
						
							<input type="submit"  id="submit" value="Salvar"  ng-disabled="!categoriaCtr.categoria.descricao"
								class="btn btn-lg btn-primary btn-block btn-signin">
						
					</div>
			</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
