<meta charset="UTF-8">
<br>
<br>
<div ng-controller="usuarioController as userCtrl">
				
	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead"> Permissão de  Usuario </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical"	ng-submit="userCtrl.salvaPermissaoUsuario()">


					<div class="row" >					
						  <div class="col-xs-12"><h3>Dados Pessoais do Usuario</h3></div>
						  <div class="col-xs-2"><img src="../../../../public/img/avatar_2x.png"  class="img-thumbnail"><br></div>
						  <div class="col-xs-4">
						  		<div class="row" >
						  		
									Funcionario:		{{userCtrl.usuario.funcionario.nomeCompleto}}<br><br>
									Nome Usuario:		{{userCtrl.usuario.nome}}<br><br>	
									Email Usuario:   	{{userCtrl.usuario.email}}<br><br>
									Login:				{{userCtrl.usuario.login}}<br><br>
									Data de Cadastro:	{{userCtrl.usuario.dataCadastro | date :'dd/MM/yyyy'}}<br><br>
									Empreendimento:		{{userCtrl.usuario.empreendimento.descricao}}
								</div>
						  <br></div>
				</div>
					
					
					<br> <br>
					
					
					<br> <br>		<div ng-show="visualizaAdmin">
								<div class="row">
									<h3><span class=" col-sm-12 form-control label label-success">Módulo Administrador</span></h3>
								</div>									
									<br>
									 <div flex="100" flex-gt-sm="100" layout="column"  >
									      <div>        
									        <fieldset class="standard" >         
									          <div layout="row" layout-wrap flex>
									            <div flex="25" ng-repeat="admin in moduloAdmin">
									            <div ng-show="!admin.ativo"><button type="button"  class="btn  btn-default"  ng-click="userCtrl.salvaPermissaoUsuario(admin)" > </button>{{ admin.descricao }}</div>
									            <div ng-show="admin.ativo"><button type="button"  class="btn  btn-primary"  ng-click="userCtrl.excluiPermissaoUsuario(admin)" > </button> {{ admin.descricao }}</div> 
									            </div>
									          </div>
									        </fieldset>
									      </div>
									    </div>
									</div>
									 <br>		
									 <div ng-show="visualizaCadastros">

									<div class="row">
										<h3><span class=" col-sm-12 form-control label label-success">Módulo Cadastros</span></h3>
									</div>	
									<br>
									 <div flex="100" flex-gt-sm="100" layout="column"  >
									      <div>        
									        <fieldset class="standard" >         
									          <div layout="row" layout-wrap flex>
									            <div flex="25" ng-repeat="cadastros in moduloCadastros">
									               <div ng-show="!cadastros.ativo"><button type="button"  class="btn  btn-default"  ng-click="userCtrl.salvaPermissaoUsuario(cadastros)" > </button>{{ cadastros.descricao }}</div>
									               <div ng-show="cadastros.ativo"><button type="button"  class="btn  btn-primary"  ng-click="userCtrl.excluiPermissaoUsuario(cadastros)" > </button> {{ cadastros.descricao }}</div> 
									            
									            </div>
									          </div>
									        </fieldset>
									      </div>
									    </div>
									    </div>
									     <br>	
									<div ng-show="visualizaChamado">	
									<div class="row">
										<h3><span class=" col-sm-12 form-control label label-success">Módulo Chamado</span></h3>
									</div>	
									<br>
									 <div flex="100" flex-gt-sm="100" layout="column"  >
									      <div>        
									        <fieldset class="standard" >         
									          <div layout="row" layout-wrap flex>
									            <div flex="25" ng-repeat="chamado in moduloChamado">
									               <div ng-show="!chamado.ativo"><button type="button"  class="btn  btn-default"  ng-click="userCtrl.salvaPermissaoUsuario(chamado)" > </button>{{ chamado.descricao }}</div>
									               <div ng-show="chamado.ativo"><button type="button"  class="btn  btn-primary"  ng-click="userCtrl.excluiPermissaoUsuario(chamado)" > </button> {{ chamado.descricao }}</div>  
									            
									            </div>
									          </div>
									        </fieldset>
									      </div>
									    </div>
									   </div>
									  <div ng-show="visualizaCompras"> 
									  <div class="row">
										<h3><span class=" col-sm-12 form-control label label-success">Módulo Compras</span></h3>
									  </div>
									  <br>
									 <div flex="100" flex-gt-sm="100" layout="column"  >
									      <div>        
									        <fieldset class="standard" >         
									          <div layout="row" layout-wrap flex>
									            <div flex="25" ng-repeat="compras in moduloCompras">
									              <div ng-show="!compras.ativo"><button type="button"  class="btn  btn-default"  ng-click="userCtrl.salvaPermissaoUsuario(compras)" > </button>{{ compras.descricao }}</div>
									              <div ng-show="compras.ativo"><button type="button"  class="btn  btn-primary"  ng-click="userCtrl.excluiPermissaoUsuario(compras)" > </button> {{ compras.descricao }}</div>  
									            
									            </div>
									          </div>
									        </fieldset>
									      </div>
									    </div>
									    </div>
									   <div ng-show="visualizaEstoque">
									   <div class="row">
										<h3><span class=" col-sm-12 form-control label label-success">Módulo Estoque</span></h3>
									  </div>
									  <br>
									 <div flex="100" flex-gt-sm="100" layout="column"  >
									      <div>        
									        <fieldset class="standard" >         
									          <div layout="row" layout-wrap flex>
									            <div flex="25" ng-repeat="estoque in moduloEstoque">
									               <div ng-show="!estoque.ativo"><button type="button"  class="btn  btn-default"  ng-click="userCtrl.salvaPermissaoUsuario(estoque)" > </button>{{ estoque.descricao }}</div>
									               <div ng-show="estoque.ativo"><button type="button"  class="btn  btn-primary"  ng-click="userCtrl.excluiPermissaoUsuario(estoque)" > </button> {{ estoque.descricao }}</div>  
									            
									            </div>
									          </div>
									        </fieldset>
									      </div>
									    </div>
									    </div>
									    <div ng-show="visualizaGerenciamento">
									    <div class="row">
											<h3><span class=" col-sm-12 form-control label label-success">Módulo Gerenciamento</span></h3>
										  </div>
										  <br>
									 <div flex="100" flex-gt-sm="100" layout="column"  >
									      <div>        
									        <fieldset class="standard" >         
									          <div layout="row" layout-wrap flex>
									            <div flex="25" ng-repeat="gerenciamento in moduloGerenciamento">
									              <div ng-show="!gerenciamento.ativo"><button type="button"  class="btn  btn-default"  ng-click="userCtrl.salvaPermissaoUsuario(gerenciamento)" > </button>{{ gerenciamento.descricao }}</div>
									              <div ng-show="gerenciamento.ativo"><button type="button"  class="btn  btn-primary"  ng-click="userCtrl.excluiPermissaoUsuario(gerenciamento)" > </button> {{ gerenciamento.descricao }}</div>  
									            
									            </div>
									          </div>
									        </fieldset>
									      </div>
									    </div>
									    </div>
									<div ng-show="visualizaRecursosHumanos">
									 	<div class="row">
											<h3><span class=" col-sm-12 form-control label label-success">Módulo Recursos Humanos</span></h3>
										  </div>
										  <br>
									 <div flex="100" flex-gt-sm="100" layout="column"  >
									      <div>        
									        <fieldset class="standard" >         
									          <div layout="row" layout-wrap flex>
									            <div flex="25" ng-repeat="rh in moduloRecursosHumanos">
									               <div ng-show="!rh.ativo"><button type="button"  class="btn  btn-default"  ng-click="userCtrl.salvaPermissaoUsuario(rh)" > </button>{{ rh.descricao }}</div>
									               <div ng-show="rh.ativo"><button type="button"  class="btn  btn-primary"  ng-click="userCtrl.excluiPermissaoUsuario(rh)" > </button> {{ rh.descricao }}</div>  
									            
									            </div>
									          </div>
									        </fieldset>
									      </div>
									    </div>
									    </div>
									 <div ng-show="visualizaServicos">
									 	<div class="row">
											<h3><span class=" col-sm-12 form-control label label-success">Módulo Servicos</span></h3>
										  </div>
										  <br>
									 <div flex="100" flex-gt-sm="100" layout="column"  >
									      <div>        
									        <fieldset class="standard" >         
									          <div layout="row" layout-wrap flex>
									            <div flex="25" ng-repeat="servicos in moduloServicos">
									                <div ng-show="!servicos.ativo"><button type="button"  class="btn  btn-default"  ng-click="userCtrl.salvaPermissaoUsuario(servicos)" > </button>{{ servicos.descricao }}</div>
									                <div ng-show="servicos.ativo"><button type="button"  class="btn  btn-primary"  ng-click="userCtrl.excluiPermissaoUsuario(servicos)" > </button> {{ servicos.descricao }}</div> 
									            
									            </div>
									          </div>
									        </fieldset>
									      </div>
									    </div>
									</div>

					
					
				</form>
				
			</div>
			<div class="tablecontainer"></div>
		</div>
	</div>
	</div>