<meta charset="UTF-8">
<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item active">Modulo Serviços</li>
 </ol>
      
    
        <div class="col-lg-3 ">
          <!-- small box -->
          <div class="small-box bg-purple">
            <div class="inner">
              <h3>01</h3>
              <p>Prestadora de serviços</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
            <a href="#/servicos/prestadora/cadastro" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
       
        <div class="col-lg-3 ">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>02</h3>
              <p>Pacotes de serviço</p>
            </div>
            <div class="icon">
              <i class="fa fa-cube"></i>
            </div>
            <a href="#/servicos/pacotes/cadastro" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
         <div class="col-lg-3 ">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>03</h3>
              <p>Vincular Serviços</p>
            </div>
            <div class="icon">
              <i class="fa fa-download"></i>
            </div>
            <a href="#/servicos/vincular/cadastro" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
         <div class="col-lg-3 ">
          <!-- small box -->
          <div class="small-box bg-blue">
            <div class="inner">
              <h3>04</h3>
              <p>Vistoria Serviços</p>
            </div>
            <div class="icon">
              <i class="fa fa-download"></i>
            </div>
            <a href="#/servicos/vistoria" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
       
        