<meta charset="UTF-8">

<form role="form-vertical" name="form" novalidate ng-submit="ctrl.submit(form)">
	<div class="row" ng-show="ctrl.categoria.id">
		<div class="col-sm-3">		
			Status <br>
			<input type="checkbox" ng-model="ctrl.categoria.ativo">{{ctrl.categoria.ativo ? 'Ativado' : 'Desativado'}}
		</div>
	</div>
	<div class="row">
	<div class="form-group  col-sm-6" ng-class="{ 'has-error' : form.departamento.$invalid && form.$submitted }">
	 		<a href="" class="fa fa-plus" ng-click="ctrl.implementModal('departamento')">Novo</a> | <label>Selecione o Departamento:</label>
		    <input type="text" ng-model="ctrl.categoria.departamento" placeholder="ex: Material hidraulico" id="departamento" name="departamento"
		    uib-typeahead="departamento as departamento.descricao for departamento in ctrl.buscarPorTexto($viewValue) | limitTo:8" 
		    typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true"  
		    typeahead-loading="loading" typeahead-no-results="noResults" typeahead-min-length="3" required>
		    <i ng-show="loading" class="glyphicon glyphicon-refresh"></i>
		    <div ng-show="noResults">
		      <i class="glyphicon glyphicon-remove"></i> Nenhum resultado encontrado
		    </div>
	    </div>	
		<div class="col-sm-6" ng-class="{ 'has-error' : form.descricao.$invalid && form.$submitted }">
		<label>Descrição:</label>
			<input class="form-control" ng-model="ctrl.categoria.descricao" name="descricao"
				id="descricao" type="text" placeholder="ex: tubos e conexões "
				maxlength="30" required>
		</div>		
	</div>
	<br>
	<div class="row ">
		<div class="col-md-4 col-md-offset-4">
			<input type="submit" id="submit" value="Salvar"
				class="btn btn-lg btn-primary btn-block btn-signin">
		</div>

	</div>
</form>
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <h2><span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span></h2>
  </a>
</script>
		
<!-- MODAL -->				
		<div  class="modal fade modal-default implementModal" id="implementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document" >
		    <div class="modal-content">
		      <div class="modal-header">
		      Cadastrar
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      </div>
		      <div class="modal-body">				     		
			     <div >
			      Descrição:
			      	<div class="col-md-12">
						<input type="text" class="form-control select2" ng-model="objeto.descricao">
					</div>
				</div>			       
		      </div><br><br>
		      <div class="modal-footer ">
			      <div class="col-md-4 col-md-offset-4">
			     	 <input type="button" class="btn btn-lg btn-primary btn-block btn-signin" value="Salvar" ng-click="ctrl.insertObjeto(objeto)" >
			      </div>
		      </div>
		    </div>
		  </div>
		</div>

