<meta charset="UTF-8">
<br>
<br>
<div ng-controller="cargoController as cargoCtr">

	<div class="box box-primary" ng-init="cargoCtr.lista()">
	
		<div class="box-header">
			<span class="lead">Lista de Empreendimento </span>
		</div>
		<div class="panel-body">
		<input class="form-control" type="text" ng-model="buscaCargo" placeholder="Buscar">
			<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Descrição</th>
						<th>Opções</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" cargo in cargos | filter : buscaCargo ">
					<tr>
						<td>{{ cargo.descricao }}</td>
						<td><a href="#/cargo/edita/{{cargo.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
				</tr>
				</tbody>
				<tfoot>
				
					<tr>
					
						</tr>
				</tfoot>
			</table>
			</div>
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="3">			
				<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
							    </li>
							    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
				</nav>
				</div>
			</div>
		
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
