<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"  ng-controller="areaProdutoController as areaCtrl" >

	<div class="box box-primary" >
		<!-- Default panel contents -->
		<div class="box-header" >
			<span class="lead">Cadastrar Area do Produto </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" ng-submit="areaCtrl.salva()" >
					<div class="row">		
						<label class="col-sm-2 control-label" for="ativo"> Ativo</label>	
						<div class="col-sm-3">
							<input type="checkbox" ng-model="areaCtrl.areaProduto.ativo" >
						</div>					
						<div class="col-sm-8">
							<input class="form-control" ng-model="areaCtrl.areaProduto.descricao" id="descricao" type="text" title="Cadastrar o local onde o produto sera aplicado" placeholder="cadastrar a area" required>
						</div>
					</div>
					<br>
					<br>					
					
							
					<div class="row ">
						
							<input type="button" ng-click="areaCtrl.salva()" id="submit" value="Salvar" data-dismiss="modal" ng-disabled="!areaCtrl.areaProduto.descricao"
								class="btn btn-lg btn-primary btn-block btn-signin">
						
						
					</div>
						<!-- 	<a href="javascript:window.history.go(-1)"><i class="glyphicon glyphicon-arrow-left"></i>voltar</a>
						 -->

				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
