<!DOCTYPE html>

<html id="ng-app" ng-app="gcc">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">


<title>Gestão Construção Civil</title>

	<link	href="public/components/angular-block-ui/dist/angular-block-ui.min.css"	rel="stylesheet" />
	<link href="public/components/bootstrap/dist/css/bootstrap.css"	rel="stylesheet" />
	<link href="public/components/angular-toastr/dist/angular-toastr.css"	rel="stylesheet" />
	<link href="public/css/app.css" rel="stylesheet" />
	<link href="public/css/simple-sidebar.css" rel="stylesheet">
	<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet"	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="public/dist/css/AdminLTE.min.css">
	<link rel="stylesheet" href="public/dist/css/skins/skin-purple.css">
	<link rel="stylesheet" href="public/components/sweetalert2/dist/sweetalert2.min.css">
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script	src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<link href="public/css/login.css" rel="stylesheet" />
	<link rel="stylesheet" href="public/components/angular-material/angular-material.min.css">

	<script src="public/components/angular/angular.min.js" type="text/javascript"></script>
	<script src="public/components/jquery/dist/jquery.min.js" type="text/javascript"></script>
	<script src="public/dist/js/app.min.js" type="text/javascript"></script>
	<script src="public/components/angular/angular-resource.js" type="text/javascript"></script>
	<script src="public/components/angular/ui-utils.min.js" type="text/javascript"></script>
	<script	src="public/components/angular-toastr/dist/angular-toastr.tpls.js" type="text/javascript"></script>
	<script src="public/components/angular-animate/angular-animate.js" type="text/javascript"></script>
	<script src="public/components/angular-touch/angular-touch.js" type="text/javascript"></script>
	<script	src="public/components/angular-locale-pt-br/angular-locale_pt-br.js" type="text/javascript"></script>
	<script src="public/components/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript"></script>
	<script src="public/components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
	<script	src="public/components/angular-block-ui/dist/angular-block-ui.min.js"></script>
	<script src="public/components/angular-route/angular-route.min.js" type="text/javascript"></script>
	<script src="public/components/ngstorage/ngStorage.min.js" type="text/javascript"></script>
	<script src="public/components/angular-input-masks/angular-input-masks-standalone.min.js" type="text/javascript"></script>
	<script src="public/components/es6-promise/promise.min.js" type="text/javascript"></script>
 	<script src="public/components/sweetalert2/dist/sweetalert2.min.js" type="text/javascript"></script>
 	<script src="public/components/angucomplete-alt/dist/angucomplete-alt.min.js" type="text/javascript"></script>
 	<script src="public/components/angular-animate/angular-animate.min.js" type="text/javascript"></script>
    <script src="public/components/angular-aria/angular-aria.min.js" type="text/javascript"></script>
    <script src="public/components/angular-messages/angular-messages.min.js" type="text/javascript"></script>
 	<script src="public/components/angular-material/angular-material.min.js" type="text/javascript"></script>
 	<script src="public/components/chart.js/Chart.min.js"></script>
	<script src="public/components/angular-chart.js/dist/angular-chart.min.js"></script>
	<script src="public/js/pages/app.js" type="text/javascript"></script>
	<script src="public/js/pages/login.js"></script>
	<script src="public/js/pages/backgroundLogin.js"></script>
	<script src="public/js/pages/auth/auth.js"></script>
	<script src="public/js/pages/diretivas/date.js"></script>
	
	<script src="public/js/pages/route/rotas.js" type="text/javascript"></script>
	<script src="views/templates/principal-rotas.js" type="text/javascript"></script>
	
	<script src="public/js/pages/servicos/tipo-empreendimento-service.js" type="text/javascript"></script>
	<script src="public/js/pages/servicos/unidade-medida-service.js" type="text/javascript"></script>			
	<script src="public/js/pages/servicos/busca-cep-service.js" type="text/javascript"></script>			
	<script src="public/js/pages/servicos/veirifica-dados-service.js" type="text/javascript"></script>		
	<script src="public/js/pages/servicos/endereco-service.js" type="text/javascript"></script>	
	
	
			
	<script src="public/js/pages/controller/tipo-empreendimento-controller.js" type="text/javascript"></script>
	<script src="public/js/pages/controller/controla-tempo-login.js" type="text/javascript"></script>
	<script src="public/js/pages/controller/unidade-medida-controller.js" type="text/javascript"></script>				
	<script src="public/js/pages/controller/verifica-dados-controller.js" type="text/javascript"></script>		
	<script src="public/js/pages/controller/endereco-controller.js" type="text/javascript"></script>		
	
	
	
	<script src="views/pages/modulo_admin/empresa_contratada/js/empresa-contratada-service.js" type="text/javascript"></script>	
	<script src="views/pages/modulo_admin/empresa_contratada/js/empresa-contratada-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_admin/empresa_contratada/js/empresa-contratada-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_gerenciamento/usuario/js/usuario-service.js" type="text/javascript"></script>	
	<script src="views/pages/modulo_gerenciamento/usuario/js/usuario-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_gerenciamento/usuario/js/usuario-rotas.js" type="text/javascript"></script>	
	
	<script src="views/pages/modulo_gerenciamento/usuario/permissao/js/permissao-service.js" type="text/javascript"></script>	
	<script src="views/pages/modulo_gerenciamento/usuario/permissao/js/permissao-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_gerenciamento/usuario/permissao/js/permissao-rotas.js" type="text/javascript"></script>	
	
	<script src="views/pages/modulo_gerenciamento/empreendimento/empreendimento/js/empreendimento-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_gerenciamento/empreendimento/empreendimento/js/empreendimento-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_gerenciamento/empreendimento/empreendimento/js/empreendimento-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_gerenciamento/empreendimento/configuracao/js/config-empreendimento-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_gerenciamento/empreendimento/configuracao/js/config-empreendimento-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_gerenciamento/empreendimento/configuracao/js/config-empreendimento-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_cadastros/fornecedor/js/fornecedor-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/fornecedor/js/fornecedor-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/fornecedor/js/fornecedor-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_cadastros/fabricante/js/fabricante-service.js" type="text/javascript"></script>	
	<script src="views/pages/modulo_cadastros/fabricante/js/fabricante-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/fabricante/js/fabricante-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_cadastros/morador/js/morador-service.js" type="text/javascript"></script>	
	<script src="views/pages/modulo_cadastros/morador/js/morador-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/morador/js/morador-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_cadastros/area/js/area-aplicacao-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/area/js/area-aplicacao-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/area/js/area-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_cadastros/produto/categoria/js/categoria-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/produto/categoria/js/categoria-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/produto/categoria/js/categoria-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_cadastros/produto/tipo/js/tipo-produto-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/produto/tipo/js/tipo-produto-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/produto/tipo/js/tipo-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_cadastros/produto/js/produto-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/produto/js/produto-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_cadastros/produto/js/produto-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_recursos_humanos/cargo/js/cargo-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_recursos_humanos/cargo/js/cargo-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_recursos_humanos/cargo/js/cargo-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_recursos_humanos/funcionario/js/funcionario-service.js" type="text/javascript"></script>	
	<script src="views/pages/modulo_recursos_humanos/funcionario/js/funcionario-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_recursos_humanos/funcionario/js/funcionario-rotas.js" type="text/javascript"></script>	
	
	<script src="views/pages/modulo_servicos/pacotes/js/pacote-servico-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_servicos/pacotes/js/pacote-servico-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_servicos/pacotes/js/pacote-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_servicos/prestadora_servicos/js/prestadora-servico-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_servicos/prestadora_servicos/js/prestadora-servico-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_servicos/prestadora_servicos/js/prestadora-servicos-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_servicos/vincular/js/servico-empresa-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_servicos/vincular/js/servico-empresa-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_servicos/vincular/js/servico-empresa-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_compras/cotacao/js/cotacao-compra-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_compras/cotacao/js/cotacao-compra-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_compras/cotacao/js/rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_compras/compras/js/pedido-compra-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_compras/compras/js/pedido-compra-controller.js" type="text/javascript"></script><base>
	<script src="views/pages/modulo_compras/compras/js/pedido-compra-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_estoque/requisicao/js/requisicao-estoque-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_estoque/requisicao/js/requisicao-estoque-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_estoque/requisicao/js/requisicao-estoque-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_estoque/transferencia/js/transferencia-estoque-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_estoque/transferencia/js/transferencia-estoque-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_estoque/transferencia/js/transferencia-estoque-rotas.js" type="text/javascript"></script>
	
	<script src="views/pages/modulo_estoque/js/estoque-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_estoque/js/estoque-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_estoque/js/estoque-rotas.js" type="text/javascript"></script>
	<script src="views/pages/modulo_estoque/js/nota-fiscal-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_estoque/js/nota-fiscal-service.js" type="text/javascript"></script>
	<script src="views/pages/modulo_estoque/js/saida-estoque-controller.js" type="text/javascript"></script>
	<script src="views/pages/modulo_estoque/js/saida-estoque-service.js" type="text/javascript"></script>
	
	
	<script src="views/pages/modulo_chamado/manutencao/js/chamado-manutencao-controller.js"></script>
	<script src="views/pages/modulo_chamado/manutencao/js/chamado-manutencao-service.js"></script>
	<script src="views/pages/modulo_chamado/manutencao/js/rotas.js"></script>
	
	<script src="views/pages/modulo_chamado/informatica/js/chamado-ti-controller.js"></script>
	<script src="views/pages/modulo_chamado/informatica/js/chamado-ti-service.js"></script>
	<script src="views/pages/modulo_chamado/informatica/js/rotas.js"></script>
	

	
	
	
	<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;	}	
	</style>


</head>

<div ng-if="!logado" ng-include="'views/login.html'"></div>
<!-- <div ng-if="!logado" ng-view></div> -->

<body class="hold-transition skin-purple sidebar-mini">
	<div ng-show="logado" class="wrapper">

		<header class="main-header navbar-fixed-top">		  
		    <a href="#/" class="logo navbar-top">    
		      <span class="logo-mini"><b>GCC</b></span>      
		      <span class="logo-lg"><b>Sistema</b>GCC</span>
		    </a>		    
		    <nav class="navbar navbar-top" role="navigation">      
		      <a href="#/" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		        <span class="sr-only">Toggle navigation</span>
		      </a>
		       <div class="navbar-custom-menu">
		        <ul class="nav navbar-nav">		     
					          
				 <li  class="dropdown messages-menu" ng-if="ROLE_MODULO_CHAMADO_MANUTENCAO_SUPORTE">
		                <a href="#/chamado/manutencao/suporte/lista" title="Quantidade de Chamados Abertos para Manutenção" class="dropdown-toggle" data-toggle="dropdown">
		                  <i class="fa fa-envelope-o"></i>
		                  <span class="label label-success">{{quantidadeChamadoAberto}}</span>
		                </a>					 		 
		          </li>
		          <li  class="dropdown messages-menu" ng-if="ROLE_MODULO_CHAMADO_INFORMATICA_SUPORTE">
		                <a href="#/chamado/informatica/suporte/lista" title="Quantidade de Chamados Abertos para Informática" class="dropdown-toggle" data-toggle="dropdown">
		                  <i class="fa fa-envelope-o"></i>
		                  <span class="label label-success">{{quantidadeChamadoAbertoTi}}</span>
		                </a>					 		 
		          </li>
		       <li class="dropdown user user-menu" ">
		                <a href="" class="dropdown-toggle" data-toggle="dropdown">
		                  <i class="glyphicon glyphicon-user"></i>
		                </a>
		                <ul class="dropdown-menu">
		                  <!-- User image -->
		                  <li class="user-header">
		                    <img src="public/img/avatar_2x.png" class="img-circle" alt="User Image">
		                    <p>
		                     		{{user.usuario.nome}}
		                      <small>{{user.usuario.funcionario.cargo.descricao}}</small>
		                      <small>{{user.usuario.empreendimento.descricao}}</small>
		                    </p>
		                  </li>                 
		                  <li class="user-footer">
		                    <div class="pull-left">
		                      <a href="" ng-click="userCtrl.buscaPorId(user.usuario.id)" data-toggle="modal" data-target="#alteraSenha" class="btn btn-default btn-flat">Alterar senha</a>
		                    </div>
		                    <div  class="pull-right">
		                      <a href=""  ng-click="userCtrl.buscaPorId(user.usuario.id)" data-toggle="modal" data-target="#alteraEmpreendimento"  class="btn btn-default btn-flat">Alterar Empreend.</a>
		                    </div>
		                  </li>
		                </ul>
		              </li>
		              <!-- <li ng-if="logado" ><a>Expira em,  {{horaImprimivel}}</a></li> -->
		                        
         			<li>
						<a href="" ng-controller="loginController as loginCtrl"  ng-click="loginCtrl.logout()"> Logout <i class="glyphicon glyphicon-log-out"></i>
						</a>
					</li>
		        </ul>
		      </div>
		    </nav>
		  </header>

		<div ng-if="logado" ng-controller="usuarioController as userCtrl" ng-init="userCtrl.user()" ng-include="'views/templates/menuPrincipal.html'" ></div>

		<div ng-if="logado"  class="content-wrapper">


			<section class="content">

				<div ng-if="logado" ng-view></div>

			</section>
		</div>


		<div ng-if="logado" ng-include="'views/templates/footer.html'"></div>

		
	</div>
	
	

</body>

<div ng-if="logado"  class="modal fade" id="alteraSenha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="usuarioController as userCtrl">
				  <div class="modal-dialog" role="document" >
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Dados Usúario</h4>
				      </div>
				      <div class="modal-body">				      	
				     		{{user.usuario.nome}}
				      		<br>
					      <div class="row">
					      	<div class="col-sm-4">
								<input type="password" class="form-control" id="senha" ng-model="userCtrl.senha" placeholder="Senha"
									title="Digite uma senha" maxlength="12" required>
							</div>
							<div class="col-sm-4">
								<input type="password" class="form-control" id="repitaSenha" ng-model="userCtrl.senhaRepitida" placeholder="Repita a Senha"
									title="repita a senha" required>
							</div>
					      </div>
					       
				      </div>
				      <div class="modal-footer">
				        <button type="button" ng-click="userCtrl.alteraSenha(user)" class="btn btn-primary">Alterar</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
				
				
				<div ng-if="logado"  class="modal fade" id="alteraEmpreendimento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="usuarioController as userCtrl">
				  <div class="modal-dialog" role="document" >
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Alterar Empreendimento</h4>
				      </div>
				      <div class="modal-body">				      	
				     		
					      <div class="row">
					      	<div  class="col-sm-12" ng-controller="empreendimentoController as empCtrl" ng-init="empCtrl.lista()">
							<select class="form-control " ng-model="userCtrl.usuario.empreendimento" 
								ng-options="listarEmpreendimentos.descricao group by listarEmpreendimentos.tipoEmpreendimento for listarEmpreendimentos in empreendimentos"
								style="width: 100%;" required>
								<option  value="">--selecione o Empreendimento--</option>
							</select>
						</div>		
					      </div>
					       
				      </div>
				      <div class="modal-footer">
				        <button type="button" ng-click="userCtrl.alteraEmpreendimento(user.usuario)" class="btn btn-primary">Alterar</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
</html>