<!DOCTYPE html>

<html id="ng-app" ng-app="gcc">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">


<title>Gestão Construção Civil</title>

<link href="public/components/angular-chart.js/dist/angular-chart.css"	rel="stylesheet" />
<link	href="public/components/angular-block-ui/dist/angular-block-ui.min.css"	rel="stylesheet" />
<link href="public/components/bootstrap/dist/css/bootstrap.css"	rel="stylesheet" />
<link href="public/components/angular-toastr/dist/angular-toastr.css"	rel="stylesheet" />
<link href="public/css/app.css" rel="stylesheet" />
<link href="public/css/simple-sidebar.css" rel="stylesheet">
<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet"	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="public/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="public/dist/css/skins/skin-purple.css">
<link rel="stylesheet" href="public/components/sweetalert2/dist/sweetalert2.min.css">
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script	src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<link href="/public/css/login.css" rel="stylesheet" />
<link rel="stylesheet" href="public/components/angular-material/angular-material.min.css">

	<script src="public/components/angular/angular.min.js"></script>
	<script src="public/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<script src="public/dist/js/app.min.js"></script>
	<script src="public/components/angular/angular-resource.js"></script>
	<script src="public/components/angular/ui-utils.min.js"></script>
	<script	src="public/components/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<script src="public/components/angular-animate/angular-animate.js"></script>
	<script src="public/components/angular-touch/angular-touch.js"></script>
	<script	src="public/components/angular-locale-pt-br/angular-locale_pt-br.js"></script>
	<script src="public/components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="public/components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script	src="public/components/angular-block-ui/dist/angular-block-ui.min.js"></script>
	<script src="public/components/angular-route/angular-route.min.js"></script>
	<script src="public/components/Chart.js/Chart.js"></script>
	<script src="public/components/angular-chart.js/dist/angular-chart.js"></script>
	<script src="public/components/ngstorage/ngStorage.min.js"></script>
	<script src="public/components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
	<script src="public/components/es6-promise/promise.min.js"></script>
 	<script src="public/components/sweetalert2/dist/sweetalert2.min.js"></script>
 	<script src="public/components/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
 	<script src="public/components/angular-animate/angular-animate.min.js"></script>
    <script src="public/components/angular-aria/angular-aria.min.js"></script>
    <script src="public/components/angular-messages/angular-messages.min.js"></script>
 	<script src="public/components/angular-material/angular-material.min.js"></script>
	<script src="public/js/pages/app.js"></script>
	
	<script src="public/js/pages/diretivas/minha-diretiva.js"></script>
	<script src="public/js/pages/diretivas/date.js"></script>
	
	
	<script src="public/js/pages/route/rotas.js"></script>
	<script src="public/js/pages/permission/role.js"></script>
	
	<script src="public/js/pages/servicos/admin-sistema-service.js"></script>
	<script src="public/js/pages/servicos/funcionario-service.js"></script>
	<script src="public/js/pages/servicos/cargo-service.js"></script>
	<script src="public/js/pages/servicos/tipo-empreendimento-service.js"></script>
	<script src="public/js/pages/servicos/empreendimento-service.js"></script>
	<script src="public/js/pages/servicos/config-empreendimento-service.js"></script>
	<script src="public/js/pages/servicos/empreendimento-service.js"></script>
	<script src="public/js/pages/servicos/unidade-medida-service.js"></script>
	<script src="public/js/pages/servicos/produto-service.js"></script>
	<script src="public/js/pages/servicos/fornecedor-service.js"></script>
	<script src="public/js/pages/servicos/categoria-service.js"></script>
	<script src="public/js/pages/servicos/mascaras.js"></script>
	<script src="public/js/pages/servicos/busca-cep-service.js"></script>
	<script src="public/js/pages/servicos/prestadora-servico-service.js"></script>
	<script src="public/js/pages/servicos/pacote-servico-service.js"></script>
	<script src="public/js/pages/servicos/usuario-service.js"></script>	
	<script src="public/js/pages/servicos/nota-fiscal-service.js"></script>	
	<script src="public/js/pages/servicos/fabricante-service.js"></script>	
	<script src="public/js/pages/servicos/area-produto-service.js"></script>	
	<script src="public/js/pages/servicos/tipo-produto-service.js"></script>
	<script src="public/js/pages/servicos/veirifica-dados-service.js"></script>
	<script src="public/js/pages/servicos/estoque-service.js"></script>
	<script src="public/js/pages/servicos/servico-empresa-service.js"></script>
	<script src="public/js/pages/servicos/endereco-service.js"></script>
	<script src="public/js/pages/servicos/cotacao-compra-service.js"></script>
	<script src="public/js/pages/servicos/pedido-compra-service.js"></script>
	<script src="public/js/pages/servicos/requisicao-estoque-service.js"></script>
	<script src="public/js/pages/servicos/transferencia-estoque-service.js"></script>
	<script src="public/js/pages/servicos/saida-estoque-service.js"></script>
	
	<script src="public/js/pages/controller/admin-sistema-controller.js"></script>
	<script src="public/js/pages/controller/funcionario-controller.js"></script>
	<script src="public/js/pages/controller/cargo-controller.js"></script>
	<script src="public/js/pages/controller/tipo-empreendimento-controller.js"></script>
	<script src="public/js/pages/controller/empreendimento-controller.js"></script>
	<script src="public/js/pages/controller/config-empreendimento-controller.js"></script>
	<script src="public/js/pages/controller/unidade-medida-controller.js"></script>
	<script src="public/js/pages/controller/produto-controller.js"></script>
	<script src="public/js/pages/controller/fornecedor-controller.js"></script>
	<script src="public/js/pages/controller/categoria-controller.js"></script>
	<script src="public/js/pages/controller/prestadora-servico-controller.js"></script>
	<script src="public/js/pages/controller/pacote-servico-controller.js"></script>
	<script src="public/js/pages/controller/usuario-controller.js"></script>
	<script src="public/js/pages/controller/nota-fiscal-controller.js"></script>
	<script src="public/js/pages/controller/fabricante-controller.js"></script>
	<script src="public/js/pages/controller/area-produto-controller.js"></script>
	<script src="public/js/pages/controller/tipo-produto-controller.js"></script>
	<script src="public/js/pages/controller/verifica-dados-controller.js"></script>
	<script src="public/js/pages/controller/estoque-controller.js"></script>
	<script src="public/js/pages/controller/servico-empresa-controller.js"></script>
	<script src="public/js/pages/controller/endereco-controller.js"></script>
	<script src="public/js/pages/controller/cotacao-compra-controller.js"></script>
	<script src="public/js/pages/controller/pedido-compra-controller.js"></script>
	<script src="public/js/pages/controller/requisicao-estoque-controller.js"></script>
	<script src="public/js/pages/controller/transferencia-estoque-controller.js"></script>
	<script src="public/js/pages/controller/saida-estoque-controller.js"></script>
	
	<script src="public/js/pages/login.js"></script>
	<script src="public/js/pages/backgroundLogin.js"></script>
	<script src="public/js/pages/auth/auth.js"></script>
	<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {display: none !important;	}	
	</style>


</head>

<div ng-if="!logado" ng-include="'views/login.html'"></div>
<!-- <div ng-if="!logado" ng-view></div> -->

<body class="hold-transition skin-purple sidebar-mini">
	<div ng-show="logado" class="wrapper">

		<header class="main-header">		  
		    <a href="#/" class="logo">    
		      <span class="logo-mini"><b>Sis</b>GCC</span>      
		      <span class="logo-lg"><b>Sistema</b>GCC</span>
		    </a>		    
		    <nav class="navbar navbar-static-top" role="navigation">      
		      <a href="#/" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		        <span class="sr-only">Toggle navigation</span>
		      </a>
		       <div class="navbar-custom-menu">
		        <ul class="nav navbar-nav">		     
				
		       <li class="dropdown user user-menu">
		                <a href="" class="dropdown-toggle" data-toggle="dropdown">
		                  <i class="glyphicon glyphicon-user"></i>
		                </a>
		                <ul class="dropdown-menu">
		                  <!-- User image -->
		                  <li class="user-header">
		                    <img src="public/img/avatar_2x.png" class="img-circle" alt="User Image">
		                    <p>
		                     		{{user.usuario.nome}}
		                      <small>{{user.usuario.funcionario.cargo.descricao}}</small>
		                    </p>
		                  </li>                 
		                  <li class="user-footer">
		                    <div class="pull-left">
		                      <a href="" ng-click="userCtrl.buscaPorId(user.usuario.id)" data-toggle="modal" data-target="#alteraSenha" class="btn btn-default btn-flat">Alterar senha</a>
		                    </div>
		                    <div  class="pull-right">
		                      <a href=""  ng-click="userCtrl.buscaPorId(user.usuario.id)" data-toggle="modal" data-target="#alteraEmpreendimento"  class="btn btn-default btn-flat">Alterar Empreend.</a>
		                    </div>
		                  </li>
		                </ul>
		              </li>
		              <li><a>Empreendimento: {{user.usuario.empreendimento.descricao}}</a></li>          
         			<li>
						<a href="" ng-controller="loginController as loginCtrl"  ng-click="loginCtrl.logout()"> Logout <i class="glyphicon glyphicon-log-out"></i>
						</a>
					</li>
		        </ul>
		      </div>
		    </nav>
		  </header>

		<div ng-if="logado" ng-include="'views/templates/menu.html'"></div>

		<div ng-if="logado"  class="content-wrapper">


			<section class="content">

				<div ng-if="logado" ng-view></div>

			</section>
		</div>


		<div ng-if="logado" ng-include="'views/templates/footer.html'"></div>

		
	</div>

</body>

<div ng-if="logado"  class="modal fade" id="alteraSenha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="usuarioController as userCtrl">
				  <div class="modal-dialog" role="document" >
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Dados Usúario</h4>
				      </div>
				      <div class="modal-body">				      	
				     		{{user.usuario.nome}}
				      		<br>
					      <div class="row">
					      	<div class="col-sm-4">
								<input type="password" class="form-control" id="senha" ng-model="userCtrl.senha" placeholder="Senha"
									title="Digite uma senha" maxlength="12" required>
							</div>
							<div class="col-sm-4">
								<input type="password" class="form-control" id="repitaSenha" ng-model="userCtrl.senhaRepitida" placeholder="Repita a Senha"
									title="repita a senha" required>
							</div>
					      </div>
					       
				      </div>
				      <div class="modal-footer">
				        <button type="button" ng-click="userCtrl.alteraSenha(user)" class="btn btn-primary">Alterar</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
				
				
				<div ng-if="logado"  class="modal fade" id="alteraEmpreendimento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="usuarioController as userCtrl">
				  <div class="modal-dialog" role="document" >
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Alterar Empreendimento</h4>
				      </div>
				      <div class="modal-body">				      	
				     		
					      <div class="row">
					      	<div  class="col-sm-12" ng-controller="empreendimentoController as empCtrl" ng-init="empCtrl.lista()">
							<select class="form-control " ng-model="userCtrl.usuario.empreendimento" 
								ng-options="listarEmpreendimentos.descricao group by listarEmpreendimentos.tipoEmpreendimento for listarEmpreendimentos in empreendimentos"
								style="width: 100%;" required>
								<option  value="">--selecione o Empreendimento--</option>
							</select>
						</div>		
					      </div>
					       
				      </div>
				      <div class="modal-footer">
				        <button type="button" ng-click="userCtrl.alteraEmpreendimento(user.usuario)" class="btn btn-primary">Alterar</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
</html>