<meta charset="UTF-8">
<div class="generic-container" ng-controller="empreendimentoController as empCtrl">

	<div class="box box-primary" >
		<!-- Default panel contents -->
		<div class="box-header" >
			<span class="lead"> cadastrar Empreendimento </span>
		</div>
		<div class="panel-body" >

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" ng-submit="empCtrl.createEmpreendimento()">
					<div class="row">
						<label class="col-sm-1 control-label" for="descricao">Descrição</label>
						<div class="col-sm-11">
							<input ng-model="empCtrl.empreendimento.descricao" class="form-control" id="descricao" type="text">
						</div>
							
					</div>
					<br>
					<div class="row">
						<label class="col-sm-1 control-label" for="valorMaximoGastar">Valor
							Total</label>
						<div class="col-sm-4">
							<input ng-model="empCtrl.empreendimento.valorMaximoGastar" class="form-control" id="valorMaximoGastar" type="text" >
						</div>
						<label class="col-sm-2 control-label" for="tipoEmpreendimento">Tipo
							Empreendimento</label>
						<div class="col-sm-5" ng-init="empCtrl.buscarTipoEmpreendimentos()" >
							<select class="form-control select2" ng-model="empCtrl.empreendimento.tipoEmpreendimento" 
							ng-options="listarTipoEmpreendimentos for listarTipoEmpreendimentos in listarTipoEmpreendimento" 
							  style=" width: 100%;" >
								<option value="">---Selecione---</option>
							</select>
						</div>
					
					</div>
					<br>
					<div class="row">
						<label class="col-sm-1 control-label" for="dataAbertura">Data
							Abertura</label>
						<div class="col-sm-4">
							<input ng-model="empCtrl.empreendimento.dataAbertura" class="form-control" id="dataAbertura" type="date" required >
						</div>
						<label class="col-sm-2 control-label" for="datafechamento">Data
							Fechamento</label>
						<div class="col-sm-5">
							<input ng-model="empCtrl.empreendimento.datafechamento" class="form-control" id="datafechamento" type="date"  required >
						</div>
					</div>
					<br>
					

					<h4>Equipe responsavel</h4>
					
					<hr>
					
					<div class="row">
					<label class="col-sm-3 control-label"> Selecione se o Engenheiro for de Empresa Terceirizado</label>
					<div class="col-sm-1">
					
					<input type="checkbox" ng-model="funcionarios">
					
					</div>
					</div>
				<br>
				<div class="row">
						<label class="col-sm-2 control-label" ng-if="!funcionarios"
							for="engenheiroResponsavelFuncionario">Engenheiro
							Funcionario</label>
						<div class="col-sm-4" ng-if="!funcionarios " ng-controller="cadastrarFuncionarioController as funCtrl" ng-init="funCtrl.buscarFuncionariosEngenheiro()">
								<select class="form-control select2" ng-model="empCtrl.empreendimento.engenheiroResponsavelFuncionario" ng-options="engenheiros.nomeCompleto  group by engenheiros.shade for engenheiros in engenheiro" style="width: 100%;">
									<option value="">---Selecione---</option>                                                                                 
															</select>
						</div>
						<label class="col-sm-2 control-label" ng-if="funcionarios"
							for="engenheiroResponsavelTerceiro">Engenheiro
							Terceirizado</label>
						<div class="col-sm-4">
								<select class="form-control select2" style="width: 100%;" ng-if="funcionarios">
									<option value="">---Selecione---</option>
							</select>
						</div>
					</div>
					<br>
					<h4>Endereço</h4>

					<hr>
					<div class="row">
						<label class="col-sm-1 control-label" for="cep">CEP</label>
						<div class="col-sm-5">
							<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.cep" class="form-control" id="cep" type="search"
								placeholder="Busca Cep">
						</div>
						<label class="col-sm-1 control-label" for="numero">Numero</label>
						<div class="col-sm-5">
							<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.numero" class="form-control" id="numero" type="text">
						</div>
					</div>
					<br>

					<div class="row">
						
							<label class="col-sm-1 control-label" for="rua">Rua</label>
							<div class="col-sm-11">
								<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.rua" class="form-control" id="rua" type="text">
							</div>
					</div>
					<br>
					<div class="row">
						
							<label class="col-sm-1 control-label" for="bairro">Bairro</label>
							<div class="col-sm-5">
								<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.bairro" class="form-control" id="bairro" type="text">
							</div>
							<label class="col-sm-1 control-label" for="cidade">Cidade</label>
							<div class="col-sm-5">
								<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.cidade" class="form-control" id="cidade" type="text">
							</div>
					</div>
					<br>
					<div class="row">

							<label class="col-sm-1 control-label" for="estado">Estado</label>
							<div class="col-sm-5">
								<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.estado" class="form-control" id="estado" type="text">
							</div>
						
					</div>
					<br>
					<div class="row">
						<label class="col-sm-1 control-label" for="complemento">Complemento</label>
						<div class="col-sm-11">
							<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.complemento" class="form-control" id="complemento" type="text">
						</div>
					</div>
					<br>

						<div ng-if="gravado" class="alert alert-info alert-dismissible"
						role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Sucesso</strong> cadastro realizado
					</div>


					<div ng-if="naoGravado"
						class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Error</strong> cadastro não realizado
					</div>
					<br>
					<div class="row ">
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<button type="submit" name="submit"
								class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>
						</div>
						<div class="col-sm-3">

							<button type="submit" name="submit"
								class="btn btn-lg btn-danger btn-block btn-signin">Cancelar</button>
						</div>
					</div>


				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
