<meta charset="UTF-8">
<div class="row">
	<div class="col-md-4">
		<a class="fa fa-plus" href="" ui-sref="produto.cadastrar" title="Cadastrar novo produto">Novo</a>|<label>Produto</label>
	</div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Digite uma descrição" ng-model="texto" autofocus
      	 ng-keyup="$event.keyCode == 13 && ctrl.buscarPorTexto(texto)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="ctrl.paginaCorrente = 0; ctrl.buscarPorTexto(texto)">Pesquisar!</button>
      </span>
    </div>
  </div>
 </div>
 <div ng-show="mensagemErro" class="alert alert-warning alert-dismissible">
	                <h4><i class="icon fa fa-warning"></i>{{mensagemErro}}</h4>
</div> <br>

 <div align="center">
			<div class="small-box bg-aqua">
				<div class="inner" align="center">
					<h3>Produtos</h3>					
				</div>
			</div>
		</div>	
			<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>				
						<th>Código</th>
						<th>Descrição</th>
						<th>Unidade Medida</th>
						<th>Categoria</th>
						<th>Fabricante</th>
						<th >Editar</th>						
					</tr>
				</thead>
				<tbody	ng-repeat=" produto in ctrl.produtos | filter : texto ">
					<tr>						
						<td>{{ produto.codigo ? produto.codigo : produto.codigoBarra }}</td>
						<td>{{ produto.descricao }}</td>
						<td>{{ produto.unidadeMedida }}</td>
						<td>{{ produto.categoria.descricao }}</td>	
						<td>{{ produto.fabricante.dadoEmpresa.nomeFantasia }}</td>			
						<td><a ui-sref="produto.editar({ idProduto: produto.id})"><i class="glyphicon glyphicon-edit"></i></a></td>						
					</tr>
				</tbody>
				<tfoot>					
				</tfoot>
			</table>
			<nav>
		<nav>
				<ul uib-pagination total-items="ctrl.totalElementos" items-per-page="24"
					ng-model="ctrl.paginaCorrente" max-size="5" class="pagination-sm"
					boundary-link-numbers="true" ng-click="ctrl.buscarPorTexto(texto)"
					previous-text="Anterior" last-text="Último" first-text="Primeiro"
					next-text="Próximo">
				</ul>
			</nav>
	</nav>
	</div>