<meta charset="UTF-8">
<br>
<br>

<div ng-controller="adminSistemaController as adminCtrl">

	<div class="box box-primary" ng-init="adminCtrl.lista(0 , 15)">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Lista de Empresa </span>
		</div>
		<div class="panel-body table-responsive" >
					<select   ng-click="adminCtrl.lista(adminCtrl.getPage , maxResults)" ng-model="maxResults" title="escolha a quantidade de itens por página" >
						<option value="5">5</option>
						<option value="15">15</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
			<input type="text" class="form-control" ng-model="texto" ng-blur="adminCtrl.buscarPorTexto(adminCtrl.getPage)" ng-model-options="{ debounce: 100  }"
				placeholder="Buscar">
				<div class="table-responsive">
			<table class="table  table-hover table-bordered">
				<thead>
					<tr>
						<th>Razão Social</th>
						<th>Nome Fantasia</th>
						<th>CNPJ</th>
						<th>Telefone</th>
						<th>Inscrição Estadual</th>
						<th>Estado</th>
						<th ng-if="ROLE_EMPRESA_CONTRATADA_ALTERAR">Editar</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" empresa in adminCtrl.listaEmpresa | filter : buscaEmpresa ">
					<tr>
						<td>{{empresa.dadoEmpresa.razaoSocial }}</td>
						<td>{{empresa.dadoEmpresa.nomeFantasia }}</td>
						<td>{{empresa.dadoEmpresa.cnpj }}</td>
						<td>{{empresa.dadoEmpresa.telefone }}</td>
						<td>{{empresa.dadoEmpresa.inscricaoEstadual}}</td>
						<td>{{empresa.dadoEmpresa.endereco.uf }}</td>
						<td ng-if="ROLE_EMPRESA_CONTRATADA_ALTERAR"><a href="#/empresa_contratada/alteracao/{{empresa.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
					
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						
						<th>		</th>

					
			
				</tr>
				</tfoot>
				
			</table>
			</div>
			
			<div class="row">
				<div class="col-sm-5"></div>				
				<div class="2">				
					<nav>
						<ul class="pagination">
						
							<li class="{{0==adminCtrl.getPage ?'disabled':''}}"><a
								ng-if="0!=adminCtrl.getPage" ng-click="adminCtrl.lista(adminCtrl.getPage -1, maxResults)"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a> <a ng-if="0==adminCtrl.getPage" aria-label="Previous"> <span
									aria-hidden="true">&laquo;</span></a></li>
							<li ng-repeat="page in adminCtrl.totalPages"
								class="{{page==adminCtrl.getPage ?'active':''}}"><a
								ng-click="adminCtrl.lista(page , maxResults)">{{page + 1}}</a></li>
							<li class="{{adminCtrl.getPage+1 == totalPages ?'disabled':''}}"><a
								ng-if="adminCtrl.getPage+1 != totalPages"
								ng-click="adminCtrl.lista(adminCtrl.getPage+1, maxResults)" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a> <a ng-if="adminCtrl.getPage+1==totalPages" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a></li>
							
						</ul>
					</nav>
				</div>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
