<meta charset="UTF-8">
<br>
<br>
<div ng-controller="pacoteServicoController as pacotesCtrl">

	<div class="box box-primary" >
		<!-- Default panel contents -->
		<div class="box-header" >
			<span class="lead"> Cadastro Pacotes de Serviços </span>
		</div>
		<div class="panel-body" >

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="pacotesForm" ng-submit="pacotesCtrl.salva()">
					
					<br>
					<!-- <div class="row">		
						<label class="col-sm-2 control-label" for="ativo"> Ativo</label>	
						<div class="col-sm-3">
							<input type="checkbox" ng-model="pacotesCtrl.pacoteServico.ativo" >
						</div>						
					</div>
					<br> -->
					
					<div class="row">					
					<!-- <div class="col-sm-2">					
							<input  class="form-control" ng-model="pacotesCtrl.pacoteServico.codigo" id="codigo" placeholder="Código" type="text"  required >
						</div> -->
						<div class="col-sm-4">
							<input  class="form-control" id="nome" type="text" ng-model="pacotesCtrl.pacoteServico.descricao" placeholder="Nome" required >
						</div>
						<div class="col-sm-4" ng-controller="categoriaController as categoriaCtrl" ng-init="categoriaCtrl.lista()">
						<select class="form-control select2" ng-model="pacotesCtrl.pacoteServico.categoria" 
							ng-options="listaCategorias.descricao for listaCategorias in categoriaCtrl.categorias" 
							  style=" width: 100%;" required >
								<option value="">---Categoria---</option>
							</select>
						</div>
					</div>
					<br>					
					
					
			
					<div class="row">
						<div class="col-sm-6">
					      <textarea class="textarea form-control" ng-model="pacotesCtrl.pacoteServico.servicosAtribuidos"  placeholder="Serviços Atribuidos" required ></textarea>
            	   	</div>										
					</div>
					<br>
					<div class="row">
							<div class="col-sm-6">
					      <textarea class="textarea form-control"  ng-model="pacotesCtrl.pacoteServico.criterioServico" placeholder="Critérios" ></textarea>
            	   	</div>	
					</div>
					<br>
					<div class="row">
						<div class="col-sm-4">
							<input  class="form-control" id="valor" type="text" ng-model="pacotesCtrl.pacoteServico.valor" placeholder="Valor" ui-money-mask="2"  required >
						</div>
					</div>
							<br>
							<br>
							
					<div class="row ">
				
							<input type="submit" id="submit" value="Salvar"
								class="btn btn-lg btn-primary btn-block btn-signin">
						
					</div>
					
				</form>
			</div>
			
		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
