<meta charset="UTF-8">
<br>
<br>
<div ng-controller="pacoteServicoController as pacotesCtrl" >

	<div class="box box-primary" ng-init="pacotesCtrl.buscaTodosComPaginacao(0 , 15)">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Lista pacotes serviços </span>
		</div>
		<div class="panel-body"  >
		<select   ng-click="pacotesCtrl.buscaTodosComPaginacao(pacotesCtrl.getPage , maxResults)" ng-model="maxResults" title="escolha a quantidade de itens por página" >
						<option value="5">5</option>
						<option value="15">15</option>
						<option value="20">20</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
		
		<input class="form-control" type="text" placeholder="Buscar" ng-model="buscaPacotes" >
			<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>nome do pacote</th>
						<th>categoria</th>
						<th>valor</th>
						
					</tr>
				</thead>
				<tbody
					ng-repeat=" pacoteServico in pacotesCtrl.listaPacoteServicos | filter : buscaPacotes">
					<tr>
						<td>{{ pacoteServico.codigoPacote }}</td>
						<td>{{ pacoteServico.descricao }}</td>
						<td>{{ pacoteServico.categoria.descricao }}</td>
						<td>{{ pacoteServico.valor | currency }}</td>
						
						<td ng-if="ROLE_PACOTES_ALTERAR"><a href="#/servicos/pacotes/edita/{{pacoteServico.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
						
						
						</tr>

				</tbody>
				<tfoot>
					<tr>
	
					</tr>
				</tfoot>
			</table>			
			</div>
			<div class="row">
				<div class="col-sm-5"></div>				
				<div class="2">				
					<nav>
						<ul class="pagination">
						
							<li class="{{0==pacotesCtrl.getPage ?'disabled':''}}"><a
								ng-if="0!=pacotesCtrl.getPage" ng-click="pacotesCtrl.buscaTodosComPaginacao(pacotesCtrl.getPage -1, maxResults)"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a> <a ng-if="0==pacotesCtrl.getPage" aria-label="Previous"> <span
									aria-hidden="true">&laquo;</span></a></li>
							<li ng-repeat="page in pacotesCtrl.totalPages"
								class="{{page==pacotesCtrl.getPage ?'active':''}}"><a
								ng-click="pacotesCtrl.buscaTodosComPaginacao(page , maxResults)">{{page + 1}}</a></li>
							<li class="{{pacotesCtrl.getPage+1 == totalPages ?'disabled':''}}"><a
								ng-if="pacotesCtrl.getPage+1 != totalPages"
								ng-click="pacotesCtrl.buscaTodosComPaginacao(pacotesCtrl.getPage+1, maxResults)" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a> <a ng-if="pacotesCtrl.getPage+1==totalPages" aria-label="Next"> <span
									aria-hidden="true">&raquo;</span>
							</a></li>
							
						</ul>
					</nav>
				</div>
			</div>
			
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
