<meta charset="UTF-8">
<br>
<br>
<div ng-controller="pacoteServicoController as pacotesCtrl" >

	<div class="box box-primary" ng-init="pacotesCtrl.lista()">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Lista pacotes serviços </span>
		</div>
		<div class="panel-body"  >
		
		<input class="form-control" type="text" placeholder="Buscar" ng-model="buscaPacotes" >
			<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Codigo</th>
						<th>nome do pacote</th>
						<th>categoria</th>
						<th>valor</th>
						
					</tr>
				</thead>
				<tbody
					ng-repeat=" pacoteServico in pacotesCtrl.listaPacoteServicos | filter : buscaPacotes">
					<tr>
						<td>{{ pacoteServico.codigo }}</td>
						<td>{{ pacoteServico.descricao }}</td>
						<td>{{ pacoteServico.categoria.descricao }}</td>
						<td>{{ pacoteServico.valor | currency }}</td>
						
						<td><a href="#/servicos/pacotes/edita/{{pacoteServico.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
						
						
						</tr>

				</tbody>
				<tfoot>
					<tr>
	
					</tr>
				</tfoot>
			</table>			
			</div>
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="3">			
				<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
							    </li>
							    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
				</nav>
				</div>
			</div>
			
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
