<meta charset="UTF-8">
<br>
<br>
<div ng-controller="cadastrarFuncionarioController as funCtrl" >

	<div class="box box-primary" ng-init="funCtrl.lista()">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Lista de Funcionarios </span>
		</div>
		<div class="panel-body"  >
		
		<input class="form-control" type="text" placeholder="Buscar" ng-model="buscaFuncionario" >
			<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>CPF</th>
						<th>Cargo</th>
						<th>Telefone</th>
						<th>Sexo</th>
						<th>Cidade</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" funcionario in funCtrl.listaFuncionarios | filter : buscaFuncionario">
					<tr>
					<td>{{ funcionario.nomeCompleto }}</td>
						<td>{{ funcionario.cpf }}</td>
						<td>{{ funcionario.cargo.descricao }}</td>
						<td>{{ funcionario.telefoneCelular}}</td>
						<td>{{ funcionario.sexo }}</td>
						<td>{{ funcionario.endereco.localidade}}</td>
						<td><a href="#/funcionario/edita/{{funcionario.id}}"><i class="glyphicon glyphicon-pencil"></i></a>
					</tr>

				</tbody>
				<tfoot>
					<tr>
					

					</tr>
				</tfoot>
			</table>
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="3">			
				<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
							    </li>
							    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
				</nav>
				</div>
			</div>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
