<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"	ng-controller="servicoEmpresaController as servicoCtrl">
	<div class="box box-primary">
		<div class="box-header">
			<span class="lead"> Vincular Serviços </span>
		</div>
		<div class="panel-body">
		<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical"
					ng-submit="servicoCtrl.salva()">		
						<label ng-if="!tipoEmpreendimento"  class="radio-inline"><input type="radio"  ng-model="tipo.tipo" value="casa" ng-click="servicoCtrl.tipoConf()" name="optradio">Casa</label>
						<label ng-if="tipoEmpreendimento" class="radio-inline"><input type="radio"  ng-model="tipo.tipo" value="edificio" ng-click="servicoCtrl.tipoConf()" name="optradio">Edificio</label>
						<label class="radio-inline"><input type="radio"   ng-model="tipo.tipo" value="comunitaria" ng-click="servicoCtrl.tipoConf()" name="optradio">Edificações Comunitaria</label> 
					<br>
					<br>
					<br>
							<div class="row" ng-if="casa" ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.quantidadeCasa()">
						
						<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-model="estoqueCtrl.NumeroCasa" 
							ng-options="lista for lista in configCtrl.qtdeCasa.quantidadeCasa" required>
								<option value="">---Casa---</option>
							</select>
						</div>
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-model="estoqueCtrl.andar"  
							ng-options="lista for lista in configCtrl.qtdeCasa.quantidadeAndarCasa" required>
								<option value="">---Andar---</option>
							</select>
						</div>

					</div>					
					<div ng-if="edificio" class="row" ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.quantidadeEdificio()">
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;"  ng-model="servicoCtrl.servicoEdifico.torre"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeTorres" 
							 title="Selecione a torre a qual será atribuido a saida do produto" required>
								<option value="">---Torre---</option>
							</select>
						</div>

						
						<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;"  ng-model="servicoCtrl.servicoEdifico.andar"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeAndares"
							 title="Selecione o andar a qual será atribuido a saída do produto" required>
								<option value="">---Andar---</option>
							</select>
						</div>
	
						<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;"  ng-model="servicoCtrl.servicoEdifico.apartamento"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeApartamentos" 
							 title="Selecione o apartamento a qual será atribuido a saída do produto" required>
								<option value="">---Apartamento---</option>
							</select>
						</div>
					</div>									
					
								
					<div class="row" ng-if="comunitaria">
						<div class="col-sm-5"  ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.listaOutros()">
							<select class="form-control select2" style=" width: 100%;" ng-model="config" 
							 ng-options="lista.descricao for lista in configCtrl.listaOutros" required>
								<option value="">---Outros imoveis---</option>
							</select>			
					</div>
					</div>
					<br>
					<div class="row" ng-controller="pacoteServicoController as pacotesCtrl" ng-init="pacotesCtrl.lista()" >	
					<div class="col-sm-5">			
						<select class="form-control " style=" width: 100%;"  ng-model="servicoCtrl.servicoEdifico.pacoteServico"
							 ng-options="lista.descricao for lista in pacotesCtrl.listaPacoteServicos" 
							 title="Selecione o pacote de serviço a ser atribuido a empresa" required>
								<option value="">---Pacotes de Serviço---</option>
							</select>
					</div>	
						
					<div class="col-sm-5" ng-controller="prestadoraServicoController as prestadoraCtrl" ng-init="prestadoraCtrl.lista()">			
						<select class="form-control "   width: 100%;" ng-model="servicoCtrl.servicoEdifico.prestadoraServico"
							 ng-options="lista.dadoEmpresa.nomeFantasia for lista in prestadoraCtrl.prestadoraServicos" 
							 title="Selecione o pacote de serviço a ser atribuido a empresa" required>
								<option value="">---Prestadora de Serviço---</option>
							</select>
						</div>
					</div>
					<br>
					
					<div class="row ">
						
							<button type="submit" name="submit" 
								class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>
						
					</div>
				</form>
			</div>
			<div class="tablecontainer"></div>
		</div>
	</div>
	</div>