html, body, #mainWrapper {
	height: 100%;
	/* background-color:rgb(245, 245, 245); */
}

/* */
body, .form-control {
	/* font-size: 12px !important; */
	
}

.geral {
	min-height: 100%;
	position: relative;
	width: 800px;
}

.floatRight {
	float: right;
	margin-right: 18px;
}

.has-error {
	color: red;
}

.formcontainer {
	/* background-color: #DAE8E8; */
	padding: 20px;
}

.tablecontainer {
	/* 	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px; */
	padding: 20px;
}

.generic-container {
	/*  width:97%; */
	/*   margin-left: 2%; */
	margin-top: 20px;
	/*   margin-bottom: 20px; */
	padding: 20px;
	/*   background-color: #EAE7E7; */
	/*   border: 1px solid #ddd; */
	border-radius: 4px;
	/*  box-shadow: 0 0 30px black; */
}

.custom-width {
	width: 90px !important;
}

#main-nav .navbar-brand {
	padding: 10px 15px;
	text-decoration: none;
}

#main-nav .navbar-brand img {
	height: 45px;
	max-width: 10em;
	margin-top: -7px;
}

/* padding 80px é necessário para escapar a navbar */
#gcc-body {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -250px;
	padding: 80px 0 250px;
}

/* 
 * rodapé
 */
#footer, #header {
	background-color: #1E4282;
	color: #fff;
}

#footer {
	padding: 40px 0 30px;
	color: #fff;
	border-top: 5px solid white;
	bottom: 0;
	width: 100%;
}

#gcc-footer {
	background-color: #1E4282;
	height: 100%;
	margin-bottom: 0;
	position: absolute;
	margin-top: 50px;
	position: relative;
	border-top: 0;
	color: #fff;
	
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

#gcc-footer:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .15;
	/* background-image: url("../../img/bg.png"); */
}

footer .container {
	
    text-align: center;
    max-width: 750px;
    padding: 20px 15px 0px;
    position: relative;
    z-index: 2;
	
}
.thumbnail_pessoa {
	height: 200px !important;
}

.thumbnail_pessoa_small {
	height: 100px !important;
}

.new-row {
	clear: left;
}

.img-center {
	margin-right: auto;
	margin-left: auto;
}

.nome-perfil {
	margin-top: 0px;
}