<meta charset="UTF-8">

     <div >
    <div class="row" >
        <a class="col-lg-4 " ui-sref="lancamentos.cadastrar">
          <div class="small-box bg-aqua"><br><br>
            <div class="inner" align="center">
              <h3>Lançar</h3><br>
            </div>           
          </div>
        </a>       
        <a class="col-lg-4 " ui-sref="lancamentos.consultar">
          <div class="small-box bg-green"><br><br>
            <div class="inner" align="center">
              <h3>Lançamentos</h3><br>
            </div>
          </div>
        </a>                 
     </div>     
  </div>        