<meta charset="UTF-8">
<div class="row">	
       <div class="col-sm-12">     
			<div class="box box-primary" >	
					<div class="panel-body">
					    <div class="row" >
					        <a class="col-lg-4 " ui-sref="cotacao.menu">
					          <div class="small-box bg-aqua"><br><br>
					            <div class="inner" align="center">
					              <h3>Cotacao</h3><br>
					            </div>           
					          </div>
					        </a>       
					        <a class="col-lg-4 " ui-sref="lancamentos.menu">
					          <div class="small-box bg-green"><br><br>
					            <div class="inner" align="center">
					              <h3>Lançamentos</h3><br>
					            </div>
					          </div>
					        </a>                 
					     </div>     
					  </div> 
			</div>
       </div>
</div>       