<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"  ng-controller="cotacaoCompraController as cotacaoCtrl" >

<div class="box box-primary" >
		<!-- Default panel contents -->
		<div class="box-header" >
			<span class="lead">Cadastrar cotação </span>
		</div>
		<div class="panel-body">
			Empresa {{}}
			<br>
			<div class="container col-sm-12 " >
				<form role="form-vertical" ng-submit="cotacaoCtrl.salva()" >
				
				
				
					<table class="table table-hover " >
					<thead>
						<tr>
							<th>selecione</th>							
							<th>Descrição</th>
							<th>Quantidade</th>
							<th>Observação</th>
							<th>Valor unitário</th>
							<th>Valor total produto</th>
							
						</tr>
					</thead>
					
					<tbody
						ng-repeat=" f in cotacaoCtrl.cotacoes | filter : busca">
						<tr>
						<td><input class="col-sm-1" type="checkbox" ng-model="f.selecionado"	ng-click="cotacaoCtrl.ativarExcluirLote(listaCotacao)"></td>
							<td><input class="form-control"  id="descricaoProduto"  type="text" placeholder="descrição do Produto" 
							ng-model="f.produto" ></td>
							<td><input class="form-control"  id="quantidadeProduto"  type="text" placeholder="quantidade"
							ng-model="f.quantidade" ui-number-mask="0" required></td>							
							<td><input class="form-control"  id="valorProduto"  type="text"  placeholder="Preço" ui-money-mask
							ng-model="f.valorUnitario" ng-blur="cotacaoCtrl.SomaTotal(cotacaoCtrl.lista)" required> </td>
							<td>{{f.valorTotal = somaUnitario(f.quantidade, f.valorUnitario) | currency}}</td>
							
						</tr>
	
					</tbody>
					<tfoot>
						<tr>
							<th><input type="button" class="btn-danger" ng-if="ativadoExcluirLote"  value="excluir" name="apagar" ng-click="cotacaoCtrl.apagarProdutos(listaCotacao)"></th>
							<th></th>
							<th></th>
							<th></th>			
							<th> Valor Total</th>
							<th>{{valorTotalNota | currency}}</th>
						</tr>
					</tfoot>
				</table>
					
					<br>
				
					<div class="row ">
						
						
							<input type="submit" id="submit" value="Salvar"	class="btn btn-lg btn-primary btn-block btn-signin">
						
						
					</div>


				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
