<meta charset="UTF-8">
<br>
<br>
<div class="generic-container" ng-controller="cargoController as cargoCtr" >

	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Pagina cadastrar Cargo </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" ng-submit="cargoCtr.createCargo()" >
					<div class="row">
						<label class="col-sm-1 control-label" for="descricaoCargo"> Descrição do Cargo</label>
						<div class="col-sm-11">
							<input class="form-control" ng-model="cargoCtr.cargo.descricao" id="descricao" type="text" required>
						</div>
					</div>
					<br>
					<div >
					<ul ng-repeat=" listarCargos in listaCargo ">
					<li>
					{{ listarCargos.descricao }}
					</li>
					</ul>
					
					</div>
		
								<div ng-if="gravado" class="alert alert-info alert-dismissible"
						role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Sucesso</strong> cadastro realizado
					</div>


					<div ng-if="naoGravado"
						class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Error</strong> cadastro não realizado
					</div>
					<br>
					<div class="row ">
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<input type="submit" id="submit" value="Salvar"
								class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
						<div class="col-sm-3">
							<a class="btn btn-lg btn-success btn-block btn-signin" href="#/">Menu Principal</a>
							
						</div>
					</div>


				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
