<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"
	ng-controller="cadastrarFuncionarioController as cadFuncCtrl">

	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Cadastrar Funcionario </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="formCadastrarFuncionario"
					ng-submit="cadFuncCtrl.cadastrarFuncionario()">
					<div class="row">
						<label class="col-sm-1 control-label" for="nome">Nome</label>
						<div class="col-sm-11"
							ng-class="{ 'has-error' : formCadastrarFuncionario.nome.$invalid && !formCadastrarFuncionario.nome.$pristine }">
							<input class="form-control" ng-minlength="5" ng-maxlength="50"
								ng-model="cadFuncCtrl.funcionario.nomeCompleto"
								id="nomeCompleto" name="nome" type="text" required>
						</div>
					</div>
					<p ng-show="formCadastrarFuncionario.nome.$error.minlength"
						class="alert alert-warning ">campo Nome no minimo 5 caracter</p>
					<p ng-show="formCadastrarFuncionario.nome.$error.maxlength"
						class="alert alert-warning ">campo Nome no maximo 50 caracter</p>
						
					<br>
					
					<div class="row">
						<label class="col-sm-1 control-label" for="rg">RG</label>
						<div class="col-sm-5">

							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.rg" id="rg" type="text"
								required>
						</div>
						<label class="col-sm-1 control-label" for="cpf">CPF</label>
						<div class="col-sm-5">

							<input class="form-control" name="cpfField"
								ng-model="cadFuncCtrl.funcionario.cpf" id="cpf"
								type="text" ui-br-cpf-mask required>
								 <br><p><code>{{formCadastrarFuncionario.cpfField.$error.cpf? 'Digite um CPF válido!!' : '' }}</code></p> 
						</div>
					</div>
					<br> 
					
					<br>
					
					<div class="row">
						<label class="col-sm-1 control-label" for="telefoneFixo">Telefone
							Fixo</label>
						<div class="col-sm-5">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.telefoneFixo"
								id="telefoneFixo" type="tel"  ui-br-phone-number required>
						</div>
						<label class="col-sm-1 control-label" for="telefoneCelular">Telefone
							Celular</label>
						<div class="col-sm-5">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.telefoneCelular"
								id="telefoneCelular" type="tel" ui-br-phone-number required>
						</div>
					</div>
					
					<br>
					
					<div class="row">
						<label class="col-sm-1 control-label" for="dataNascimento">Data
							Nasc</label>
						<div class="col-sm-5">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.dataNascimento"
								id="dataNascimento" type="date"  required  >
						</div>
						<label class="col-sm-1 control-label" for="idade">idade</label>
						<div class="col-sm-5">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.idade"
								id="idade" type="text" required  >
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-sm-1 control-label"  for="sexo">Sexo</label>
						<div class="col-sm-3">
							<select class="form-control select2" ng-model="cadFuncCtrl.funcionario.sexo" style="width: 100%;" required>
									<option value="">--selecione--</option>
									<option value="Masculino">Masculino</option>
									<option value="Feminino">Feminino</option>
							</select>
						</div>
					</div>
						
					<h4>Dados Funcional</h4>
<br>
					<div class="row">
						<label class="col-sm-1 control-label" for="carteiraTrabalho">carteira</label>
						<div class="col-sm-5">

							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.carteiraTrabalho"
								id="carteiraTrabalho" type="text" required>

						</div>
						<label class="col-sm-1 control-label" for="dataAdmissao">Data
							Admissão</label>
						<div class="col-sm-5">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.dataAdmissao"
								id="dataAdmissao" type="date" ui-mask="{{maskData}}" required >
						</div>

					</div>
					<br>
					<div class="row">
						<label class="col-sm-1 control-label" for="empreendimento">Empreendimento</label>
						<div class="col-sm-3" ng-controller="empreendimentoController as empCtrl" ng-init="empCtrl.buscarEmpreendimentos()">
							<select class="form-control select2"  ng-model="cadFuncCtrl.funcionario.empreendimento" ng-options="listarEmpreendimentos.descricao group by listarEmpreendimentos.tipoEmpreendimento for listarEmpreendimentos in empreendimentos"  style="width: 100%;">
								<option value="">--selecione--</option>
							</select>
						</div>
						<label class="col-sm-1 control-label" for="cargo">Cargo</label>
						<div class="col-sm-3" ng-controller="cargoController as cargoCtrl" ng-init="cargoCtrl.buscarCargos()">
							<select class="form-control select2" ng-model="cadFuncCtrl.funcionario.cargo" ng-options="listarCargos.descricao group by listarCargos.shade for listarCargos in cargos"  style="width: 100%;">
									<option value="">--selecione--</option>
							</select>
						</div>
						<label class="col-sm-1 control-label" for="crea">CREA</label>
						<div class="col-sm-3">
							<input ng-model="cadFuncCtrl.funcionario.crea" class="form-control" id="crea" type="text">
						</div>
					</div>


					<h4>Endereço</h4>

					<br>
					<div class="row">
						<label class="col-sm-1 control-label" for="cep">CEP</label>
						<div class="col-sm-5">
							<!-- <input class="form-control" id="cep" type="search"
								placeholder="Busca Cep"> -->
							<input class="form-control"	ng-model="cadFuncCtrl.funcionario.endereco.cep" id="cep" name="cepField"
								type="text" placeholder="Busca Cep" ui-br-cep-mask required>
								<button type="button" class="btn-primary" ng-click="cadFuncCtrl.findCep()">Buscar CEP</button>
			<br><p><code>{{formCadastrarFuncionario.cepField.$error.cep? 'Digite um CEP válido!!' : '' }}</code></p>

						</div>
						<label class="col-sm-1 control-label" for="numero">Numero</label>
						<div class="col-sm-5"
							ng-class="{ 'has-error' : formAdminSistema.numeroEmpresa.$invalid && !fromAdminSistema.numeroEmpresa.$pristine }">
							<input class="form-control" name="numeroEmpresa"
								ng-model="cadFuncCtrl.funcionario.endereco.numero" id="numero"
								type="text" ng-minlength="1" ng-maxlength="7" required>
						</div>
					</div>
					<p ng-show="formAdminSistema.numeroEmpresa.$error.minlength"
						class="alert alert-warning ">campo numero no minimo 1 caracter</p>
					<p ng-show="formAdminSistema.numeroEmpresa.$error.maxlength"
						class="alert alert-warning ">campo numero no maximo 7 caracter</p>

					<br>

					<div class="row">
						<!-- <fieldset disabled> -->
						<label class="col-sm-1 control-label" for="rua">Rua</label>
						<div class="col-sm-11">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.endereco.logradouro" id="rua"
								type="text" required>
						</div>
					</div>
					<br>
					<div class="row">
						<!-- <fieldset disabled> -->
						<label class="col-sm-1 control-label" for="bairro">Bairro</label>
						<div class="col-sm-5">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.endereco.bairro" id="bairro"
								type="text" reuired>

						</div>
						<label class="col-sm-1 control-label" for="cidade">Cidade</label>
						<div class="col-sm-5">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.endereco.localidade" id="cidade"
								type="text" required>
						</div>
					</div>
					<br>
					<div class="row">
						<!-- <fieldset disabled> -->
						<label class="col-sm-1 control-label" for="estado">Estado</label>
						<div class="col-sm-5">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.endereco.uf" id="estado"
								type="text" required>
						</div>

					</div>
					<br>
					<div class="row">
						<label class="col-sm-1 control-label" for="complemento">Complemento</label>
						<div class="col-sm-11">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.endereco.complemento"
								id="complemento" type="text">

						</div>
					</div>
					<br>


					<div ng-if="gravado" class="alert alert-info alert-dismissible"
						role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Sucesso</strong> cadastro realizado
					</div>


					<div ng-if="naoGravado"
						class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Error</strong> cadastro não realizado
					</div>


					<div class="row ">
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<input type="submit" id="submit"
								class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
						<div class="col-sm-3">

							<button type="button" action="#/"
								class="btn btn-lg btn-danger btn-block btn-signin">Cancelar</button>
						</div>
					</div>

				</form>
			</div>
		</div>

	</div>
	<div class="tablecontainer"></div>
</div>
</div>
