<meta charset="UTF-8">
<br>
<div 	ng-controller="chamadoManutencaoController as chamadoCtrl">
	
	     <br>
	    <section layout="row" layout-align="right center">
		  <md-button href="#/" class="groupX left">Menu</md-button>
		  <md-button href="#/chamado/manutencao/cadastrar" class="groupX middle">Abrir</md-button>
		  <md-button href="#/chamado/manutencao/lista" class="groupX middle">Lista</md-button>	  
		  <md-button href="#/chamado/manutencao/suporte/lista" class="groupX middle">Suporte</md-button>
		  <md-button href="#/chamado/manutencao/suporte/relatorio" class="groupX right">relatório</md-button>	
		</section>
	<div class="box box-primary">

		<div class="box-header">
			<span class="lead">Chamado Manutenção</span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 " >
				<form role="form-vertical" name="formSecretaria" ng-submit="chamadoCtrl.salvaMensagem()">
									
					<div class="row">
						<div class="col-sm-3" >
								Prioridade
								<input class="form-control" ng-model="chamadoCtrl.chamadoManutencao.prioridade" id="prioridade" name="prioridade" type="text"  disabled required>						
						</div>	
						<div class="col-sm-3" >
							Status
							<input class="form-control" ng-model="chamadoCtrl.chamadoManutencao.status" type="text"  disabled required>						
						</div>
						<div class="col-sm-3" ng-if="habilitaBotaoAtenderChamado">
						<br>
							<input type="button"  value="Atender" ng-click="chamadoCtrl.atenderChamado()"	class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
						<div class="col-sm-3" ng-if="habilitaBotaoFecharChamado">
						<br>
							<input type="button"  value="Fechar" ng-click="chamadoCtrl.fecharChamado()"		class="btn btn-lg btn-success btn-block btn-signin">
						</div>	
						<div class="col-sm-3" ng-if="habilitaBotaoServicoChamado">
						<br>
							<input type="button"  value="Serviços executados" data-toggle="modal" data-target="#myCategoria" 	class="btn btn-lg btn-success btn-block btn-signin">
						</div>	
					</div>
					<br>
					<br>
					<div class="row">		
						<div class="col-sm-6" >
						Solicitante
							<input class="form-control"  ng-model="chamadoCtrl.chamadoManutencao.usuarioSolicitante.nome"  type="text"  disabled required>						
						</div>
						<div class="col-sm-6" ng-if="chamadoCtrl.chamadoManutencao.usuarioAtendente" >
						Técnico
							<input class="form-control"  ng-model="chamadoCtrl.chamadoManutencao.usuarioAtendente.nome"  type="text"  disabled required>						
						</div>
					</div>		
					<div class="row">										
						<div class="col-sm-6" >
						Titulo
							<input class="form-control" placeholder="Titulo" ng-model="chamadoCtrl.chamadoManutencao.titulo" id="titulo" name="titulo" type="text"  disabled required>						
						</div>								
					</div>						
					<br>
					<div ng-show="habilitaTexto">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">
								Escreva o Problema 
							</h3>							
						</div>
						<div class="box-body pad">							
								<textarea class="textarea" placeholder="Texto" ng-model="texto" id="texto"
									style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
						</div>
					</div>			
					
					<br>
					<br>
					<div class="row ">
						<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<input type="submit" id="submit" value="Enviar" ng-disabled="!texto" class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
					</div>
					</div>
						<br>
						<br>
					<div class="row">
						<div class="col-md-12">
							<div class="box box-primary direct-chat direct-chat-primary">
								<div class="box-header with-border">
									<h2 class="box-title">Mensagens</h2>
									<div class="box-tools pull-right">
										<span data-toggle="tooltip" title="quantidade de mensagens"
											class="badge bg-light-blue">{{quantidadeMensagem}}</span>
									</div>
								</div>
								<br>
								<div class="box-body">
									
										<div ng-repeat=" mensagem in chamadoCtrl.chamadoManutencao.mensagens | orderBy:'-id' ">
											<div class="direct-chat-msg" ng-if="!mensagem.usuario.id">
												<div class="direct-chat-info clearfix">
													<span class="direct-chat-name pull-left">{{mensagem.usuario.nome}}</span>
													<span class="direct-chat-timestamp pull-right">
														Data : {{ mensagem.data | date : 'dd/MM/yyyy'}} 
														Horas : {{ mensagem.data | date : 'HH:mm:ss'}} 
													</span>
													</div>
												<img class="direct-chat-img" src="public/img/avatar_2x.png"
													alt="message user image">
												<div class="direct-chat-text">{{ mensagem.texto }}</div>
											</div>
											<br>
											<div class="direct-chat-msg right" ng-if="mensagem.usuario.id">
												<div class="direct-chat-info clearfix">
													<span class="direct-chat-name pull-right">{{mensagem.usuario.nome}}</span>
													<span class="direct-chat-timestamp pull-left">
														Data : {{ mensagem.data | date : 'dd/MM/yyyy'}} 
														Horas : {{ mensagem.data | date : 'HH:mm:ss'}} 
													</span>													
												</div>
												<img class="direct-chat-img" src="public/img/avatar_2x.png"
													alt="message user image">
												<div class="direct-chat-text">{{ mensagem.texto }}</div>
											</div>
											<br>
										</div>
									
								</div>
							</div>
						</div>
					</div></div>
					<br>
					<div class="modal fade bs-example-modal-lg" id="myCategoria"
						tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-body">
								<div class="box">
									<div class="box-header">
										<h3 class="box-title">Descreva os serviços executados</h3>
									</div>
									<div class="box-body pad">
										<textarea class="textarea" placeholder="Texto" ng-disabled="!habilitaBotaoFecharChamado" ng-model="chamadoCtrl.chamadoManutencao.descricaoServico"
											id="texto"
											style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
									</div>
							<div class="modal-footer">
								<button type="button" ng-if="habilitaBotaoFecharChamado" class="btn btn-primary" ng-click="chamadoCtrl.salvaServicos(chamadoCtrl.chamadoManutencao.descricaoServico)" data-dismiss="modal">Salvar</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
						</div>
							</div>
						</div>
					</div>
		
		
				</form>
			</div>
			

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>


