<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"	ng-controller="saidaEstoqueController as estoqueCtrl">
	<div class="box box-primary">
		<div class="box-header">
			<span class="lead"> Cadastrar Requisição </span>
		</div>
		<div class="panel-body">
		<br>
			<div class="container col-sm-12 " >
				<form role="form-vertical">
						<label ng-if="!tipoEmpreendimento"   class="radio-inline"><input type="radio"  ng-model="tipo.tipo" value="casa" ng-click="estoqueCtrl.tipoConf()" name="optradio">Casa</label>
						<label ng-if="tipoEmpreendimento" class="radio-inline"><input type="radio"   ng-model="tipo.tipo" value="edificio" ng-click="estoqueCtrl.tipoConf()" name="optradio">Edificio</label>
						<label class="radio-inline"><input type="radio"   ng-model="tipo.tipo" value="comunitaria" ng-click="estoqueCtrl.tipoConf()" name="optradio">Edificações Comunitaria</label> 
									
					<br> <br>
						<label class="radio-inline"><input type="checkbox"   ng-model="habilitaBuscaPorDescricao" value="busca" ng-click="estoqueCtrl.listaProdutosComEstoque()" name="optradio">Habilitar busca por descrição </label> 
					<br>
					<br>
					<div class="row">
						
						<div class="col-sm-2">
							<input type="text" class="form-control" ng-model="codigo" ng-blur="estoqueCtrl.buscaPorCodigoBarras(codigo)" onkeyup="if(this.value.length > 12) { quantidadeProduto.focus(); }" name="leitor" placeholder="Leitor de Código de Barras">
						</div>
						
						<div class="col-sm-3" ng-if="habilitaBuscaPorDescricao" >
						  <md-autocomplete 
						 		md-no-cache="estoqueCtrl.noCache"
							 	md-selected-item="estoqueCtrl.objeto.produto" 
							 	md-search-text="estoqueCtrl.searchText" 
							 	md-selected-item-change="estoqueCtrl.selectedItemChange(listaProduto.produto)" 
							 	md-items=" listaProduto in estoqueCtrl.listaProdutos | filter : estoqueCtrl.searchText" 
							 	md-item-text="listaProduto.produto.descricao" 
							 	md-min-length="3" placeholder="busca produto por descrição">
       							 <md-item-template>
          							<span md-highlight-text="estoqueCtrl.searchText" md-highlight-flags="^i">{{listaProduto.produto.descricao}}</span>
       							 </md-item-template>        								
     						 </md-autocomplete>
     					</div>
						
						<div class="col-sm-3" ng-controller="areaProdutoController as areaProdutoCtrl" ng-init="areaProdutoCtrl.lista()">						
							<select class="form-control select2" ng-model="estoqueCtrl.objeto.areaProduto" id="teste"
								ng-options="listaAreaProdutos.descricao for listaAreaProdutos in areaProdutoCtrl.listaAreaProduto" 
							  	style=" width: 100%;" required >
								<option value="">---Area de aplicação---</option>
							</select> 
							
						</div>
						<div class="col-sm-2" ng-if="!habilitaBuscaPorDescricao">
						<input class="form-control" ng-model="produto.descricao" type="text" id="produto"  disabled placeholder="produto">
						
						</div>						
						<div class="col-sm-2" ng-if="!habilitaBuscaPorDescricao" >
							<input class="form-control" ng-model="quantidade" type="text" id="quantidadeEstoque" ui-number-mask="0" disabled placeholder="Quantidade estoque">
						</div>
						<div class="col-sm-2" ng-if="habilitaBuscaPorDescricao">
							<input class="form-control" ng-model="estoqueCtrl.objeto.produto.quantidade" type="text" id="quantidadeEstoque" ui-number-mask="0" disabled placeholder="Quantidade estoque">
						</div>
						
						<div class="col-sm-2">
							<input class="form-control" ng-model="estoqueCtrl.objeto.quantidadeSaida" type="text" id="quantidadeTeste" ui-number-mask="0" placeholder="Quantidade saida" required>
						</div>
						
					</div>
						<br>
						<br>
					
					<div class="row" ng-if="casa" ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.quantidadeCasa()">
						
						<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-model="estoqueCtrl.objeto.casa" 
							ng-options="lista for lista in configCtrl.qtdeCasa.quantidadeCasa" required>
								<option value="">---Casa---</option>
							</select>
						</div>
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-model="estoqueCtrl.objeto.andar"  
							ng-options="lista for lista in configCtrl.qtdeCasa.quantidadeAndarCasa" required>
								<option value="">---Andar---</option>
							</select>
						</div>

					</div>

					<div ng-if="edificio" class="row" ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.quantidadeEdificio()">
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;"  ng-model="estoqueCtrl.objeto.torre"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeTorres" 
							 title="Selecione a torre a qual será atribuido a saida do produto" required>
								<option value="">---Torre---</option>
							</select> 
							
						</div>
						<div class="col-sm-4"  >
								<select class="form-control select2" style=" width: 100%;"  ng-model="estoqueCtrl.objeto.andar"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeAndares"
							 title="Selecione o andar a qual será atribuido a saída do produto" required>
								<option value="">---Andar---</option>
							</select> 
						</div>
	
							<div class="col-sm-4"  >
							 <select class="form-control select2" style=" width: 100%;"  ng-model="estoqueCtrl.objeto.apartamento"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeApartamentos" 
							 title="Selecione o apartamento a qual será atribuido a saída do produto" required>
								<option value="">---Apartamento---</option>
							</select> 
						</div>
					</div>
								
					<div class="row" ng-if="comunitaria">					
						<div class="col-sm-5"  ng-controller="configEmpreendimentoController as configCtrl"  ng-init="configCtrl.listaOutros()">
							<select class="form-control select2" style=" width: 100%;" ng-model="estoqueCtrl.objeto.edificacaoComunitaria"
							 ng-options="lista.descricao for lista in configCtrl.listaOutros" required>
								<option value="">---Edificações Comunitaria---</option>
							</select> 
						</div>					
					</div>
					<br>
					
					<br> <br>
					<div class="row">
						<div class="col-sm-4">
							<input ng-if="edificio" class="btn btn-lg btn-primary btn-block btn-signin"	 value="adicionar produtos" 
								title="pressione para adicionar a lista" type="button"  ng-click="estoqueCtrl.adicionarProdutoEdificio(estoqueCtrl.objeto)" 
								ng-disabled="!estoqueCtrl.objeto.torre || !estoqueCtrl.objeto.andar || !estoqueCtrl.objeto.apartamento || !estoqueCtrl.objeto.areaProduto || !estoqueCtrl.objeto.quantidadeSaida" >
								
								<input ng-if="casa" class="btn btn-lg btn-primary btn-block btn-signin"	 value="adicionar produtos"
								title="pressione para adicionar a lista" type="button" ng-click="estoqueCtrl.adicionarProdutoCasa(estoqueCtrl.objeto)"
								ng-disabled="!estoqueCtrl.objeto.casa || !estoqueCtrl.objeto.andar || !estoqueCtrl.objeto.areaProduto || !estoqueCtrl.objeto.quantidadeSaida"  >
								
								<input ng-if="comunitaria" class="btn btn-lg btn-primary btn-block btn-signin"	 value="adicionar produtos"
								title="pressione para adicionar a lista" type="button" ng-click="estoqueCtrl.adicionarProdutoEdificacaoComunitaria(estoqueCtrl.objeto)" 
								ng-disabled="!estoqueCtrl.objeto.edificacaoComunitaria  || !estoqueCtrl.objeto.areaProduto || !estoqueCtrl.objeto.quantidadeSaida"   >
						</div>
					</div>
					
						<div ng-show="ativaTabela" >
							<table class="table table-hover ">
								<thead>
									<tr>
										<th>Selecionar</th>
										<th>Descrição</th>
										<th>Area Aplicação</th>
										<th ng-if="casa">Casa</th>
										<th ng-if="casa">Andar</th>
										<th ng-if="edificio">Torre</th>
										<th ng-if="edificio">Andar</th>
										<th ng-if="edificio">Apt</th>
										<th ng-if="comunitaria">Edif. Comunitária</th>
										<th>Qtd estoque</th>
										<th>Qtd saida</th>
										<th>Restam</th>
										

									</tr>
								</thead>
								<tbody ng-repeat="produto in estoqueCtrl.listaProduto" ng-model="selecionado">
									<tr>
										<td><input type="checkbox" ng-model="produto.selecionado"
											ng-click="estoqueCtrl.ativarExcluirLote(estoqueCtrl.listaProduto)"></td>
										<td>{{produto.produto.descricao}}</td>	
										<td>{{produto.areaProduto.descricao}}</td>	
										<td ng-if="casa">{{produto.casa}}</td>
										<td ng-if="casa">{{produto.andar}}</td>
										<td ng-if="edificio">{{produto.torre}}</td>
										<td ng-if="edificio">{{produto.andar}}</td>
										<td ng-if="edificio">{{produto.apartamento}}</td>
										<td ng-if="comunitaria">{{produto.descricao}}</td>							
										<td>{{produto.quantidadeEstoque}}</td>
										<td>{{produto.quantidadeSaida}}</td>
										<td>{{produto.quantidadeEstoque - produto.quantidadeSaida}}</td>
										
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th><input type="button" class="btn-danger"
											ng-if="ativadoExcluirLote" value="excluir" name="apagar"
											ng-click=" estoqueCtrl.apagarProduto(estoqueCtrl.listaProduto)"></th>
									</tr>
								</tfoot>
							</table>
						</div>
					
					
					<br>
					
					<div class="row ">
						
							<button type="button" ng-if="edificio" ng-click="estoqueCtrl.salvaEdificio()" name="submit" ng-disabled="!tipo.tipo"
								class="btn btn-lg btn-primary btn-block btn-signin" ng-show="ativaTabela">Lançar saida para Edifíco</button>
								
							<button type="button" ng-if="casa" ng-click="estoqueCtrl.salvaCasa()" name="submit" ng-disabled="!tipo.tipo"
								class="btn btn-lg btn-primary btn-block btn-signin" ng-show="ativaTabela">Lançar saida para Casa</button>
								
							<button type="button" ng-if="comunitaria" ng-click="estoqueCtrl.salvaEdificacoesComunitaria()" name="submit" ng-disabled="!tipo.tipo"
								class="btn btn-lg btn-primary btn-block btn-signin" ng-show="ativaTabela">Lançar saida para Edificações Comunitárias</button>
						
					</div>				
					
				</form>
			</div>
			<div class="tablecontainer"></div>
		</div>
	</div>
	</div>