<meta charset="UTF-8">
<div 	ng-controller="permissaoController as permissaoCtrl" ng-init="permissaoCtrl.modulo()">
<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item"><a href="#/gerenciamento/home">menu gerenciamento</a></li>
   <li class="breadcrumb-item active">visualização</li>
  </ol>
	<div class="box box-primary">
		<div class="box-header">
			<span class="lead"> Cadastro de permissões </span>
		</div>
		<div class="panel-body">
			<div class="container col-sm-12 ">
				<form role="form-vertical"	ng-submit="permissaoCtrl.salva()">				

					<div class="row" >
						<div class="col-sm-4">
							<input type="text" class="form-control" id="nome" ng-model="permissaoCtrl.permissao.descricao" placeholder="descrição"
								title="descrição da permissão" 	required>
						</div>	
						<div class="col-sm-4">
							<input type="text" class="form-control" id="nome" ng-model="permissaoCtrl.permissao.rol" placeholder="Rol"
								title="descrição da permissão" 	required>
						</div>
						<div class="col-sm-4" >
							<select class="form-control select2" ng-model="permissaoCtrl.permissao.tipoModulo" 
								ng-options=" modulo for modulo in modulos" required>
								<option  value="">--selecione o modulo--</option>
							</select>
						</div>			
											
					</div>				
					
					<br> 
												
									
					
					<div class="row ">
					<div class="col-sm-4"></div>
							<div class="col-sm-4">
								<button type="submit" name="submit" class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>						
							</div>
						</div>						
					
				</form>
				
			</div>
			<div class="tablecontainer"></div>
		</div>
	</div>
	</div>