<meta charset="UTF-8">
<section class="content">

	<div class="row">
		<div class="col-lg-4 ">
			<a href="" ui-sref="gerenciamento">
				<div class="small-box bg-aqua">
					<div class="inner" align="center">
						<br>
						<br>
						<h3>Gerenciamento</h3>
						<br>
						<br>
					</div>					
				</div>
			</a>
		</div>


		<div class="col-lg-4 ">
			<a href="" ui-sref="estoque.menu">
				<div class="small-box bg-green">
					<div class="inner" align="center">

						<br>
						<br>
						<h3>Estoque</h3>
						<br>
						<br>

					</div>
				</div>
			</a>
		</div>


		<div class="col-lg-4">
			<a href="" ui-sref="servicos">
				<div class="small-box bg-yellow">
					<div class="inner" align="center">

						<br>
						<br>
						<h3>Serviços</h3>
						<br>
						<br>

					</div>
				</div>
			</a>
		</div>


		<div class="col-lg-4 ">
			<a href="" ui-sref="compras">
				<div class="small-box bg-red">
					<div class="inner" align="center">

						<br>
						<br>
						<h3>Compras</h3>
						<br>
						<br>

					</div>
				</div>
			</a>
		</div>
	</div>
</section>