<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css"
	rel="stylesheet" type="text/css">
</head>
<body>

	<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
		
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-ex-collapse">
					<span class="sr-only">Toggle navigation</span><span
						class="icon-bar"></span><span class="icon-bar"></span><span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>GCC</span></a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-ex-collapse">
			
			<ul class="nav navbar-nav "><li class="active"><a href="#">Sistema de Gestão para Construção Civil</a></li></ul>
				<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="#">Contato</a></li>
		            <li><a href="#">Módulos</a></li>
		            <li><a href="#">Conheça-nos</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Videos</a></li>
		          </ul>
		        </li>					
					<li class="dropdown user user-menu" ">
		                <a href="" class="dropdown-toggle" data-toggle="dropdown">
		                  <i class="glyphicon glyphicon-user"></i>
		                </a>
		                <ul class="dropdown-menu">
		                  <!-- User image -->
		                  <li class="user-header">
		                    <form ng-controller="loginController as loginCtrl" ng-submit="loginCtrl.login()">				      						
									<p  ng-if="!loginCtrl.falhaLogin" class="alert alert-warning ">Usuário ou senha inválido</p>										
									<input type="text" class="form-control" title="Insira seu usuário"
									ng-model="loginCtrl.user.username" placeholder="Usuário" required autofocus > 
									<br>
									<input	type="password" class="form-control" title="Insira sua senha"
									ng-model="loginCtrl.user.password" placeholder="Senha"
									required > 	<br>			      
					       		 <button class=" form-control btn  btn-primary"  type="submit" >Entrar</button>
					        				    
				      		</form>
		                  </li>
		                </ul>
		              </li>
					<li class="active"><a href="#"></a></li>
				</ul>
			</div>			
		
	</div>				
 
			<div class="col-md-13">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="public/img/index/alasca.jpg" alt="First slide">

                    <div class="carousel-caption">
                      Um novo Tempo
                    </div>
                  </div>
                  <div class="item">
                    <img src="public/img/teste.jpg" alt="Second slide">

                    <div class="carousel-caption">
                      um novo Mundo
                    </div>
                  </div>
                  <div class="item">
                    <img src="public/img/index/arvores.jpg" alt="Third slide">

                    <div class="carousel-caption">
                      um novo Universo para sua empresa
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                </a>
              </div>
            </div>
           
				
				
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<a href="#"><img
						src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
						class="img-responsive"></a>
				</div>
				   <div class="col-md-6">
			            <h1 class="text-primary">Módulo</h1>
			            <h3>Administrador</h3>
			            <ul>
			            	<li> Acesso liver a todos os outros módulos</li>
			            	<li> Cadastrar e gerenciar usuários</li>
			            	<li> Cadastrar novos empreendimentos</li>
			            	<li> Criar novas permissões de acesso</li>
			            	<li> Acesso liver a todos os outros módulos</li>
			            	<li> Acesso liver a todos os outros módulos</li>
			            	<li> Acesso liver a todos os outros módulos</li>
			            </ul>
			            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
			              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
			              dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
			              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
			              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
			              enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
			              felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
			              elementum semper nisi.</p>
			          </div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
		            <h1 class="text-primary">Módulo</h1>
		            <h3>Chamado</h3>
		            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
		              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
		              dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
		              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
		              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
		              enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
		              felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
		              elementum semper nisi.</p>
		          </div>
		          <div class="col-md-6">
		            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
		            class="img-responsive">
		          </div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<a href="#"><img
						src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
						class="img-responsive"></a>
				</div>
				   <div class="col-md-6">
			            <h1 class="text-primary">Módulo</h1>
			            <h3>Gerenciamento</h3>
			            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
			              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
			              dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
			              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
			              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
			              enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
			              felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
			              elementum semper nisi.</p>
			          </div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
		            <h1 class="text-primary">Módulo</h1>
		            <h3>Serviços</h3>
		            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
		              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
		              dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
		              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
		              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
		              enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
		              felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
		              elementum semper nisi.</p>
		          </div>
		          <div class="col-md-6">
		            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
		            class="img-responsive">
		          </div>
			</div>
		</div>
	</div><div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<a href="#"><img
						src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
						class="img-responsive"></a>
				</div>
				   <div class="col-md-6">
			            <h1 class="text-primary">Módulo</h1>
			            <h3>Recursos Humanos</h3>
			            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
			              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
			              dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
			              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
			              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
			              enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
			              felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
			              elementum semper nisi.</p>
			          </div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
		            <h1 class="text-primary">Módulo</h1>
		            <h3>Compras</h3>
		            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
		              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
		              dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
		              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
		              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
		              enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
		              felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
		              elementum semper nisi.</p>
		          </div>
		          <div class="col-md-6">
		            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
		            class="img-responsive">
		          </div>
			</div>
		</div>
	</div><div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<a href="#"><img
						src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
						class="img-responsive"></a>
				</div>
				   <div class="col-md-6">
			            <h1 class="text-primary">Módulo</h1>
			            <h3>Almoxarifado</h3>
			            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
			              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
			              dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
			              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
			              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
			              enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
			              felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
			              elementum semper nisi.</p>
			          </div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
		            <h1 class="text-primary">Módulo</h1>
		            <h3>Cadastros</h3>
		            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
		              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
		              dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
		              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
		              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
		              enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
		              felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
		              elementum semper nisi.</p>
		          </div>
		          <div class="col-md-6">
		            <img src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png"
		            class="img-responsive">
		          </div>
			</div>
		</div>
	</div>
	<div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7YNUlqucrVc"
              allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img class="img-responsive"
						src="http://maps.googleapis.com/maps/api/staticmap?center=Tombouctou,Mali&amp;zoom=12&amp;size=200x200&amp;sensor=true">
				</div>
			</div>
		</div>
	</div>
	<footer class="section section-primary">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<h1>Gestão Construção Civil</h1>
				
					<strong>Copyright &copy; 2016 TCC.
					</strong> Todos direitos reservados.
				</div>
				<div class="col-sm-6">
					<p class="text-info text-right">
						<br>
						<br>
					</p>
					<div class="row">
						<div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
							<a href="#"><i
								class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> <a
								href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
							<a href="#"><i
								class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> <a href="#"><i
								class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 hidden-xs text-right">
							<a href="#"><i
								class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> <a
								href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
							<a href="#"><i
								class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> <a href="#"><i
								class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	
	
	<div class="modal fade" id="alteraSenha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
				  <div class="modal-dialog" role="document" >
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Login</h4>
				      </div>
				      <form ng-controller="loginController as loginCtrl" ng-submit="loginCtrl.login()">
				      <div class="modal-body">						
									<p  ng-if="!loginCtrl.falhaLogin" class="alert alert-warning ">Usuário ou senha inválido</p>
										
									<input type="text" class="form-control" title="Insira seu usuário"
									ng-model="loginCtrl.user.username" placeholder="Usuário" required autofocus > 
									<br>
									<input	type="password" class="form-control" title="Insira sua senha"
									ng-model="loginCtrl.user.password" placeholder="Senha"
									required > 
															       
				      </div>
					      <div class="modal-footer">
					        <button class="btn btn-lg btn-primary btn-block" data-dismiss="modal"  type="submit" aria-label="Close">Entrar</button>
					        
					      </div>
				      </form>
				    </div>
				  </div>
				</div>
