<meta charset="UTF-8">
<body>
 
<div id="fundo-externo">
    <div id="fundo">
        <img src="public/img/construcao-civil.jpg" alt="" />
    </div>
</div>
<div id="site">
   	
		<form ng-controller="loginController as loginCtrl" ng-submit="loginCtrl.login()">
			<center><h2 class="form-signin-heading" contenteditable="false">Gestão Construção Civil</h2></center>
	<center>	<img id="profile-img" class="profile-img-card"
							src="/public/img/avatar_2x.png" />
						<p id="profile-name" class="profile-name-card"></p></center>
				<p  ng-if="!loginCtrl.falhaLogin" class="alert alert-warning ">Usuário ou senha inválido</p>
					
			<input type="text" class="form-control" title="Insira seu usuário"
				ng-model="loginCtrl.user.username" placeholder="Usuário" required autofocus > 
				<br>
				<input	type="password" class="form-control" title="Insira sua senha"
				ng-model="loginCtrl.user.password" placeholder="Senha"
				required > 
				<br>
				<br>
			<button class="btn btn-lg btn-primary btn-block"  type="submit">Entrar</button>
		</form>

	
</div>
 
</body>

