<meta charset="UTF-8">
<body>
 
<div id="fundo-externo">
    <div id="fundo">
        <img src="public/img/construcao-civil.jpg" alt="" />
    </div>
</div>
<div id="site">
   	
	
		<form class="form-signin" role="form"
			ng-controller="loginController as loginCtrl" ng-submit="loginCtrl.login()">
			<h2 class="form-signin-heading" contenteditable="false">Sistema Construção Civil</h2>

			<input type="text" class="form-control"
				ng-model="loginCtrl.user.username" placeholder="Email address"
				required="" autofocus="" contenteditable="false"> 
				<br>
				<input	type="password" class="form-control"
				ng-model="loginCtrl.user.password" placeholder="Password"
				required="" contenteditable="false"> <label class="checkbox">
				<!-- <input type="checkbox" value="remember-me" class="">Salvar</label> -->
			<button class="btn btn-lg btn-primary btn-block"  type="submit">Entrar</button>
		</form>

	
</div>
 
</body>

