<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"
	ng-controller="fabricanteController as fabricanteCtrl">

<div class="box box-primary" >
		<!-- Default panel contents -->
		<div class="box-header" >
			<span class="lead">Cadastro de Fabricante</span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="formFabricante"
					ng-submit="fabricanteCtrl.salva()">
					
					<div class="row">
						<div class="col-sm-5" ng-controller="verificaDadosController as verificaCtrl">
							<input class="form-control" name="cnpjField" placeholder="CNPJ" ng-blur="verificaCtrl.verificaCnpj(fabricanteCtrl.fabricante.dadoEmpresa.cnpj)"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.cnpj" id="cnpj"
								type="text" ui-br-cnpj-mask required>
								<p ng-show="formFabricante.cnpjField.$error.cnpj"
								class="alert alert-warning ">Digite um CNPJ válido!!</p>
						</div>
						<div  class="col-sm-2" ng-controller="enderecoController as endCtrl" ng-init="endCtrl.lista()">
								<select class="form-control"  ng-model="fabricanteCtrl.fabricante.dadoEmpresa.ufIe" ng-options="uf for uf in ufs">
									<option value="">Estado</option>
								</select>
						</div>	
					
						<div class="col-sm-5" ng-controller="verificaDadosController as verificaCtrl">
							<input class="form-control" name="iefield" ng-blur="verificaCtrl.verificaIe(fabricanteCtrl.fabricante.dadoEmpresa.inscricaoEstadual)"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.inscricaoEstadual" placeholder="Inscrição Estadual"
								id="inscricaoEstadual" type="text" ui-br-ie-mask='fabricanteCtrl.fabricante.dadoEmpresa.ufIe'
								required>
						 <p ng-show="formFabricante.iefield.$error.ie"	class="alert alert-warning ">Digite um Inscrição Estadual Válida</p>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-6" ng-class="{ 'has-error' : formFabricante.razaoSocial.$invalid && !formFabricante.razaoSocial.$pristine }">
							<input class="form-control" ng-minlength="5" ng-maxlength="50" placeholder="Razão social"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.razaoSocial"
								id="razaoSocial" name="razaoSocial" type="text" required>
								<p ng-show="formFabricante.razaoSocial.$error.minlength"
								class="alert alert-warning ">campo Razão Social no minimo 5 caracter</p>
								<p ng-show="formFabricante.razaoSocial.$error.maxlength"
								class="alert alert-warning ">campo Razão Social no maximo 50 caracter</p>
						</div>
						<div class="col-sm-6" ng-class="{ 'has-error' : formFabricante.nomeFantasia.$invalid && !formFabricante.razaoSocial.$pristine }">
							<input class="form-control" ng-minlength="5" ng-maxlength="50" placeholder="Nome fantasia"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.nomeFantasia"
								id="nomeFantasia" name="nomeFantasia" type="text" required>
								<p ng-show="formFabricante.nomeFantasia.$error.minlength"
								class="alert alert-warning ">campo nome Fantasia no minimo 5 caracter</p>
								<p ng-show="formFabricante.nomeFantasia.$error.maxlength"
								class="alert alert-warning ">campo nome Fantasia no maximo 50 caracter</p>
						</div>
					</div>
					
					<br>
					
					<div class="row">
						<div class="col-sm-6">
							<input class="form-control" name="emailPrestadora" placeholder="E-mail"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.email" id="email"
								type="email" required>
								<p ng-show="formFabricante.emailPrestadora.$error.email"
						class="alert alert-warning ">Digite um Email Válido</p>
						</div>
						<div class="col-sm-6">
							<input class="form-control" placeholder="Telefone"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.telefone" id="telefone"
								type="tel" ui-br-phone-number required>
						</div>
					</div>
					<br>
	
					<hr>

					<h4>Endereço</h4>

					<br>
					<div class="row">
						<div class="col-sm-3">
							<input class="form-control" name="cepField"	ng-model="fabricanteCtrl.fabricante.dadoEmpresa.endereco.cep" id="cep" placeholder="CEP"
								type="text"  ng-blur="prestadoraCtrl.findCep()"  onkeyup="if(this.value.length > 8) { numeroEmpresa.focus(); }"   ui-br-cep-mask required>
								
							<p ng-show="formFabricante.cepField.$error.cep" class="alert alert-warning ">Digite um CEP Válido</p>
								
						</div>
					</div>
						

					<br>

					<div class="row">
						<div class="col-sm-5">
							<input class="form-control" placeholder="Rua"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.endereco.logradouro" id="rua"
								type="text" required>
						</div>
						
						<div class="col-sm-2"
							ng-class="{ 'has-error' : formFabricante.numeroEmpresa.$invalid && !formFabricante.numeroEmpresa.$pristine }">
							<input class="form-control" name="numeroEmpresa" placeholder="Nº"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.endereco.numero"
								id="numero" type="text" ng-minlength="1" ng-maxlength="7"
								required>
								<p ng-show="formFabricante.numeroEmpresa.$error.minlength"
								class="alert alert-warning ">campo numero no minimo 1 caracter</p>
								<p ng-show="formFabricante.numeroEmpresa.$error.maxlength"
								class="alert alert-warning ">campo numero no maximo 7 caracter</p>
						</div>
					
							
						
						<div class="col-sm-5">
							<input class="form-control" placeholder="Complemento"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.endereco.complemento"
								id="complemento" type="text">
						</div>
					</div>
						<br>
					<div class="row">
									
						<div class="col-sm-5">
							<input class="form-control" placeholder="Bairro"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.endereco.bairro"
								id="bairro" type="text" reuired>
						</div>
						<div class="col-sm-5">
							<input class="form-control" placeholder="Cidade"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.endereco.localidade"
								id="cidade" type="text" required>
						</div>
						<div class="col-sm-2">
							<input class="form-control" placeholder="Estado"
								ng-model="fabricanteCtrl.fabricante.dadoEmpresa.endereco.uf"
								id="estado" type="text" required>
						</div>
					</div>
					<br>
					
					<br>

					<div class="row ">
							<input type="submit" id="submit" value="Salvar" ng-disabled="!fabricanteCtrl.fabricante.dadoEmpresa.razaoSocial"
								class="btn btn-lg btn-primary btn-block btn-signin">
						
					</div>
						<a href="javascript:window.history.go(-1)"><i class="glyphicon glyphicon-arrow-left"></i>voltar</a>
						

				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
