<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"  ng-controller="produtoController as protudoCtr" >

<div class="box box-primary" >
		<!-- Default panel contents -->
		<div class="box-header" >
			<span class="lead">Cadastrar Produto </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" ng-submit="protudoCtr.salva()" >
					
					<div class="row">
						<label class="col-sm-2 control-label" for="ativo"> Ativo</label>
						<div class="col-sm-3">
							<input type="checkbox" ng-model="protudoCtr.produto.ativo" >
						</div>
					</div>
					
					<br>
					
					<div class="row">
						<div class="col-sm-5">
							<input class="form-control" ng-model="protudoCtr.produto.descricao" id="descricaoProduto" placeholder="Descrição" type="text" required>
						</div>
					</div>
					
					<br>				
										
					<div class="row">
						<div class="col-sm-4">
						<br>
							<input class="form-control" ng-model="protudoCtr.produto.codigoBarra" id="codigoBarra" placeholder="Código de Barras" type="text" required>
						</div>
						<div class="col-sm-4">
						<br>
							<input class="form-control" ng-model="protudoCtr.produto.codigoProduto" id="codigoProduto"  placeholder="Código do Produto" type="text" required>
						</div>
						<div class="col-sm-4" ng-controller="tipoProdutoController as tipoProdutoCtrl" ng-init="tipoProdutoCtrl.lista()">
						<a href=""  data-toggle="modal" data-target="#myTipo"><i class="glyphicon glyphicon-plus"></i>novo</a>
						<select class="form-control select2" ng-model="protudoCtr.produto.tipoProduto" 
							ng-options="listaTipoProdutos.descricao for listaTipoProdutos in tipoProdutoCtrl.listaTipoProduto" 
							  style=" width: 100%;" required >
								<option value="">---Tipo Produto---</option>
							</select>
						</div>
					</div>					
					<br>			
					<div class="row">
							<div class="col-sm-4" ng-controller="fabricanteController as fabricanteCtrl" ng-init="fabricanteCtrl.lista()">
						<a href="" data-toggle="modal" data-target="#myFabricante"><i class="glyphicon glyphicon-plus"></i>novo</a>
						<select class="form-control select2" ng-model="protudoCtr.produto.fabricante" 
							ng-options="listaFabricantes.dadoEmpresa.nomeFantasia for listaFabricantes in fabricanteCtrl.listaFabricante" 
							  style=" width: 100%;" required >
								<option value="">---Fabricante---</option>
							</select>
						</div>		
				
						
						<div class="col-sm-4" ng-controller="unidadeMedidaController as unidadeCtrl" ng-init="unidadeCtrl.lista()">
						<br>
						<select class="form-control select2" ng-model="protudoCtr.produto.unidadeMedida" 
							ng-options="listaunidadeMedidas for listaunidadeMedidas in unidadeCtrl.listaUnidadeMedida" 
							  style=" width: 100%;" required >
								<option value="">---Unidade Medida---</option>
							</select>
						</div>
				
						<div class="col-sm-4" ng-controller="categoriaController as categoriaCtrl" ng-init="categoriaCtrl.lista()">
						<a href="" data-toggle="modal" data-target="#myCategoria"><i class="glyphicon glyphicon-plus"></i>novo</a>
						<select class="form-control select2" ng-model="protudoCtr.produto.categoria" 
							ng-options="listaCategorias.descricao for listaCategorias in categoriaCtrl.categorias" 
							  style=" width: 100%;" required >
								<option value="">---Categoria---</option>
							</select>
						</div>
					</div>
		
					<br>
					
					<div class="row">
									
						<div class="col-sm-4" ng-controller="fornecedorController as forCtrl" ng-init="forCtrl.lista()" >
							<a href="" data-toggle="modal" data-target="#myFornecedor"><i class="glyphicon glyphicon-plus"></i>novo</a>
							<select class="form-control select2" ng-model="protudoCtr.fornecedor" id="fornecedor"
							ng-options="listaFornecedores.dadoEmpresa.razaoSocial for listaFornecedores in forCtrl.listaFornecedor" 
							  style=" width: 100%;" >
								<option value="">---Fornecedor---</option>
							</select>
						</div>
					
						<div class="col-sm-2">
						<br>
							<input class="btn btn-lg btn-primary btn-block btn-signin"
								ng-click="protudoCtr.adicionarFornecedores(protudoCtr.fornecedor)" value="adicionar"
								title="pressione para adicionar a lista" type="button" ng-disabled="!protudoCtr.fornecedor" required>
						</div>
					</div>
			
					<br> <br>
					<div class="panel panel-primary" ng-show="ativaTabela">
						<div class="panel-heading">Lista de Fornecedores</div>
						<div class="panel-body">
						<table class="table table-hover ">
							<thead>
								<tr>
								<th>Selecionar</th>
								<th>Razão social</th>
								<th>Nome Fantasia</th>
								<th>CNPJ</th>
							
									
								</tr>
							</thead>
				
							<tbody 	ng-repeat="fornecedores in protudoCtr.listaFornecedores" ng-model="selecionado"  >
							<tr>
								<td><input type="checkbox"   ng-model="fornecedores.selecionado" ng-click="protudoCtr.ativarExcluirLote(listaFornecedores)" ></td>					
								<td>{{fornecedores.dadoEmpresa.razaoSocial}}</td>
								<td>{{fornecedores.dadoEmpresa.nomeFantasia}}</td>	
								<td>{{fornecedores.dadoEmpresa.cnpj}}</td>			
								
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<th><input type="button" class="btn-danger" ng-if="ativadoExcluirLote"  value="excluir" name="apagar" ng-click="protudoCtr.apagarFornecedores(protudoCtr.listaFornecedores)"></th>
							</tr>
							</tfoot>
				
						</table>
					</div>
					</div>
							
					<div class="row ">
						
							<input type="submit"  id="submit" value="Salvar"  ng-disabled="!protudoCtr.produto.descricao"
								class="btn btn-lg btn-primary btn-block btn-signin">
						
					</div>
					
				</form>
				
				<!-- paginas modal -->				
				<div  class="modal fade bs-example-modal-lg" id="myTipo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"">
  						<div class="modal-dialog modal-lg" role="document">
      						 <div class="modal-body">
        						<div ng-include="'views/pages/almoxarifado/produto/tipo/cadastrar.html'"></div>
      						</div>    
    					</div>
  				</div>
  				<div class="modal fade bs-example-modal-lg" id="myFabricante" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"">
  						<div class="modal-dialog modal-lg" role="document">
      						 <div class="modal-body">
        						<div ng-include="'views/pages/almoxarifado/fabricante/cadastrar.html'"></div>
      						</div>    
    					</div>
  				</div>
  				<div class="modal fade bs-example-modal-lg" id="myCategoria" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"">
  						<div class="modal-dialog modal-lg" role="document">
      						 <div class="modal-body">
        						<div ng-include="'views/pages/almoxarifado/produto/categoria/cadastrar.html'"></div>
      						</div>    
    					</div>
  				</div>
  				<div class="modal fade bs-example-modal-lg" id="myFornecedor" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"">
  						<div class="modal-dialog modal-lg" role="document">
      						 <div class="modal-body">
        						<div ng-include="'views/pages/almoxarifado/fornecedor/cadastrar.html'"></div>
      						</div>    
    					</div>
  				</div>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
