<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"  ng-controller="produtoController as protudoCtr" >

<div class="box box-primary" >
		<!-- Default panel contents -->
		<div class="box-header" >
			<span class="lead">Cadastrar Produto </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" ng-submit="protudoCtr.salva()" >
					
					<div class="row">
						<label class="col-sm-2 control-label" for="ativo"> Ativo</label>
						<div class="col-sm-3">
							<input type="checkbox" ng-model="protudoCtr.produto.ativo">
						</div>
					</div>
					
					<br>
					
					<div class="row">
						<label class="col-sm-2 control-label" for="descricao"> Descrição Produto</label>
						<div class="col-sm-5">
							<input class="form-control" ng-model="protudoCtr.produto.descricao" id="descricaoProduto" type="text">
						</div>
					</div>
					
					<br>
										
					<div class="row">
						<label class="col-sm-2 control-label" for="codigoBarra">Código Barras</label>
						<div class="col-sm-4">
							<input class="form-control" ng-model="protudoCtr.produto.codigoBarra" id="codigoBarra" type="text">
						</div>
						<label class="col-sm-2 control-label" for="valorCompra">Valor de Compra</label>
						<div class="col-sm-4">
							<input class="form-control" ng-model="protudoCtr.produto.valorCompra" id="valorCompra"  type="text" ui-money-mask="2">
						</div>
					</div>
					
					<br>
					
					<div class="row">
						<label class="col-sm-2 control-label" for="qtdMaxima">Quantidade Maxima</label>
						<div class="col-sm-4">
							<input class="form-control" ng-model="protudoCtr.produto.quantidadeMaxima" id=""qtdMaxima" type="text">
						</div>
						<label class="col-sm-2 control-label" for="qtdMinima">Quantidade Minima</label>
						<div class="col-sm-4">
							<input class="form-control" ng-model="protudoCtr.produto.quantidadeMinima" id="qtdMinima"  type="text">
						</div>
					</div>
					
					<br>
					
					<div class="row">
						<label class="col-sm-2 control-label" for="unidadeMedida">Unidade de Medida</label>
						<div class="col-sm-4" ng-controller="unidadeMedidaController as unidadeCtrl" ng-init="unidadeCtrl.lista()">
						<select class="form-control select2" ng-model="protudoCtr.produto.unidadeMedida" 
							ng-options="listaunidadeMedidas for listaunidadeMedidas in unidadeCtrl.listaUnidadeMedida" 
							  style=" width: 100%;" required >
								<option value="">---Selecione---</option>
							</select>
						</div>
				
						<label class="col-sm-2 control-label" for="categoria">Categoria</label>
						<div class="col-sm-4" ng-controller="categoriaController as categoriaCtrl" ng-init="categoriaCtrl.lista()">
						<select class="form-control select2" ng-model="protudoCtr.produto.categoria" 
							ng-options="listaCategorias.descricao for listaCategorias in categoriaCtrl.categorias" 
							  style=" width: 100%;" required >
								<option value="">---Selecione---</option>
							</select>
						</div>
					</div>
		
					<br>
					
					<div class="row">
						<label class="col-sm-2 control-label" for="fornecedor">Fornecedor</label>
						<div class="col-sm-4" ng-controller="fornecedorController as forCtrl" ng-init="forCtrl.lista()" >
							<select class="form-control select2" ng-model="protudoCtr.fornecedor" id="fornecedor"
							ng-options="listaFornecedores.dadoEmpresa.razaoSocial for listaFornecedores in forCtrl.fornecedores" 
							  style=" width: 100%;" >
								<option value="">---Selecione---</option>
							</select>
						</div>
					
						<div class="col-sm-2">
							<input class="btn btn-lg btn-primary btn-block btn-signin"
								ng-click="protudoCtr.adicionarFornecedores(protudoCtr.fornecedor)" value="adicionar"
								title="pressione para adicionar a lista" type="button" ng-disabled="!protudoCtr.fornecedor" >
						</div>
					</div>
			
					<br> <br>
					<div class="panel panel-primary">
						<div class="panel-heading">Lista de Fornecedores</div>
						<div class="panel-body">
						<table class="table table-hover ">
							<thead>
								<tr>
								<th>Selecionar</th>
								<th>Razão social</th>
								<th>Nome Fantasia</th>
								<th>CNPJ</th>
							
									
								</tr>
							</thead>
				
							<tbody 	ng-repeat="fornecedores in protudoCtr.listaFornecedores" ng-model="selecionado"  >
							<tr>
								<td><input type="checkbox"   ng-model="fornecedores.selecionado" ng-click="protudoCtr.ativarExcluirLote(listaFornecedores)" ></td>					
								<td>{{fornecedores.fornecedor.dadoEmpresa.razaoSocial}}</td>
								<td>{{fornecedores.fornecedor.dadoEmpresa.nomeFantasia}}</td>	
								<td>{{fornecedores.fornecedor.dadoEmpresa.cnpj}}</td>			
								
							</tr>
							</tbody>
							<tfoot>
							<tr>
								<th><input type="button" class="btn-danger" ng-if="ativadoExcluirLote"  value="excluir" name="apagar" ng-click="protudoCtr.apagarFornecedores(protudoCtr.listaFornecedores)"></th>
							</tr>
							</tfoot>
				
						</table>
					</div>
					</div>
							{{selecionado}}
					<div class="row ">
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<input type="submit" id="submit" value="Salvar"
								class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
						<div class="col-sm-3">
							<a class="btn btn-lg btn-success btn-block btn-signin" href="#/">Menu Principal</a>
							
						</div>
					</div>


				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
