<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"
	ng-controller="produtoController as produtoCtrl">

	<div class="box box-primary" ng-init="produtoCtrl.lista()">
	
		<div class="box-header">
			<span class="lead">Lista de Produtos </span>
		</div>
		<div class="panel-body">
		<input type="text" class="form-control" ng-model="buscarProduto" placeholder="buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					
						<th>Estatus</th>
						<th>Descrição</th>
						<th>Fornecedor</th>
						<th>Unidade Medida</th>
						<th>Categoria</th>
						<th>Valor</th>
									
						
					</tr>
				</thead>
				<tbody
					ng-repeat=" produto in produtoCtrl.produtos | filter : buscaProduto ">
					<tr>
						
						<td>{{ produto.ativo }}</td>
						<td>{{ produto.descricao }}</td>
						<td>{{ produto.fornecedor.dadoEmpresa.rezaoSocial }}</td>
						<td>{{ produto.unidadeMedida }}</td>
						<td>{{ produto.categoria.descricao }}</td>
						<td>{{ produto.valorCompra }}</td>
					
						<td><a href="#/almoxarifado/produto/editar/{{produto.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
					</tr>

				</tbody>
				<tfoot>
				
					
				</tfoot>
			</table>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
