<meta charset="UTF-8">
<br>
<br>
<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item"><a href="#/morador/listar">Lista de Morador</a></li>
   <li class="breadcrumb-item active">Cadastro Morador</li>
 </ol>
<div ng-controller="moradorController as moradorCtrl">

	<div class="box box-primary">
		<div class="box-header">
			<span class="lead">Cadastrar Morador </span>
		</div>
		<div class="panel-body">
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="formMorador"
					ng-submit="moradorCtrl.salvar()">
				<br>
					<br>
					<br>
					<div class="row">
						<div class="col-sm-12"
							ng-class="{ 'has-error' : formMorador.nome.$invalid && !formMorador.nome.$pristine }">
							<input class="form-control" ng-minlength="5" ng-maxlength="50" placeholder="Nome"
								ng-model="moradorCtrl.clienteMorador.nomeCompleto"
								id="nomeCompleto" name="nome" type="text" required>
						</div>
					</div>
					<p ng-show="formMorador.nome.$error.minlength"
						class="alert alert-warning ">campo Nome no minimo 5 caracter</p>
					<p ng-show="formMorador.nome.$error.maxlength"
						class="alert alert-warning ">campo Nome no maximo 50 caracter</p>
						
					<br>
					
					
					
					<div class="row" ng-controller="verificaDadosController as verificaCtrl">
						<div class="col-sm-3" >
						<input class="form-control" placeholder="RG" ng-blur="verificaCtrl.verificaRg(moradorCtrl.clienteMorador.rg)"
								ng-model="moradorCtrl.clienteMorador.rg" id="rg" type="text"
								required>
						</div>
						
						<div class="col-sm-3">
							<input class="form-control" name="cpfField" placeholder="CPF"
								ng-model="moradorCtrl.clienteMorador.cpf" id="cpf" ng-blur="verificaCtrl.verificaCpf(moradorCtrl.clienteMorador.cpf)"
								type="text" ui-br-cpf-mask required>
								<p ng-show="formMorador.cpfField.$error.cpf"
								class="alert alert-warning ">Digite um CPF válido!!</p>
						</div>
						<div class="col-sm-3">
							<input class="form-control" placeholder="Data Nascimento"
								ng-model="moradorCtrl.clienteMorador.dataNascimento"
								id="dataNascimento" type="date"  required  >
						</div>	
						<div class="col-sm-3">
							<input class="form-control" placeholder="Telefone Fixo"
								ng-model="moradorCtrl.clienteMorador.telefoneFixo"
								id="telefoneFixo" type="tel"  ui-br-phone-number required>
						</div>						
					</div>
					
					
					<br> 
					
					<br>
					<div class="row">	
				
						<div class="col-sm-3">
							<input class="form-control"
								ng-model="moradorCtrl.clienteMorador.telefoneCelular" placeholder="Celular"
								id="telefoneCelular" type="tel" ui-br-phone-number required>
						</div>
						<div class="col-sm-9">
							<input class="form-control"
								ng-model="moradorCtrl.clienteMorador.email" placeholder="Email"
								id="email" type="email"  required>
						</div>
						
					</div>					
					<br>
					<hr>
					<div ng-if="tipoEmpreendimento"  class="row" ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.quantidadeEdificio()">
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;"  ng-model="moradorCtrl.clienteMorador.torre"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeTorres" 
							 title="Selecione a torre a qual será atribuido a saida do produto" required>
								<option value="">---Torre---</option>
							</select>
						</div>

						
						<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;"  ng-model="moradorCtrl.clienteMorador.andar"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeAndares"
							 title="Selecione o andar a qual será atribuido a saída do produto" required>
								<option value="">---Andar---</option>
							</select>
						</div>
	
						<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;"  ng-model="moradorCtrl.clienteMorador.apartamento"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeApartamentos" 
							 title="Selecione o apartamento a qual será atribuido a saída do produto" required>
								<option value="">---Apartamento---</option>
							</select>
						</div>
					</div>	
					
					<div class="row" ng-if="!tipoEmpreendimento" ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.quantidadeCasa()">
						
						<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-model="servicoCtrl.servicoCasa.NumeroCasa" 
							ng-options="lista for lista in configCtrl.qtdeCasa.quantidadeCasa" required>
								<option value="">---Casa---</option>
							</select>
						</div>
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-model="servicoCtrl.servicoCasa.andar"  
							ng-options="lista for lista in configCtrl.qtdeCasa.quantidadeAndarCasa" required>
								<option value="">---Andar---</option>
							</select>
						</div>

					</div>					
					
					<br><br>
					<div class="row ">
						<div class=col-sm-4></div>
						<div class=col-sm-4>
							<input type="submit" id="submit" value="Salvar"	class="btn btn-lg btn-primary btn-block btn-signin">
						</div>							
					</div>

				</form>
			</div>
		</div>

	</div>
	<div class="tablecontainer"></div>
</div>
</div>
