<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"
	ng-controller="cadastrarFuncionarioController as cadFuncCtrl">

	<div class="box box-primary">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Editar Funcionario </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="formCadastrarFuncionario"
					ng-submit="cadFuncCtrl.altera()">
					<div class="row">
						<div class="col-sm-12"
							ng-class="{ 'has-error' : formCadastrarFuncionario.nome.$invalid && !formCadastrarFuncionario.nome.$pristine }">
							<input class="form-control" ng-minlength="5" ng-maxlength="50" placeholder="Nome"
								ng-model="cadFuncCtrl.funcionario.nomeCompleto"
								id="nomeCompleto" name="nome" type="text" required>
						</div>
					</div>
					<p ng-show="formCadastrarFuncionario.nome.$error.minlength"
						class="alert alert-warning ">campo Nome no minimo 5 caracter</p>
					<p ng-show="formCadastrarFuncionario.nome.$error.maxlength"
						class="alert alert-warning ">campo Nome no maximo 50 caracter</p>
						
					<br>
					
					<div class="row">
						<div class="col-sm-4" >
						<input class="form-control" placeholder="RG" disabled
								ng-model="cadFuncCtrl.funcionario.rg" id="rg" type="text"
								required>
						</div>
						
						<div class="col-sm-4">
							<input class="form-control" name="cpfField" placeholder="CPF"
								ng-model="cadFuncCtrl.funcionario.cpf" id="cpf" disabled
								type="text" ui-br-cpf-mask required>
								<p ng-show="formCadastrarFuncionario.cpfField.$error.cpf"
								class="alert alert-warning ">Digite um CPF válido!!</p>
						</div>
						<div class="col-sm-2">
							<input class="form-control" placeholder="Data Nascimento"
								ng-model="cadFuncCtrl.funcionario.dataNascimento"
								id="dataNascimento" type="text" ui-date required  >
						</div>
							<div class="col-sm-2">
							<input class="form-control"  placeholder="Idade"
								ng-model="cadFuncCtrl.funcionario.idade"
								id="idade" type="text" required  >
						</div>
					</div>
					<br> 
					
					<br>
					<div class="row">
				
						<div class="col-sm-3">
							<input class="form-control" placeholder="Telefone Fixo"
								ng-model="cadFuncCtrl.funcionario.telefoneFixo"
								id="telefoneFixo" type="tel"  ui-br-phone-number required>
						</div>
				
						<div class="col-sm-3">
							<input class="form-control"
								ng-model="cadFuncCtrl.funcionario.telefoneCelular" placeholder="Celular"
								id="telefoneCelular" type="tel" ui-br-phone-number required>
						</div>
						<div class="col-sm-3">
							<select class="form-control select2" ng-model="cadFuncCtrl.funcionario.sexo" style="width: 100%;" required>
									<option value="">--Sexo--</option>
									<option value="Masculino">Masculino</option>
									<option value="Feminino">Feminino</option>
							</select>
						</div>
							<div class="col-sm-3"  ng-init="cadFuncCtrl.estadoCivil()">
							<select class="form-control select2"  ng-model="cadFuncCtrl.funcionario.estadoCivil" ng-options="estadoCivil for estadoCivil in cadFuncCtrl.listaEstadoCivil"  style="width: 100%;">
								<option value="">{{cadFuncCtrl.funcionario.estadoCivil}}</option>
							</select>
						</div>
					</div>
					
					
					<br>
					
						<hr>
						
						
					<h4>Dados Funcional</h4>
<br>
					<div class="row">
						<div class="col-sm-2">
							<input class="form-control" placeholder="Carteira Trabalho"
								ng-model="cadFuncCtrl.funcionario.carteiraTrabalho"
								id="carteiraTrabalho" type="text" required>

						</div>
					
						<div class="col-sm-2">
							<input class="form-control" placeholder="Data Adimissão"
								ng-model="cadFuncCtrl.funcionario.dataAdmissao"
								id="dataAdmissao" type="text" ui-date required >
						</div>

						<div class="col-sm-3" ng-controller="empreendimentoController as empCtrl" ng-init="empCtrl.lista()">
							<select class="form-control select2"  ng-model="cadFuncCtrl.funcionario.empreendimento" ng-options="listarEmpreendimentos.descricao group by listarEmpreendimentos.tipoEmpreendimento for listarEmpreendimentos in empreendimentos"  style="width: 100%;">
								<option value="">{{cadFuncCtrl.funcionario.empreendimento.descricao}}</option>
							</select>
						</div>
				
						<div class="col-sm-3" ng-controller="cargoController as cargoCtrl" ng-init="cargoCtrl.lista()">
							<select class="form-control select2" ng-model="cadFuncCtrl.funcionario.cargo" ng-options="listarCargos.descricao group by listarCargos.shade for listarCargos in cargos"  style="width: 100%;">
									<option value="">{{cadFuncCtrl.funcionario.cargo.descricao}}</option>
							</select>
						</div>
		
						<div class="col-sm-2">
							<input ng-model="cadFuncCtrl.funcionario.crea" placeholder="CREA" class="form-control" id="crea" type="text">
						</div>
					</div>

					<hr>
					<h4>Endereço</h4>

					<br>
					
					
					<div class="row">
						<div class="col-sm-3">
							<input class="form-control"	ng-model="cadFuncCtrl.funcionario.endereco.cep" id="cep" name="cepField"
								type="text" placeholder="CEP"  ng-blur="cadFuncCtrl.findCep()"  onkeyup="if(this.value.length > 8) { numeroEmpresa.focus(); }"   ui-br-cep-mask required>
								
		
						</div>
					</div>	
					<br>
					<div class="row">	
						<div class="col-sm-5">
							<input class="form-control" placeholder="Rua"
								ng-model="cadFuncCtrl.funcionario.endereco.logradouro" id="rua"
								type="text" required>
						</div>
						<div class="col-sm-2"
							ng-class="{ 'has-error' : formCadastrarFuncionario.numeroEmpresa.$invalid && !formCadastrarFuncionario.numeroEmpresa.$pristine }">
							<input class="form-control" name="numeroEmpresa" placeholder="N°"
								ng-model="cadFuncCtrl.funcionario.endereco.numero" id="numero"
								type="text" ng-minlength="1" ng-maxlength="7" required>
								<p ng-show="formCadastrarFuncionario.numeroEmpresa.$error.minlength"
								class="alert alert-warning ">campo numero no minimo 1 caracter</p>
								<p ng-show="formCadastrarFuncionario.numeroEmpresa.$error.maxlength"
								class="alert alert-warning ">campo numero no maximo 7 caracter</p>
						</div>
						<div class="col-sm-5">
							<input class="form-control" placeholder="Complemento"
								ng-model="cadFuncCtrl.funcionario.endereco.complemento"
								id="complemento" type="text">
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-5">
							<input class="form-control" placeholder="Bairro"
								ng-model="cadFuncCtrl.funcionario.endereco.bairro" id="bairro"
								type="text" reuired>

						</div>
						<div class="col-sm-5">
							<input class="form-control" placeholder="Cidade"
								ng-model="cadFuncCtrl.funcionario.endereco.localidade" id="cidade"
								type="text" required>
						</div>
						<div class="col-sm-2">
							<input class="form-control" placeholder="Estado"
								ng-model="cadFuncCtrl.funcionario.endereco.uf" id="estado"
								type="text" required>
						</div>

					</div>
					
					<br>


					<div class="row ">
					
							<input type="submit" id="submit" value="Salvar"
								class="btn btn-lg btn-primary btn-block btn-signin">
						
					</div>

				</form>
			</div>
		</div>

	</div>
	<div class="tablecontainer"></div>
</div>
</div>
