<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"
	ng-controller="cadastrarFuncionarioController as funCtrl" >

	<div class="box box-primary" ng-init="funCtrl.lista()">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Lista de Funcionarios </span>
		</div>
		<div class="panel-body"  >
		
		<input class="form-control" type="text" placeholder="Buscar" ng-model="buscaFuncionario" >
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>Nome</th>
						<th>CPF</th>
						<th>CARGO</th>
						<th>TELEFONE</th>
						<th>SEXO</th>
						<th>CIDADE</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" funcionario in funCtrl.listaFuncionarios | filter : buscaFuncionario">
					<tr>
					<td><h5><a href="#/recursosHumanos/funcionario/editar/{{funcionario.id}}">{{ funcionario.nomeCompleto }}</a></h5></td>
						<td><h5><a href="#/recursosHumanos/funcionario/editar/{{funcionario.id}}">{{ funcionario.cpf }}</a></h5></td>
						<td><h5><a href="#/recursosHumanos/funcionario/editar/{{funcionario.id}}">{{ funcionario.cargo.descricao }}</a></h5></td>
						<td><h5><a href="#/recursosHumanos/funcionario/editar/{{funcionario.id}}">{{ funcionario.telefoneCelular}}</a></h5></td>
						<td><h5><a href="#/recursosHumanos/funcionario/editar/{{funcionario.id}}">{{ funcionario.sexo }}</a></h5></td>
						<td><h5><a href="#/recursosHumanos/funcionario/editar/{{funcionario.id}}">{{ funcionario.endereco.cidade}}</a></h5></td>
						</tr>

				</tbody>
				<tfoot>
					<tr>
						<th>fim</th>
						<th>fim</th>

					</tr>
				</tfoot>
			</table>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
