<meta charset="UTF-8">
<br>
<br>
<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item" ><a href="#/cotacao/gerar">gerar</a></li>
   <li class="breadcrumb-item" ><a href="#/cotacao/em_aberto">em aberto</a></li>
   <li class="breadcrumb-item active">Concorrentes</li>
  </ol>	
<div 	ng-controller="cotacaoCompraController as cotacaoCtrl">

	<div class="box box-primary" >
	
		<div class="box-header">
			<span class="lead">Empresas concorrentes</span>
		</div>
		<div class="panel-body">
	<div class="row">
			
			
	
		</div>
		<div class="table-responsive">
			<input type="text" class="form-control"  ng-model="buscar" placeholder="buscar por descrição">
			<table class="table table-hover table-bordered table-responsive">
				<thead>
					<tr>
						 
						<th>Empresa</th>
						<th>CNPJ</th>
						<th>Data Limite</th>
						<th >Data encerramento</th>
		
					</tr>
				</thead>
				<tbody
					ng-repeat=" cotacao in concorrentes | filter : buscar ">
					<tr>
						
						<td>{{cotacao.fornecedor.dadoEmpresa.nomeFantasia}}</td>
						<td>{{cotacao.fornecedor.dadoEmpresa.cnpj}}</td>
						<td>{{cotacao.cotacao.dataLimite | date : 'dd/MM/yyyy'}}</td>
						<td>{{cotacao.cotacao.dataFechamento | date : 'dd/MM/yyyy'}}</td>
					
						<td class="col-sm-1"><a  ng-click="cotacaoCtrl.buscaConcorrentePorId(cotacao.id)" class="btn btn-lg btn-info">vizualizar</a></td>
						
					</tr>

				</tbody>
				<tfoot>
				
					
				</tfoot>
			</table>
			</div>
			
		</div>
	</div>
</div>


