<meta charset="UTF-8">
<br>
<br>
<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item" ><a href="#/cotacao/gerar">gerar</a></li>
   <li class="breadcrumb-item active">em aberto</li>
  </ol>	
<div 	ng-controller="cotacaoCompraController as cotacaoCtrl">

	<div class="box box-primary" ng-init="cotacaoCtrl.lista()">
	
		<div class="box-header">
			<span class="lead">Cotação em aberto </span>
		</div>
		<div class="panel-body">
	<div class="row">
			
			
	
		</div>
			<input type="text" class="form-control"  ng-model="buscar" placeholder="buscar por descrição">
			<div class="table-responsive">
			<table class="table table-hover table-bordered ">
				<thead>
					<tr>
						 
						<th>Cotação</th>
						<th>Data Limite</th>
						<th>Data encerramento</th>
						
		
					</tr>
				</thead>
				<tbody
					ng-repeat=" cotacao in cotacaoCtrl.cotacoes | filter : buscar ">
					<tr>
						
						<td>{{cotacao.tema}}</td>
						<td>{{cotacao.dataLimite | date : 'dd/MM/yyyy'}}</td>
						<td ng-if="fechado">{{cotacao.dataFechamento | date : 'dd/MM/yyyy'}}</td>
					
						<td  class="col-sm-1"><a  ng-href="#/cotacao/concorrentes/{{cotacao.id}}" class="btn  btn-info">Concorrentes</a></td>
						<td ng-if="cotacao.fechado" class="col-sm-1"><a  ng-href="#/cotacao/vencedores/{{cotacao.id}}" class="btn  btn-success">Vencedores</a></td>
						<td ng-if="ROLE_MODULO_COMPRAS_COTACAO_CADASTRAR" ng-show="!cotacao.fechado" class="col-sm-1"><a  ng-href="#/cotacao/cadastro/{{cotacao.id}}" class="btn  btn-primary">Cadastrar</a></td>
						<td ng-if="!cotacao.fechado" class="col-sm-1"><a  ng-click="cotacaoCtrl.fecharCotacao(cotacao.id)" class="btn  btn-success">Encerrar</a></td> 
						
					</tr>

				</tbody>
				<tfoot>
				
					
				</tfoot>
			</table>
			</div>			
		</div>
	</div>
</div>


