<meta charset="UTF-8">
<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item"><a href="#/servicos/home">menu serviços</a></li>
   <li class="breadcrumb-item" ><a href="#/servicos/vincular/cadastro">cadastrar</a></li>
   <li class="breadcrumb-item" ><a href="#/servicos/vincular/listagem">listar</a></li>
   <li class="breadcrumb-item active">vistoria edificio</li>
  </ol>
<div ng-controller="servicoEmpresaController as servicoCtrl">
	<div class="box box-primary">
		<div class="box-header">
			<span class="lead"> Vistoria Serviços </span>
		</div>
		<div class="panel-body">
			<div class="container col-sm-12 ">
				<form role="form-vertical" >		
					<br>
					<br>
								
					<div class="row">
							<div class="col-sm-4"  >
							<strong>Torre do Edificio:</strong>
							<h4><span>{{servicoCtrl.servicoEdifico.torre}}</span></h3>							
						</div>						
						<div class="col-sm-4"  >
						<strong>Andar do Edificio:</strong>
						<h4><span>{{servicoCtrl.servicoEdifico.andar}}</span></h4>							
						</div>	
						<div class="col-sm-4"  >
						<strong>Apartamento do Edificio:</strong>
						<h4><span>{{servicoCtrl.servicoEdifico.apartamento}}</span></h4>							
						</div>
					</div>						
					<br>
					<div class="row">	
						<div class="col-sm-4">		
						<strong>Pacote de Serviço:</strong>	
							<h4><span>{{servicoCtrl.pacoteServico.descricao}}</span></h4>
						</div>	
							
						<div class="col-sm-4" >			
							<strong>Prestadora de Serviço:</strong>
							<h4><span>{{servicoCtrl.prestadoraServico.dadoEmpresa.nomeFantasia}}</span></h4>
						</div>
						<div class="col-sm-4" >			
							<strong>Valor:</strong>
							<h4><span>{{servicoCtrl.pacoteServico.valor | currency}}</span></h4>
						</div>
					</div>
					<br>
					<div ng-if="!servicoCtrl.servicoEdifico.dataFechamento" class="row">
						<div class="col-sm-2">
						% concluido
							<input type="number" class="form-control"  ng-model="servicoCtrl.servicoEdifico.porcentagem">
						</div>
					</div>
					<br>
					<div class="row">
					<div class="col-sm-12">
						<div class="progress" style="margin-bottom:0">
						  <div class="progress-bar"  ng-style="{ 'width' : servicoCtrl.servicoEdifico.porcentagem +'%'};">
						  {{servicoCtrl.servicoEdifico.porcentagem}}%
						  </div>
						</div>
						</div>
					</div>
					<br>
					<div ng-if="servicoCtrl.servicoEdifico.dataFechamento" class="row">
						<div class="alert alert-success" role="alert">
						Este serviço ,&nbsp;foi &nbsp; concluido&nbsp; na &nbsp;data&nbsp;{{servicoCtrl.servicoEdifico.dataFechamento | date :'dd/MM/yyyy'}}!!</div>							  		
					</div><br>
					<div ng-if="servicoCtrl.servicoEdifico.dataPagamento" class="row">
						<div class="alert alert-success" role="alert">
						Pagamento &nbsp; realizada na &nbsp;data&nbsp;{{servicoCtrl.servicoEdifico.dataPagamento | date :'dd/MM/yyyy'}}!!</div>							  		
					</div>
					<div ng-show="servicoCtrl.servicoEdifico.dataFechamento" ng-if="!servicoCtrl.servicoEdifico.dataPagamento" class="row">
						<div class="alert alert-warning" role="alert">
						Pagamento &nbsp; Pendente!!</div>							  		
					</div>
					<div class="box"ng-if="!servicoCtrl.servicoEdifico.dataFechamento">
						<div class="box-header">
							<h3 class="box-title">
								Registrar Ocorrencias
							</h3>				
									
						</div>
						<div class="box-body pad">							
								<textarea class="textarea" placeholder="Texto" ng-model="servicoCtrl.ocorrencia" id="texto"
									style="width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
						</div>
						<div class="row">
				            <div class="col-xs-12">				                
				                Selecione até 5 fotos:
				                <input type="file" nv-file-select="" uploader="uploader" multiple /><hr/>
				                
				                <table  class="table">
				                     <tbody>
				                        <tr ng-repeat="item in uploader.queue">
				                            <td>{{item.file.name}}</td>
				                            <td ng-show="uploader.isHTML5" nowrap>
				                                {{item.file.size/1024/1024|number:2}} MB
				                            </td>
				               
				                            <td nowrap>			                                
				                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
				                                    Remove
				                                </button>
				                            </td>                            
				                        </tr>
				                    </tbody>
				                </table>
				                
				                <div>
				                    <div>
				                        Progresso Geral: 
				                        <div class="progress">
				                            <div class="progress-bar" ng-style="{ 'width' : uploader.progress + '%' }"></div>
				                        </div>
				                        
				                        <button type="button" class="btn btn-success" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">Enviar todos os arquivos</button>
				                        
				                        <button type="button" class="btn btn-danger" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
				                            Limpa a fila
				                        </button>
				                        
				                    </div>
				                </div>
				                
				                
				            </div>
				        </div>  
					</div>
					<br>
					<div ng-if="!servicoCtrl.servicoEdifico.dataFechamento" class="row ">
					<div class="col-sm-4"></div>
						<div class="col-sm-4" >	
							<button  type="button" name="salvar"  ng-click="servicoCtrl.alteraVistoriaEdificio(servicoCtrl.servicoEdifico , servicoCtrl.pacoteServico,  servicoCtrl.prestadoraServico, servicoCtrl.ocorrencia)" class="btn btn-lg btn-primary btn-block btn-signin">Salvar</button>
					</div>
					</div><hr><br>
				</form>
			</div>
			<div class="row">
						<div class="col-md-12">
							<div class="box box-primary direct-chat direct-chat-primary">
								<div class="box-header with-border">
									<h2 class="box-title">Ocorrencias</h2>
									<div class="box-tools pull-right">
										<span data-toggle="tooltip" title="quantidade de mensagens"
											class="badge bg-light-blue">{{quantidadeMensagem}}</span>
									</div>
								</div>
								<br>
								<div class="box-body">
									
										<div ng-repeat=" ocorrencia in servicoCtrl.servicoEdifico.ocorrencias | orderBy:'-id' ">
											<div class="alert alert-success">
												<div class="direct-chat-primary clearfix">
													<span class="direct-chat-name pull-left">{{ocorrencia.usuario.nome}}</span>
													<span class="direct-chat-name pull-right">
														Data : {{ ocorrencia.data | date : 'dd/MM/yyyy'}} 
														Horas : {{ ocorrencia.data | date : 'HH:mm:ss'}} 
													</span>
													</div>
												<img class="direct-chat-img" src="public/img/avatar_2x.png"
													alt="message user image">
												<div class="direct-chat-text">{{ ocorrencia.ocorrencia }}</div>
												<br>
											</div>
											<br>											
											<br>
										</div>
									
								</div>
							</div>
						</div>
					</div>
		</div>
	</div>
	</div>