<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"
	ng-controller="prestadoraServicoController as prestadoraCtr">

	<div class="box box-primary" ng-init="prestadoraCtr.lista()">
	
		<div class="box-header">
			<span class="lead">Lista de Empreendimento </span>
		</div>
		<div class="panel-body">
		<input type="text" class="form-control" ng-model="buscaPrestadora" placeholder="buscar">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
					
						<th>Razão Social</th>
						<th>Nome Fantasia</th>
						<th>CNPJ</th>
						<th>Telefone</th>
						<th>Cidade</th>
						<th>Estado</th>
						
					</tr>
				</thead>
				<tbody
					ng-repeat=" prestadoraServico in prestadoraServicos | filter : buscaPrestadora ">
					<tr>
					
						
						<td>{{ prestadoraServico.dadoEmpresa.razaoSocial }}</td>
						<td>{{ prestadoraServico.dadoEmpresa.nomeFantasia}}</td>
						<td>{{ prestadoraServico.dadoEmpresa.cnpj }}</td>
						<td>{{ prestadoraServico.dadoEmpresa.telefone }}</td>
						<td>{{ prestadoraServico.dadoEmpresa.endereco.localidade }}</td>
						<td>{{ prestadoraServico.dadoEmpresa.endereco.uf }}</td>
						<td><a href="#/empreendimento/prestadoraServico/editar/{{prestadoraServico.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
						
					</tr>

				</tbody>
		
				<tfoot>
				
					<tr>
						<th>fim</th>
						<th>fim</th>

					</tr>
				</tfoot>
			</table>
		</div>
	
	</div>

</div>


