<meta charset="UTF-8">
<div class="generic-container" ng-controller="cargoController as cargoCtr" >

	<div class="panel panel-primary">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead">Pagina cadastrar Cargo </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" ng-submit="cargoCtr.createCargo()" >
					<div class="row">
						<label class="col-sm-1 control-label" for="descricaoCargo"> Descrição do Cargo</label>
						<div class="col-sm-11">
							<input class="form-control" ng-model="cargoCtr.cargo.descricao" id="descricao" type="text">
						</div>
					</div>
					<br>

					<div class="row ">
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<input type="submit" id="submit" 
								class="btn btn-lg btn-primary btn-block btn-signin">
						</div>
						<div class="col-sm-3">

							<button id="submit" type="submit" name="submit" 
								class="btn btn-lg btn-danger btn-block btn-signin">Cancelar</button>
						</div>
					</div>


				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
