<meta charset="UTF-8">
<form role="form-vertical" name="form" novalidate  ng-submit="ctrl.submit(form)" >
	
				<div class="row">
			      <div class="col-md-4" ng-class="{ 'has-error' : form.tipo.$invalid && form.$submitted }">
			       <label for="tipo" class="control-label">Operação:</label>
					<select id="tipo" name="tipo" class="form-control" ng-model="ctrl.lancamento.tipo" ng-options="operacao for operacao in ctrl.operacoes">	               
			              </select>
			      </div>
			      <div class="col-md-4" ng-class="{ 'has-error' : form.categoriaTipo.$invalid && form.$submitted }">
			       <label for="categoria" class="control-label">tipo:</label>
					<select id="categoriaTipo" name="categoriaTipo" class="form-control" ng-model="ctrl.categoria.tipo" 
					ng-options="tipo for tipo in ctrl.tipos" ng-change="ctrl.findAllIdTipo(ctrl.categoria.tipo)">	               
			              </select>
			      </div>
			      	<div class="form-group  col-sm-4" ng-class="{ 'has-error' : form.categoria.$invalid && form.$submitted }">
			 		<a href="" class="fa fa-plus" ui-sref="categoriaFinancerio.cadastrar">Novo</a> | <label>Categoria:</label>
				   	<select id="categoria" name="categoria" class="text-uppercase form-control" ng-model="ctrl.lancamento.categoria" ng-options="categoria.descricao for categoria in ctrl.categorias">	               
			              </select>
			    </div>
				</div>
				<div class="row">
					<div class="col-sm-3" ng-class="{ 'has-error' : form.vencimento.$invalid && form.$submitted }">
					<label>Vencimento:</label>
						<input class="form-control"  id="vencimento" name="vencimento" type="date" title="informe a data de vencimento" 
						ng-model="ctrl.lancamento.dataVencimento" required date-input>
					</div>			
					<div class="col-sm-3" ng-class="{ 'has-error' : form.dataPagamento.$invalid && form.$submitted }" ng-if="ctrl.lancamento.id">
					<label>Data{{ctrl.lancamento.tipo == 'DEBITO' ? ' Pagamento' : 'Recebimento'}}:</label>
						<input class="form-control"  id="dataPagamento" name="dataPagamento" type="date" ng-model="ctrl.lancamento.dataPagamentoOuRecebimento"  title="informe a data do {{ctrl.lancamento.tipo == 'DEBITO' ? ' Pagamento' : 'Recebimento'}}" date-input>
					</div>					
				</div> 
				
				<div class="row">
			      <div class="col-md-3" ng-class="{ 'has-error' : form.valor.$invalid && form.$submitted }">
			        <label>Valor:</label>
			        <input  type="text" name="valor" id="valor" placeholder="0,00" ui-money-mask="2"  class="form-control"  ng-model="ctrl.lancamento.valor" required>
			      </div>    
			       <div class="col-md-3" ng-if="ctrl.lancamento.id">
			        <label>Juros:</label>
			        <input  type="text" name="valor" id="valor" placeholder="0,00" ui-money-mask="2"  class="form-control"  ng-model="ctrl.lancamento.juros" >
			      </div>
			       <div class="col-md-3" ng-if="ctrl.lancamento.id">
			        <label>Desconto:</label>
			        <input  type="text" name="valor" id="valor" placeholder="0,00" ui-money-mask="2"  class="form-control"  ng-model="ctrl.lancamento.desconto" >
			      </div>
			      <div class="col-md-3" ng-if="ctrl.lancamento.id">
			        <label>Valor Total:</label>
			        <h4>{{ctrl.lancamento.valor +  ctrl.lancamento.juros - ctrl.lancamento.desconto| currency}}</h4>
			      </div>  
				</div>
				<div class="row">
			      <div class="col-md-10">
			        <label>Observação:</label>
			        <textarea  rows="4" name="observacao" class="form-control" ng-model="ctrl.lancamento.observacao"></textarea>
			      </div>
			      <div class="col-sm-2" flow-init="{singleFile:true}"
						flow-file-added="!!{png:1,pdf:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
						class="ng-scope" flow-name="obj.flow">
						<div class="thumbnail " ng-show="$flow.files.length">
							<img  flow-img="$flow.files[0]">
						</div>
						<div class="thumbnail " ng-show="ctrl.lancamento.comprovanteBase64 != null && !$flow.files.length">
							<img ng-src="{{ctrl.lancamento.comprovanteBase64Path}}" >
						</div>
						<div><br ng-show="!$flow.files.length">
							<span class="btn btn-primary col-sm-12" ng-show="!$flow.files.length"
								flow-btn="">Selecione uma imagem<input type="file"
								style="visibility: hidden; position: absolute;">
								</span>
								<span class="btn btn-info col-sm-6 " ng-show="$flow.files.length"
								flow-btn="">Trocar<input type="file"
								style="visibility: hidden; position: absolute;">
								</span>
								<span class="btn btn-danger col-sm-6 " ng-show="$flow.files.length"
								ng-click="$flow.cancel()"> Remover </span>
						</div>
					</div>
				</div>
				
		
		<br ng-show="!$flow.files.length">
				<div class="row col-md-4 col-md-offset-4">						
					<input type="submit"  id="submit" value="Salvar" class="btn btn-lg btn-primary btn-block btn-signin">			
				</div>
  </form>