<meta charset="UTF-8">
<br>
<br>
<div 	ng-controller="requisicaoEstoqueController as requisicaoCtrl">

	<div class="box box-primary" >
	
		<div class="box-header">
			<span class="lead">Requisições </span>
		</div>
		<div class="panel-body">
	<div class="row">
			
			
	
		</div>
		<div class="table-resposive">
			<input type="text" class="form-control"  ng-model="buscar" placeholder="buscar por descrição">
			<div  class="table-responsive">
			<table ng-if="tipoEmpreendimento" class="table table-hover table-bordered" ng-init="requisicaoCtrl.listaRequisicaoEdificio()">
				<thead>
					<tr>
						 
						<th>Número</th>
						<th>Status</th>
						<th>Data</th>
					
					</tr>
				</thead>
				<tbody
					ng-repeat=" lista in listaRequisicaoEdificio | filter : buscar ">
					<tr>
						
						<td>{{lista.informacaoRequisicao.numeroRequisicao}}</td>
						<td>{{lista.informacaoRequisicao.statusRequisicao}}</td>
						<td>{{lista.informacaoRequisicao.dataSaida | date : 'dd/MM/yyyy' }}</td>						
					
						<td><a href="#/estoque/visualizar/edificio/{{lista.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
					</tr>

				</tbody>
				<tfoot>
				
					
				</tfoot>
			</table>
			</div>
			<div class="row" ng-if="tipoEmpreendimento">
				<div class="col-sm-5"></div>
				<div class="3">			
				<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
							    </li>
							    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
				</nav>
				</div>
			</div>
			<div class="table-responsive">
			<table ng-if="!tipoEmpreendimento" class="table table-hover table-bordered" ng-init="requisicaoCtrl.listaRequisicaoCasa()">
				<thead>
					<tr>
						 
						<th>Número</th>
						<th>Status</th>
						<th>Data</th>
					
					</tr>
				</thead>
				<tbody
					ng-repeat=" lista in listaRequisicaoCasa | filter : buscar ">
					<tr>
						
						<td>{{lista.informacaoRequisicao.numeroRequisicao}}</td>
						<td>{{lista.informacaoRequisicao.statusRequisicao}}</td>
						<td>{{lista.informacaoRequisicao.dataSaida | date : 'dd/MM/yyyy'}}</td>						
					
						<td><a href="#/estoque/visualizar/casa/{{lista.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
					</tr>

				</tbody>
				<tfoot>
				
					
				</tfoot>
			</table>
			</div>
			<div class="row" ng-if="!tipoEmpreendimento" >
				<div class="col-sm-5"></div>
				<div class="3">			
				<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
							    </li>
							    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
				</nav>
				</div>
			</div>
			<hr>
			<div class="table-responsive">
			<h3>Edificações Comunitária</h3>
			<table class="table table-hover table-bordered" ng-init="requisicaoCtrl.listaRequisicaoOutros()">
				<thead>
					<tr>
						 
						<th>Número</th>
						<th>Status</th>
						<th>Data</th>
					
					</tr>
				</thead>
				<tbody
					ng-repeat=" lista in listaRequisicaoOutros | filter : buscar ">
					<tr>
						
						<td>{{lista.informacaoRequisicao.numeroRequisicao}}</td>
						<td>{{lista.informacaoRequisicao.statusRequisicao}}</td>
						<td>{{lista.informacaoRequisicao.dataSaida | date : 'dd/MM/yyyy'}}</td>						
					
						<td><a href="#/estoque/visualizar/outros/{{lista.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
					</tr>

				</tbody>
				<tfoot>
				
					
				</tfoot>
			</table>
			</div>
			<div class="row">
				<div class="col-sm-5"></div>
				<div class="3">			
				<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
							    </li>
							    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
				</nav>
				</div>
			</div>
			</div>
		</div>
	</div>
</div>


