<meta charset="UTF-8">
<br>
<br>
<div ng-controller="servicoEmpresaController as servicoCtrl" >

	<div class="box box-primary" >
		<div class="panel-body"  >
		
			<div ng-if="tipoEmpreendimento" >
			<div class="table-responsive">
			<h3>Lista dos serviços nos Edifícos</h3>
			<input class="form-control" type="text" placeholder="Buscar" ng-model="buscaPacotes" >
			<table class="table table-hover table-bordered" ng-init="servicoCtrl.listaEdificio()">
				<thead>
					<tr>
						<th>Pacote de serviço</th>
						<th>Prestadora de serviço</th>
						<th>Categoria</th>
						<th>Torre</th>
						<th>Andar</th>
						<th>Apartamento</th>
						<th>Valor</th>
						
					</tr>
				</thead>
				<tbody
					ng-repeat=" edificio in listaEdificio | filter : buscaPacotes">
					<tr>
					<td>{{ edificio.pacoteServico.descricao }}</td>
						<td>{{ edificio.prestadoraServico.dadoEmpresa.nomeFantasia }}</td>
						<td>{{ edificio.pacoteServico.categoria.descricao }}</td>
						<td>{{ edificio.torre }}</td>
						<td>{{ edificio.andar}}</td>
						<td>{{ edificio.apartamento}}</td>
						<td>{{ edificio.pacoteServico.valor | currency}}</td>
						
						<td><a href="#/servicos/vincular/visualizar/edificio/{{edificio.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
						
						
						</tr>

				</tbody>
				<tfoot>
					<tr>
	
					</tr>
				</tfoot>
			</table>
			
		</div>
		<div class="row">
				<div class="col-sm-5"></div>
				<div class="3">			
				<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
							    </li>
							    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
				</nav>
				</div>
			</div>
		</div>
		<div ng-if="!tipoEmpreendimento" >
		<div class="table-responsive">
			<h3>Lista dos serviços nas Casas</h3>
			<input class="form-control" type="text" placeholder="Buscar" ng-model="buscaPacotes" >
			<table class="table table-hover table-bordered" ng-init="servicoCtrl.listaCasa()">
				<thead>
					<tr>
						<th>Pacote de serviço</th>
						<th>Prestadora de serviço</th>
						<th>Categoria</th>
						<th>Número</th>
						<th>Andar</th>
						<th>Valor</th>
						
					</tr>
				</thead>
				<tbody
					ng-repeat=" casa in listaCasa | filter : buscaPacotes">
					<tr>
						<td>{{ casa.pacoteServico.descricao }}</td>
						<td>{{ casa.prestadoraServico.dadoEmpresa.nomeFantasia }}</td>
						<td>{{ casa.pacoteServico.categoria.descricao }}</td>
						<td>{{ casa.numero }}</td>
						<td>{{ casa.andar}}</td>
						<td>{{ casa.pacoteServico.valor | currency}}</td>
						
						<td><a href="#/servicos/vincular/visualizar/casa/{{casa.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						
						
						
						</tr>

				</tbody>
				<tfoot>
					<tr>
	
					</tr>
				</tfoot>
			</table>
			
		</div>
		<div class="row">
				<div class="col-sm-5"></div>
				<div class="3">			
				<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
							    </li>
							    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
				</nav>
				</div>
			</div>
			</div>
		<br>
		<hr>
		<br>	
		
		<div class="table-responsive">
			<h3>Lista dos serviços nas Edificações Comunitarias</h3>
			<input class="form-control" type="text" placeholder="Buscar" ng-model="buscaPacotes" >
			<table class="table table-hover table-bordered" ng-init="servicoCtrl.listaEdificacoesComunitaria()">
				<thead>
					<tr>
						<th>Pacote de serviço</th>
						<th>Prestadora de serviço</th>
						<th>Categoria</th>
						<th>Edif. Comunitária</th>
						<th>Valor</th>
						
					</tr>
				</thead>
				<tbody
					ng-repeat=" comunitario in listaEdificacoesComunitaria | filter : buscaPacotes">
					<tr>
						<td>{{ comunitario.pacoteServico.descricao }}</td>
						<td>{{ comunitario.prestadoraServico.dadoEmpresa.nomeFantasia }}</td>
						<td>{{ comunitario.pacoteServico.categoria.descricao }}</td>
						<td>{{ comunitario.descricao }}</td>
						<td>{{ comunitario.pacoteServico.valor | currency}}</td>
						
						<td><a href="#/servicos/vincular/visualizar/comunitario/{{comunitario.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
						</tr>

				</tbody>
				<tfoot>
					<tr>
	
					</tr>
				</tfoot>
			</table>
			
		</div>
		<div class="row">
				<div class="col-sm-5"></div>
				<div class="3">			
				<nav aria-label="Page navigation">
					  <ul class="pagination">
					    <li>
					      <a href="#" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
							    </li>
							    <li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
							    <li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li>
					      <a href="#" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
				</nav>
				</div>
			</div>
		</div>
	
	</div>
	
</div>


