<meta charset="UTF-8">
<div  ng-controller="servicoEmpresaController as servicoCtrl">
	
<ol class="breadcrumb">   
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item"><a href="#/servicos/home">menu serviços</a></li>
   <li class="breadcrumb-item" ><a href="#/servicos/vincular/cadastro">cadastrar</a></li>
   <li class="breadcrumb-item active">relatório</li>
  </ol> 
	  
	<div class="panel panel-default"></div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="lead">Relátorio de serviço </span>
		</div>
			<div>	<div class="col-sm-4">
						<label ng-if="!tipoEmpreendimento"  class="radio-inline"><input type="radio"  ng-model="tipo.tipo" value="casa" ng-click="servicoCtrl.tipoConf()" name="optradio">Casa</label>
						<label ng-if="tipoEmpreendimento" class="radio-inline"><input type="radio"  ng-model="tipo.tipo" value="edificio" ng-click="servicoCtrl.tipoConf()" name="optradio">Edificio</label>
						<label class="radio-inline"><input type="radio"   ng-model="tipo.tipo" value="comunitaria" ng-click="servicoCtrl.tipoConf()" name="optradio">Edificações Comunitaria</label> 
					</div>
					<br>
					<br>
					
					
					<div class="row" ng-if="casa" ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.quantidadeCasa()">
						
						<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-model="servicoCtrl.numeroCasa" 
							ng-options="lista for lista in configCtrl.qtdeCasa.quantidadeCasa" required>
								<option value="">---Casa---</option>
							</select>
						</div>
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-model="servicoCtrl.andar"  
							ng-options="lista for lista in configCtrl.qtdeCasa.quantidadeAndarCasa" required>
								<option value="">---Andar---</option>
							</select>
						</div>

					</div>
					<div class="col-sm-12">				
					<div ng-if="edificio" class="row" ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.quantidadeEdificio()">
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;"  ng-model="servicoCtrl.torre"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeTorres" 
							 title="Selecione a torre a qual será atribuido a saida do produto" required>
								<option value="">---Torre---</option>
							</select>
						</div>

						
						<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;"  ng-model="servicoCtrl.andar"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeAndares"
							 title="Selecione o andar a qual será atribuido a saída do produto" required>
								<option value="">---Andar---</option>
							</select>
						</div>
	
						<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;"  ng-model="servicoCtrl.apartamento"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeApartamentos" 
							 title="Selecione o apartamento a qual será atribuido a saída do produto" required>
								<option value="">---Apartamento---</option>
							</select>
						</div>
					</div>									
					
								
					<div class="row" ng-if="comunitaria">
						<div class="col-sm-5"  ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.listaOutros()">
							<select class="form-control select2" style=" width: 100%;" ng-model="servicoCtrl.descricao" 
							 ng-options="lista.descricao for lista in configCtrl.listaOutros" required>
								<option value="">---Outros imoveis---</option>
							</select>			
					</div>
					</div>
					</div>	
					<br>	
					<br><br>	
				<div class="col-sm-12 row">
					<div class="col-sm-2">
						<div class="btn-group" role="group" aria-label="...">
						  <button type="button" ng-click="ativaBuscaRelatorio('total')" class="btn btn-default">Total</button>
						  <button type="button" ng-click="ativaBuscaRelatorio('periodo')"  class="btn btn-default">Peridodo</button>
						</div>
					</div>				
				</div>
				<br><br><br>
				<div ng-show="porTotal" class="row">													
					<div class="col-sm-2">
						<input ng-show="!servicoCtrl.torre" ng-if="edificio" type="button" id="buscar" value="Buscar" ng-click="servicoCtrl.listaEdificio()"	class="btn btn-lg btn-primary btn-block btn-signin">
						<input ng-show="!servicoCtrl.numeroCasa" ng-if="casa" type="button" id="buscar" value="Buscar" ng-click="servicoCtrl.listaCasa()"	class="btn btn-lg btn-primary btn-block btn-signin">
						<input ng-show="!servicoCtrl.descricao" ng-if="comunitaria" type="button" id="buscar" value="Buscar" ng-click="servicoCtrl.listaEdificacoesComunitaria()"	class="btn btn-lg btn-primary btn-block btn-signin">
					</div>			
				</div>
				<div ng-show="porTotal" class="row">													
					<div class="col-sm-2">
						<input ng-show="servicoCtrl.torre" type="button" id="buscar" value="Buscar" ng-click="servicoCtrl.consultarServicoEdificio(servicoCtrl.torre , servicoCtrl.andar , servicoCtrl.apartamento)"	class="btn btn-lg btn-primary btn-block btn-signin">
						<input ng-show="servicoCtrl.numeroCasa" type="button" id="buscar" value="Buscar" ng-click="servicoCtrl.consultarServicoCasa(servicoCtrl.numeroCasa , servicoCtrl.andar )"	class="btn btn-lg btn-primary btn-block btn-signin">
						<input ng-show="servicoCtrl.descricao" type="button" id="buscar" value="Buscar" ng-click="servicoCtrl.consultarServicoEdificacoesComunitaria(servicoCtrl.descricao)"	class="btn btn-lg btn-primary btn-block btn-signin">
					</div>			
				</div>
				
				<div ng-show="porPeriodo" class="row">
					<div class="col-sm-1"></div>	
					<div class="col-sm-2">
					Data inicial:
							<input class="form-control" ng-model="dataInicial" id="dataInicial" type="date" 
							title="Data pesquisa inicial" required>
					</div>
					<div class="col-sm-2">
					Data final:
							<input class="form-control" ng-model="dataFinal"  id="dataFinal" type="date" 
							title="Data pesquisa final">
						</div>											
						<div class="col-sm-2">
							<input ng-if="edificio" type="button" id="buscar" value="Buscar" ng-click="servicoCtrl.relatorioPorDataEdificio(dataInicial, dataFinal)"	class="btn btn-lg btn-primary btn-block btn-signin">
							<input ng-if="casa" type="button" id="buscar" value="Buscar" ng-click="servicoCtrl.relatorioPorDataCasa(dataInicial, dataFinal)"	class="btn btn-lg btn-primary btn-block btn-signin">
							<input ng-if="comunitaria" type="button" id="buscar" value="Buscar" ng-click="servicoCtrl.relatorioPorDataEdificacoesComunitaria(dataInicial, dataFinal)"	class="btn btn-lg btn-primary btn-block btn-signin">
						</div>				
					</div>
				<br>
				<br>
		</div>	
	</div>						
			<div class="row">
				<div  ng-if="ativaTabela" class="col-sm-2">
					<input type="button" id="buscar" value="Gráfico" ng-click="servicoCtrl.ativaBotaoTabelaGrafico(ativaTabela)"	class="btn btn-lg btn-success btn-block btn-signin">
				</div>
				<div  ng-if="ativaGrafico" class="col-sm-2">
					<input type="button" id="buscar" value="Lista" ng-click="servicoCtrl.ativaBotaoTabelaGrafico(ativaTabela)"	class="btn btn-lg btn-success btn-block btn-signin">
				</div>
			</div>	
				<br>
				<br>
				<div ng-if="ativaTabela" class="row ">
				<div class="col-sm-2">
			    <div class="dropdown">
			        <button class="btn btn-warning btn-export dropdown-toggle" margin-right=46px type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			            Exportar <span class="caret"></span>
			        </button>			
			        <ul class="table-export dropdown-menu"
			        table-selector="'auxTable'"
			        export-options="{type: 'pdf', escape: true, ignoreColumn : '[4]', tableName: 'listaServicos' }"
			        aria-labelledby="dropdownMenu1">
			            <li >
			                <a href="" ng-click="servicoCtrl.exportar('pdf')">PDF</a>
			            </li>
			
			            <li te-option te-value="'excel'" te-param="'type'">
			                <a href="">Excel</a>
			            </li>
			
			            <li te-option te-value="'csv'" te-param="'type'">
			                <a href="">CSV</a>
			            </li>
			        </ul>
			    </div>
			    </div>
			</div>
			
			<div ng-if="ativaGrafico" class="panel panel-default">
				<div class="panel-heading">
					<span class="lead">Gráfico </span>
				</div>			
						
					<div class="row">
						<div class="col-sm-3"></div>
						<div class="col-sm-6">
							<canvas class="chart chart-line" chart-data="data" chart-labels="labels" 
								chart-series="series" chart-click="onClick"></canvas>
						</div>
					</div>	
							
			</div>
			
			<div  ng-show="edificio" ng-if="tipoEmpreendimento" class="panel panel-default">
				<div class="panel-heading">
					<span class="lead">Relátorio</span>
				</div>															
					<input class="form-control" autofocus="autofocus" name="criterioBusca" type="text" ng-model="buscar"	placeholder="Busca..." />
					<div class="table-responsive">
				<table st-table="listaEdificio" st-filtered-collection="filteredCollection" class="export-table table  table-bordered table-striped">
				<thead>
					<tr>
						<th>Pacote de serviço</th>
						<th>Prestadora de serviço</th>
						<th>Categoria</th>
						<th>Torre</th>
						<th>Andar</th>
						<th>Apartamento</th>
						<th>Valor</th>						
					</tr>
				</thead>
				<tbody
					ng-repeat=" edificio in listaEdificio | filter : buscaPacotes">
					<tr>
					<td>{{ edificio.pacoteServico.descricao }}</td>
						<td>{{ edificio.prestadoraServico.dadoEmpresa.nomeFantasia }}</td>
						<td>{{ edificio.pacoteServico.categoria.descricao }}</td>
						<td>{{ edificio.torre }}</td>
						<td>{{ edificio.andar}}</td>
						<td>{{ edificio.apartamento}}</td>
						<td>{{ edificio.pacoteServico.valor | currency}}</td>						
						<td ng-if="edificio.dataFechamento"><a class="label label-success ">{{ edificio.dataFechamento | date : 'dd/MM/yyyy'}}</a></td>
						<td ng-if="!edificio.dataFechamento"><a class="label label-warning">em andamento...</a></td>										
						<td ng-if="ROLE_VINCULAR_CONSULTAR_EDIFICIO"><a href="#/servicos/vincular/visualizar/edificio/{{edificio.id}}"><i class="glyphicon glyphicon-edit"></i></a> 
						<td><a href="#/servicos/vistoria/visualizar/edificio/{{edificio.id}}"><i class="top fa fa-search"></i></a> 	
						</tr>
				</tbody>		
			</table>
			
			<table class="auxTable" style="opacity: 0; position: absolute;" ">
				<thead>
					<tr>
						<th>Pacote de serviço</th>
						<th>Prestadora de serviço</th>
						<th>Categoria</th>
						<th>Torre</th>
						<th>Andar</th>
						<th>Apartamento</th>
						<th>Valor</th>						
					</tr>
				</thead>
				<tbody
					ng-repeat=" edificio in listaEdificio ">
					<tr>
					<td>{{ edificio.pacoteServico.descricao }}</td>
						<td>{{ edificio.prestadoraServico.dadoEmpresa.nomeFantasia }}</td>
						<td>{{ edificio.pacoteServico.categoria.descricao }}</td>
						<td>{{ edificio.torre }}</td>
						<td>{{ edificio.andar}}</td>
						<td>{{ edificio.apartamento}}</td>
						<td>{{ edificio.pacoteServico.valor | currency}}</td>						
					</tr>
				</tbody>
			</table>
			</div>					
			</div>			
			
			<div ng-if="!tipoEmpreendimento" ng-show="casa" class="panel panel-default">
				<div class="panel-heading">
					<span class="lead">Relátorio</span>
				</div>															
					<input class="form-control" autofocus="autofocus" name="criterioBusca" type="text" ng-model="buscar"	placeholder="Busca..." />
					<div class="table-responsive">
				<table st-table="listaCasa" st-filtered-collection="filteredCollection" class="export-table table  table-bordered table-striped">
				<thead>
					<tr>
						<th>Pacote de serviço</th>
						<th>Prestadora de serviço</th>
						<th>Categoria</th>
						<th>Número</th>
						<th>Andar</th>
						<th>Valor</th>						
					</tr>
				</thead>
				<tbody	ng-repeat=" casa in listaCasa | filter : buscaPacotes">
					<tr>
						<td>{{ casa.pacoteServico.descricao }}</td>
						<td>{{ casa.prestadoraServico.dadoEmpresa.nomeFantasia }}</td>
						<td>{{ casa.pacoteServico.categoria.descricao }}</td>
						<td>{{ casa.numero }}</td>
						<td>{{ casa.andar}}</td>
						<td>{{ casa.pacoteServico.valor | currency}}</td>						
						<td ng-if="casa.dataFechamento"><a class="label label-success ">{{ casa.dataFechamento | date : 'dd/MM/yyyy'}}</a></td>
						<td ng-if="!casa.dataFechamento"><a class="label label-warning">em andamento...</a></td>										
						<td ngif="ROLE_VINCULAR_CONSULTAR_CASA"><a href="#/servicos/vincular/visualizar/casa/{{casa.id}}"><i class="glyphicon glyphicon-edit"></i></a> 
						<td><a href="#/servicos/vistoria/visualizar/casa/{{casa.id}}"><i class="fa fa-search"></i></a> 							
						</tr>
				</tbody>		
			</table>
			
			<table class="auxTable" style="opacity: 0; position: absolute;" ">
				<thead>
					<tr>
						<th>Pacote de serviço</th>
						<th>Prestadora de serviço</th>
						<th>Categoria</th>
						<th>Número</th>
						<th>Andar</th>
						<th>Valor</th>						
					</tr>
				</thead>
				<tbody	ng-repeat=" casa in listaCasa">
					<tr>
						<td>{{ casa.pacoteServico.descricao }}</td>
						<td>{{ casa.prestadoraServico.dadoEmpresa.nomeFantasia }}</td>
						<td>{{ casa.pacoteServico.categoria.descricao }}</td>
						<td>{{ casa.numero }}</td>
						<td>{{ casa.andar}}</td>
						<td>{{ casa.pacoteServico.valor | currency}}</td>						
						</tr>
				</tbody>
			</table>
			</div>					
			</div>	
			
			<div ng-show="comunitaria" ng-if="listaEdificacoesComunitaria"  class="panel panel-default">
				<div class="panel-heading">
					<span class="lead">Relátorio</span>
				</div>															
					<input class="form-control" autofocus="autofocus" name="criterioBusca" type="text" ng-model="buscar"	placeholder="Busca..." />
					<div class="table-responsive">
				<table st-table="listaEdificacoesComunitaria" st-filtered-collection="filteredCollection" class="export-table table  table-bordered table-striped">
				<thead>
					<tr>
						<th>Pacote de serviço</th>
						<th>Prestadora de serviço</th>
						<th>Categoria</th>
						<th>Edif. Comunitária</th>
						<th>Valor</th>						
					</tr>
				</thead>
				<tbody ng-repeat=" comunitario in listaEdificacoesComunitaria | filter : buscaPacotes">
					<tr>
						<td>{{ comunitario.pacoteServico.descricao }}</td>
						<td>{{ comunitario.prestadoraServico.dadoEmpresa.nomeFantasia }}</td>
						<td>{{ comunitario.pacoteServico.categoria.descricao }}</td>
						<td>{{ comunitario.descricao }}</td>
						<td>{{ comunitario.pacoteServico.valor | currency}}</td>						
						<td ng-if="comunitario.dataFechamento"><a class="label label-success ">{{ comunitario.dataFechamento | date : 'dd/MM/yyyy'}}</a></td>
						<td ng-if="!comunitario.dataFechamento"><a class="label label-warning">em andamento...</a></td>										
						<td ng-if="ROLE_VINCULAR_CONSULTAR_EDIFICACOES_COMUNITARIA"><a href="#/servicos/vincular/visualizar/comunitario/{{comunitario.id}}"><i class="glyphicon glyphicon-edit"></i></a> 
						<td ><a href="#/servicos/vistoria/visualizar/comunitario/{{comunitario.id}}"><i class="top fa fa-search"></i></a> 
					</tr>
				</tbody>
			</table>
			
			<table class="auxTable" style="opacity: 0; position: absolute;" ">
			<thead>
					<tr>
						<th>Pacote de serviço</th>
						<th>Prestadora de serviço</th>
						<th>Categoria</th>
						<th>Edif. Comunitária</th>
						<th>Valor</th>						
					</tr>
				</thead>
				<tbody ng-repeat=" comunitario in listaEdificacoesComunitaria">
					<tr>
						<td>{{ comunitario.pacoteServico.descricao }}</td>
						<td>{{ comunitario.prestadoraServico.dadoEmpresa.nomeFantasia }}</td>
						<td>{{ comunitario.pacoteServico.categoria.descricao }}</td>
						<td>{{ comunitario.descricao }}</td>
						<td>{{ comunitario.pacoteServico.valor | currency}}</td>						
						</tr>
				</tbody>
			</table>
			</div>					
			</div>		
						
			

			
</div>
					