<meta charset="UTF-8">
<br>
<br>
<div ng-controller="servicoEmpresaController as servicoCtrl">
	<div class="box box-primary">
		<div class="box-header">
			<span class="lead"> Vincular Serviços </span>
		</div>
		<div class="panel-body">
		<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" >							
					<br>
					<div class="row"  ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.quantidadeCasa()">
						
						<div class="col-sm-4"  >
						Numero da Casa
							<select class="form-control select2" style=" width: 100%;" ng-model="servicoCtrl.servicoCasa.NumeroCasa" 
							ng-options="lista for lista in configCtrl.qtdeCasa.quantidadeCasa" required>
								<option ng-value="servicoCasa.NumeroCasa" value="">{{servicoCasa.NumeroCasa}}</option>
							</select>
						</div>
							<div class="col-sm-4"  >
							Andar da Casa
							<select class="form-control select2" style=" width: 100%;" ng-model="servicoCtrl.servicoCasa.andar"  
							ng-options="lista for lista in configCtrl.qtdeCasa.quantidadeAndarCasa" required>
								<option ng-value="servicoCasa.andar" value="">{{servicoCasa.andar}}</option>
							</select>
						</div>

					</div>					
					<br>
					<div class="row" ng-controller="pacoteServicoController as pacotesCtrl" ng-init="pacotesCtrl.lista()" >	
					<div class="col-sm-4">	
						Pacotes de Serviço	
						<select class="form-control " style=" width: 100%;"  ng-model="servicoCtrl.pacoteServico"
							 ng-options="lista.descricao for lista in pacotesCtrl.listaPacoteServicos" 
							 title="Selecione o pacote de serviço a ser atribuido a empresa" required>
								<option ng-value="servicoCtrl.pacoteServico" value="">{{servicoCtrl.pacoteServico.descricao}}</option>
							</select>
					</div>	
						
					<div class="col-sm-4" ng-controller="prestadoraServicoController as prestadoraCtrl" ng-init="prestadoraCtrl.lista()">	
						Prestadora de Serviços
						<select class="form-control "   width: 100%;" ng-model="servicoCtrl.prestadoraServico"
							 ng-options="lista.dadoEmpresa.nomeFantasia for lista in prestadoraCtrl.prestadoraServicos" 
							 title="Selecione o pacote de serviço a ser atribuido a empresa" required>
								<option ng-value="servicoCtrl.prestadoraServico" value="">{{servicoCtrl.prestadoraServico.dadoEmpresa.nomeFantasia }}</option>
							</select>
						</div>
					</div>
					<br>
					
					<div class="row ">
						
							<button  type="button" name="salvar"  ng-disabled="!servicoCtrl.servicoCasa.andar || !servicoCtrl.servicoCasa.NumeroCasa || !servicoCtrl.pacoteServico || !servicoCtrl.prestadoraServico" ng-click="servicoCtrl.alteraCasa(servicoCtrl.servicoCasa , servicoCtrl.pacoteServico,  servicoCtrl.prestadoraServico)" class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>
					</div>
				</form>
			</div>
			<div class="tablecontainer"></div>
		</div>
	</div>
	</div>