<meta charset="UTF-8">
<div class="generic-container" ng-controller="empreendimentoController as empCtrl">

	<div class="panel panel-primary">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<span class="lead"> cadastrar Empreendimento </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical">
					<div class="row">
						<label class="col-sm-1 control-label" for="descricao">Descrição</label>
						<div class="col-sm-11">
							<input class="form-control" id="descricao" type="text">
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-sm-2 control-label" for="valorMaximoGastar">Valor
							Total</label>
						<div class="col-sm-4">
							<input class="form-control" id="valorMaximoGastar" type="text">
						</div>
						<label class="col-sm-2 control-label" for="tipoEmpreendimento">Tipo
							Empreendimento</label>
						<div class="col-sm-4">
							<select class="form-control select2" ng-model="empCtrl.empreendimento.tipoEmpreendimento" 
							ng-options="listarTipoEmpreendimentos.descricaoTipoEmpreendimento group by listarTipoEmpreendimentos.shade for listarTipoEmpreendimentos in listarTipoEmpreendimento" 
							  style="width: 100%;">

							</select>
						</div>
					</div>
					<br>
					<div class="row">
						<label class="col-sm-2 control-label" for="dataAbertura">Data
							Abertura</label>
						<div class="col-sm-4">
							<input class="form-control" id="dataAbertura" type="text" ui-mask="{{maskData}}" required >
						</div>
						<label class="col-sm-2 control-label" for="datafechamento">Data
							Fechamento</label>
						<div class="col-sm-4">
							<input class="form-control" id="datafechamento" type="text" ui-mask="{{maskData}}" required >
						</div>
					</div>
					<br>

					<h4>Equipe responsavel</h4>
					<hr>
					<div class="row">
						<label class="col-sm-2 control-label"
							for="engenheiroResponsavelFuncionario">Engenheiro
							Funcionario</label>
						<div class="col-sm-4">
								<select class="form-control select2" style="width: 100%;">

							</select>
						</div>
						<label class="col-sm-2 control-label"
							for="engenheiroResponsavelTerceiro">Engenheiro
							Terceirizado</label>
						<div class="col-sm-4">
								<select class="form-control select2" style="width: 100%;">

							</select>
						</div>
					</div>
					<br>

					<h4>Endereço</h4>

					<hr>
					<div class="row">
						<label class="col-sm-1 control-label" for="cep">CEP</label>
						<div class="col-sm-5">
							<input class="form-control" id="cep" type="search"
								placeholder="Busca Cep">
						</div>
						<label class="col-sm-1 control-label" for="numero">Numero</label>
						<div class="col-sm-5">
							<input class="form-control" id="numero" type="text">
						</div>
					</div>
					<br>

					<div class="row">
						<fieldset disabled>
							<label class="col-sm-1 control-label" for="endereco">Endereço</label>
							<div class="col-sm-11">
								<input class="form-control" id="endereco" type="text">
							</div>
					</div>
					<br>
					<div class="row">
						<fieldset disabled>
							<label class="col-sm-1 control-label" for="bairro">Bairro</label>
							<div class="col-sm-5">
								<input class="form-control" id="bairro" type="text">
							</div>
							<label class="col-sm-1 control-label" for="cidade">Cidade</label>
							<div class="col-sm-5">
								<input class="form-control" id="cidade" type="text">
							</div>
					</div>
					<br>
					<div class="row">
						<fieldset disabled>
							<label class="col-sm-1 control-label" for="estado">Estado</label>
							<div class="col-sm-5">
								<input class="form-control" id="estado" type="text">
							</div>
							<label class="col-sm-1 control-label" for="pais">Pais</label>
							<div class="col-sm-5">
								<input class="form-control" id="pais" type="text">
							</div>
					</div>
					<br>
					<div class="row">
						<label class="col-sm-1 control-label" for="complemento">Complemento</label>
						<div class="col-sm-11">
							<input class="form-control" id="complemento" type="text">
						</div>
					</div>
					<br>

						<div ng-if="gravado" class="alert alert-info alert-dismissible"
						role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Sucesso</strong> cadastro realizado
					</div>


					<div ng-if="naoGravado"
						class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<strong>Error</strong> cadastro não realizado
					</div>
					<br>
					<div class="row ">
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<button type="submit" name="submit"
								class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>
						</div>
						<div class="col-sm-3">

							<button type="submit" name="submit"
								class="btn btn-lg btn-danger btn-block btn-signin">Cancelar</button>
						</div>
					</div>


				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
