<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"  ng-controller="estoqueController as estoqueCtr" >

<div class="box box-primary" >
		
		<div class="box-header" >
			<span class="lead">Alterar Propriedades do Produto no estoque </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" ng-submit="estoqueCtr.editarProdutoEstoque()" >
					
							
					<div class="row">
						<div class="col-sm-6">
						Produto
							<input class="form-control" type="text" ng-model="estoqueCtr.estoque.produto.descricao" disabled>
						</div>
						<div class="col-sm-6">
						Categoria
							<input class="form-control" type="text" ng-model="estoqueCtr.estoque.produto.categoria.descricao" disabled>
						</div>
						
					</div>
					<br>
					<div class="row">
						<div class="col-sm-4">
						Qtd estoque
							<input class="form-control " type="text" ng-model="estoqueCtr.estoque.quantidade" disabled>
						</div>
						<div class="col-sm-4">
						Qtd mínima
							<input class="form-control " type="text" ng-model="estoqueCtr.estoque.quantidadeMinima">
						</div>
						<div class="col-sm-4">
						Qtd Máxima
							<input class="form-control " type="text" ng-model="estoqueCtr.estoque.quantidadeMaxima">
						</div>
						
					</div>
					<br>
					<br>
					<br>
					<div class="row ">
						
							<input type="submit"  id="submit" value="Alterar limites do produto no estoque"  
								class="btn btn-lg btn-primary btn-block btn-signin">
						
					</div>
					
				</form>
				
				
		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
</div>
