<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"  ng-controller="notaFiscalController as notaFiscalCtrl" >

<div class="box box-primary" >
		<!-- Default panel contents -->
		<div class="box-header" >
			<span class="lead">Entrada Estoque Produto </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 " >
				<form role="form-vertical"  >
					
									
					<h3>Nota fiscal</h3>
					
					<br>
		
					<div class="row">
						<!-- <label class="col-sm-2 control-label" for="numeroNota">Numero nota Fiscal</label> -->
						<div class="col-sm-3">
							<input class="form-control"  id="numeroNota" type="text" title="informe o numero da nota fiscal" placeholder="Numero nota fiscal" 
							ng-model="notaFiscalCtrl.notaFiscal.numero">
						</div>
						<!-- <label class="col-sm-2 control-label" for="chave">Chave de Acesso</label> -->
						<div class="col-sm-3">
							<input class="form-control"  id="chave"  type="text" title="informe a chave de acesso da nota fiscal" placeholder="chave de acesso nota fiscal" 
							ng-model="notaFiscalCtrl.notaFiscal.chaveAcesso">
						</div>
						<!-- <label class="col-sm-2 control-label" for="dataNota">Data Nota Fiscal</label> -->
						<div class="col-sm-3">
							<input class="form-control"  id="dataNota" type="text" ng-model="notaFiscalCtrl.notaFiscal.dataNota" ui-date title="informe a data da nota fiscal"  placeholder="data nota fiscal">
						</div>
						<!-- <label class="col-sm-2 control-label" for="vencimento">Vencimento</label> -->
						<div class="col-sm-3">
							<input class="form-control"  id="vencimento"  type="text" ng-model="notaFiscalCtrl.notaFiscal.dataVencimento" ui-date title="informe a data de vencimento da nota fiscal" placeholder="vecimento nota fiscal">
						</div>
					</div>
					
					<br>
					<div class="modal fade bs-example-modal-lg" id="myProduto"
						tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-body">
								<div ng-include="'views/pages/almoxarifado/produto/cadastrar.html'"></div>
							</div>
						</div>
					</div>
					<div class="row" >			
					<div class="col-sm-4" ng-controller="produtoController as pCtrl" ng-init="pCtrl.lista()" >
							<a href="" data-toggle="modal" data-target="#myProduto"><i class="glyphicon glyphicon-plus"></i>novo</a>
							<select class="form-control select2" ng-model="notaFiscalCtrl.produto" id="fornecedor"
							ng-options="listaProdutos.descricao for listaProdutos in pCtrl.produtos" 
							  style=" width: 100%;" >
								<option value="">---Produto---</option>
							</select>
							</div>
							<div class="col-sm-2">
							<br>
							<input class="btn btn-lg btn-primary btn-block btn-signin" 
								ng-click="notaFiscalCtrl.adicionarProdutos(notaFiscalCtrl.produto)" value="adicionar"
								title="pressione para adicionar a lista" type="button" ng-disabled="!notaFiscalCtrl.produto" >
						</div>
					</div>
					<br>
					
				
					<table class="table table-hover " ng-show="visialuzarTable">
					<thead>
						<tr>
							<th>selecione</th>
							<th>Codigo de barras</th>
							<th>Descrição</th>
							<th>Quantidade</th>
							<th>Preço unitario</th>
							<th>Preço total item</th>
						</tr>
					</thead>
					
					<tbody
						ng-repeat=" f in notaFiscalCtrl.listaItensNota | filter : busca">
						<tr>
						<td><input type="checkbox" ng-model="f.selecionado"	ng-click="notaFiscalCtrl.ativarExcluirLote(listaItensNota)"></td>
							<td><input class="form-control"  id="codigoBarras"  type="text" placeholder="Código de barras"
							ng-model="f.produto.codigoBarra" disabled></td>
							<td><input class="form-control"  id="descricaoProduto"  type="text" placeholder="descrição do Produto" 
							ng-model="f.produto.descricao" disabled></td>
							<td><input class="form-control"  id="quantidadeProduto"  type="text" placeholder="quantidade"
							ng-model="f.quantidade" ui-number-mask="0" required></td>
							<td><input class="form-control"  id="valorProduto"  type="text"  placeholder="Preço" ui-money-mask
							ng-model="f.valorUnitario" ng-blur="notaFiscalCtrl.SomaTotal(notaFiscalCtrl.listaItensNota)" required> </td>
							<td>{{f.valorTotal = somaUnitario(f.quantidade, f.valorUnitario) | currency}}</td>
							
						</tr>
	
					</tbody>
					<tfoot>
						<tr>
							<th><input type="button" class="btn-danger" ng-if="ativadoExcluirLote"  value="excluir" name="apagar" ng-click="notaFiscalCtrl.apagarProdutos(listaItensNota)"></th>
							<th></th>
							<th></th>
							<th></th>
							<th> Valor Total</th>
							<th>{{valorTotalNota | currency}}</th>
	
						</tr>
					</tfoot>
				</table>
					
					<br>
					<hr>
					<h3>Fornecedor</h3>
					<br>
						<div class="modal fade bs-example-modal-lg" id="myFornecedor"
						tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"">
						<div class="modal-dialog modal-lg" role="document">
							<div class="modal-body">
								<div ng-include="'views/pages/almoxarifado/fornecedor/cadastrar.html'"></div>
							</div>
						</div>
					</div>
					<div class="row">
							<div class="col-sm-4" ng-controller="fornecedorController as forCtrl" ng-init="forCtrl.lista()" >
								<a href="" data-toggle="modal" data-target="#myFornecedor"><i class="glyphicon glyphicon-plus"></i>novo</a>
							<select class="form-control select2" ng-model="notaFiscalCtrl.notaFiscalProduto.fornecedor" id="fornecedor"
							ng-options="listaFornecedores.dadoEmpresa.nomeFantasia for listaFornecedores in forCtrl.listaFornecedor" 
							  style=" width: 100%;" >
								<option value="">---Fornecedor---</option>
							</select>
						</div>
					</div>
						
					<br>
					<div class="row">
						
							<input class="form-control"  id="obs" type="text"  placeholder="Observação"
							ng-model="notaFiscalCtrl.notaFiscal.observacao">
												
					</div>
					<br>
					<div class="row ">
						
						
							<input type="button" id="submit" ng-click="notaFiscalCtrl.salva()" value="Salvar"	class="btn btn-lg btn-primary btn-block btn-signin">
						
						
					</div>


				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
