<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"	ng-controller="estoqueController as estoqueCtrl">
	<div class="box box-primary">
		<div class="box-header">
			<span class="lead"> Baixa estoque </span>
		</div>
		<div class="panel-body">
		<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical"
					ng-submit="estoqueCtrl.salva()">
		
					<div class="row">	
						<label class="col-sm-2 control-label" for="empreendimento"> Torre</label>	
						<div class="col-sm-2">
							<input type="checkbox" ng-model="torreCheck" ng-click="estoqueCtrl.verifica()" placeholder="outros serviços?">
						</div>		
						<label class="col-sm-2 control-label" for="empreendimento"> andar</label>	
						<div class="col-sm-2">
							<input type="checkbox" ng-model="andarCheck" ng-click="estoqueCtrl.verifica()"  placeholder="outros serviços?">
						</div>
						<label class="col-sm-2 control-label" for="empreendimento"> apartamento</label>	
						<div class="col-sm-2">
							<input type="checkbox" ng-model="apartamentoCheck" ng-click="estoqueCtrl.verifica()" placeholder="outros serviços?">
						</div>
					</div>
					<br>
					<div class="row" ng-if="empreendimento">							
						<label class="col-sm-2 control-label" for="empreendimento"> Casa</label>	
						<div class="col-sm-2">
							<input type="checkbox" ng-model="torreCheck" ng-click="estoqueCtrl.verifica()"  placeholder="outros serviços?">
						</div>
						<label class="col-sm-2 control-label" for="empreendimento"> Andar</label>	
						<div class="col-sm-2">
							<input type="checkbox" ng-model="andarCheck" ng-click="estoqueCtrl.verifica()"  placeholder="outros serviços?">
						</div>
					</div>
					<br>
					<div class="row" ng-if="empreendimento">
						
						<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-model="estoqueCtrl.NumeroCasa" ng-if="torreCheck" required>
								<option value="">---Casa---</option>
							</select>
						</div>
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-model="estoqueCtrl.andar" ng-if="andarCheck" required>
								<option value="">---Andar---</option>
							</select>
						</div>

					</div>
<br>
					<div class="row" ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.quantidadeEdificio()">
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-if="torreCheck" ng-model="estoqueCtrl.torre"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeTorres" 
							 title="Selecione a torre a qual será atribuido a saida do produto" required>
								<option value="">---Torre---</option>
							</select>
						</div>

						
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-if="andarCheck" ng-model="estoqueCtrl.andar"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeAndares"
							 title="Selecione o andar a qual será atribuido a saída do produto" required>
								<option value="">---Andar---</option>
							</select>
						</div>
	
							<div class="col-sm-4"  >
							<select class="form-control select2" style=" width: 100%;" ng-if="apartamentoCheck" ng-model="estoqueCtrl.apartamento"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeApartamentos" 
							 title="Selecione o apartamento a qual será atribuido a saída do produto" required>
								<option value="">---Apartamento---</option>
							</select>
						</div>
					</div>
					<br>					
					<div class="row">	
						<label class="col-sm-2 control-label" title="Exemplo: pscina, quadra, salão de festas etc..."> Outros imoveis?</label>
						<div class="col-sm-1">
							<input type="checkbox" ng-model="outrosAtivo"  placeholder="outros serviços?">
						</div>		
					</div>
					<br>					
					<div class="row" ng-if="outrosAtivo">
						<div class="col-sm-5"  ng-controller="configEmpreendimentoController as configCtrl"  ng-init="configCtrl.listaOutros()">
							<select class="form-control select2" style=" width: 100%;" ng-model="config"
							 ng-options="lista.descricao for lista in configCtrl.listaOutros" required>
								<option value="">---Outros imoveis---</option>
							</select>
						</div>						
					</div>
					<br> <br>
					<div class="row" ng-init="estoqueCtrl.lista()">
						
						<div class="col-sm-4"  >
							<select class="form-control select2" ng-model="produto"  id="descricaoProduto"
							ng-options="listaProdutos.descricao for listaProdutos in estoqueCtrl.produtos" 
							  style=" width: 100%;" >
								<option value="">---Produto---</option>
							</select>
						</div>
						<div class="col-sm-3" ng-controller="areaProdutoController as areaProdutoCtrl" ng-init="areaProdutoCtrl.lista()">						
							<select class="form-control select2" ng-model="estoqueCtrl.areaProduto" id="teste"
								ng-options="listaAreaProdutos.descricao for listaAreaProdutos in areaProdutoCtrl.listaAreaProduto" 
							  	style=" width: 100%;" required >
								<option value="">---Area Produto---</option>
							</select>
							
						</div>	
						
						<div class="col-sm-3">
							<input class="form-control" ng-model="quantidade" type="text" id="quantidadeTeste" placeholder="Quantidade">
						</div>
						<div class="col-sm-2">
							<input class="btn btn-lg btn-primary btn-block btn-signin"
								ng-click=" estoqueCtrl.adicionarProduto(produto , estoqueCtrl.areaProduto, quantidade,  estoqueCtrl.andar, estoqueCtrl.torre , estoqueCtrl.apartamento, estoqueCtrl.NumeroCasa)" value="adicionar"
								title="pressione para adicionar a lista" type="button" ng-disabled="!produto" >
						</div>
					</div>
					
					<br> <br>

					<div class="panel panel-primary" >
						<div class="panel-heading">Lista de Produtos</div>
						<div class="panel-body">
							<table class="table table-hover ">
								<thead>
									<tr>
										<th>Selecionar</th>
										
										<th>Descrição</th>
										<th>Quantidade</th>
										

									</tr>
								</thead>
								<tbody ng-repeat="produto in estoqueCtrl.listaProduto" ng-model="selecionado">
									<tr>
										<td><input type="checkbox" ng-model="produto.selecionado"
											ng-click="estoqueCtrl.ativarExcluirLote(listaProduto)"></td>
										<td>{{produto.produto.descricao}}</td>
										<td>{{produto.quantidadeSaida}}</td>

										
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th><input type="button" class="btn-danger"
											ng-if="ativadoExcluirLote" value="excluir" name="apagar"
											ng-click=" estoqueCtrl.apagarProduto(listaProduto)"></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					
					<br>
					
					<div class="row ">
						
							<button type="submit" name="submit" 
								class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>
						
					</div>				
					
				</form>
			</div>
			<div class="tablecontainer"></div>
		</div>
	</div>
	</div>