<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"	ng-controller="estoqueController as estoqueCtrl">
	<div class="box box-primary">
		<div class="box-header">
			<span class="lead"> Baixa estoque </span>
		</div>
		<div class="panel-body">
		<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical"
					ng-submit="estoqueCtrl.salva()">
		
					<div class="row">	
						<label class="col-sm-1 control-label" for="empreendimento"> Torre</label>	
						<div class="col-sm-1">
							<input type="checkbox" ng-model="edificioTorre"  placeholder="outros serviços?">
						</div>		
						<label class="col-sm-1 control-label" for="empreendimento"> andar</label>	
						<div class="col-sm-1">
							<input type="checkbox" ng-model="edificioAndar"  placeholder="outros serviços?">
						</div>
						<label class="col-sm-1 control-label" for="empreendimento"> apartamento</label>	
						<div class="col-sm-1">
							<input type="checkbox" ng-model="edificioApartamento"  placeholder="outros serviços?">
						</div>
					</div>
					<br>
					<div class="row">							
						<label class="col-sm-1 control-label" for="empreendimento"> Casa</label>	
						<div class="col-sm-1">
							<input type="checkbox" ng-model="edificioCasa"  placeholder="outros serviços?">
						</div>
						<label class="col-sm-1 control-label" for="empreendimento"> Andar</label>	
						<div class="col-sm-1">
							<input type="checkbox" ng-model="edificioAndarCasa"  placeholder="outros serviços?">
						</div>
					</div>
					<br>
					<div class="row" >
						
						<div class="col-sm-2"  >
							<select class="form-control select2" style=" width: 100%;" ng-if="edificioCasa" required>
								<option value="">---Casa---</option>
							</select>
						</div>
							<div class="col-sm-2"  >
							<select class="form-control select2" style=" width: 100%;" ng-if="edificioAndarCasa" required>
								<option value="">---Andar---</option>
							</select>
						</div>

					</div>
<br>
					<div class="row" ng-controller="configEmpreendimentoController as configCtrl" ng-init="configCtrl.quantidadeEdificio()">
							<div class="col-sm-2"  >
							<select class="form-control select2" style=" width: 100%;" ng-if="edificioTorre" ng-model="teste"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeTorres" 
							 title="Selecione a torre a qual será atribuido a saida do produto" required>
								<option value="">---Torre---</option>
							</select>
						</div>

						
							<div class="col-sm-2"  >
							<select class="form-control select2" style=" width: 100%;" ng-if="edificioAndar" ng-model="andar"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeAndares"
							 title="Selecione o andar a qual será atribuido a saída do produto" required>
								<option value="">---Andar---</option>
							</select>
						</div>
	
							<div class="col-sm-2"  >
							<select class="form-control select2" style=" width: 100%;" ng-if="edificioApartamento" ng-model="apartamento"
							 ng-options="lista for lista in configCtrl.qtdeEdificio.quantidadeApartamentos" 
							 title="Selecione o apartamento a qual será atribuido a saída do produto" required>
								<option value="">---Apartamento---</option>
							</select>
						</div>
					</div>
					<br>					
					<div class="row">	
						<label class="col-sm-2 control-label" title="Exemplo: pscina, quadra, salão de festas etc..."> Outros imoveis?</label>
						<div class="col-sm-1">
							<input type="checkbox" ng-model="outrosAtivo"  placeholder="outros serviços?">
						</div>		
					</div>
					<br>					
					<div class="row" ng-if="outrosAtivo">
						<div class="col-sm-5"  ng-controller="configEmpreendimentoController as configCtrl">
							<select class="form-control select2" style=" width: 100%;" ng-model="config" ng-init="configCtrl.configEmpreendimentoOutrosLista()"
							 ng-options="lista.descricao for lista in configCtrl.outrosLista" required>
								<option value="">---Outros imoveis---</option>
							</select>
						</div>						
					</div>
					<br> <br>
					<div class="row" ng-init="estoqueCtrl.lista()">
						
						<div class="col-sm-3"  >
							<select class="form-control select2" ng-model="produto"  id="descricaoProduto"
							ng-options="listaProdutos.descricao for listaProdutos in estoqueCtrl.produtos" 
							  style=" width: 100%;" >
								<option value="">---Produto---</option>
							</select>
						</div>
							
						
						<div class="col-sm-3">
							<input class="form-control" ng-model="quantidade" type="text" id="quantidadeProduto" placeholder="Quantidade">
						</div>
						<div class="col-sm-2">
							<input class="btn btn-lg btn-primary btn-block btn-signin"
								ng-click=" estoqueCtrl.adicionarProduto()" value="adicionar"
								title="pressione para adicionar a lista" type="button" ng-disabled="!produto" >
						</div>
					</div>
					
					<br> <br>

					<div class="panel panel-primary" >
						<div class="panel-heading">Lista de Produtos</div>
						<div class="panel-body">
							<table class="table table-hover ">
								<thead>
									<tr>
										<th>Selecionar</th>
										<th>Codigo</th>
										<th>Codigo de Barras</th>
										<th>Descrição</th>
										<th>Quantidade</th>
										

									</tr>
								</thead>
								<tbody ng-repeat="produto in estoqueCtrl.listaProduto" ng-model="selecionado">
									<tr>
										<td><input type="checkbox" ng-model="produto.selecionado"
											ng-click="estoqueCtrl.ativarExcluirLote(listaProduto)"></td>
										<td>{{produto.descricao}}</td>
										<td>{{produto.descricao}}</td>
										<td>{{produto.descricao}}</td>
										<td>{{produto.quantidade}}</td>

										
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th><input type="button" class="btn-danger"
											ng-if="ativadoExcluirLote" value="excluir" name="apagar"
											ng-click=" estoqueCtrl.apagarProduto(listaProduto)"></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
					
					<br>
					
					<div class="row ">
						
							<button type="submit" name="submit" 
								class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>
						
					</div>
				</form>
			</div>
			<div class="tablecontainer"></div>
		</div>
	</div>
	</div>