<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"	ng-controller="transferenciaEstoqueController as transfCtrl">
	<div class="box box-primary">
		<div class="box-header">
			<span class="lead"> Transferência estoque </span>
		</div>
		<div class="panel-body">
		<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical"
					ng-submit="transfCtrl.salva()">

					
					<div class="row" >
						<div class="col-sm-5" ng-controller="empreendimentoController as empCtrl" ng-init="empCtrl.lista()">
							<select class="form-control select2"
								ng-model="estoqueCtrl.empreendimento"
								ng-options="listarEmpreendimentos.descricao group by listarEmpreendimentos.tipoEmpreendimento for listarEmpreendimentos in empreendimentos"
								style="width: 100%;">
								<option  value="">--Empreendimento--</option>
							</select>
						</div>
					</div>
					
					<br>
					<div class="row">
						<div class="col-sm-3">
							<input type="text" class="form-control" name="leitor" placeholder="Leitor de Código de Barras">
						</div>
					</div>
					<br> <br>
					<div class="row" ng-init="transfCtrl.listaProdutosComEstoque()">
						
						<div class="col-sm-3"  >
									
							  <md-autocomplete 
							 	md-selected-item="produto" 
							 	md-search-text="transfCtrl.searchText" 
							 	md-selected-item-change="transfCtrl.selectedItemChange(transfCtrl.produto)" 
							 	md-items=" listaProduto in transfCtrl.listaProdutos | filter : transfCtrl.searchText" 
							 	md-item-text="listaProduto.produto.descricao" 
							 	md-min-length="0" placeholder="busca produto">
       							 <md-item-template>
          							<span md-highlight-text="transfCtrl.searchText" md-highlight-flags="^i">{{listaProduto.produto.descricao}}</span>
       							 </md-item-template>        								
     						 </md-autocomplete>
     						
     					
						</div>						
						<div class="col-sm-2">
						
							
							<input class="form-control" ng-model="produto.quantidade" type="text" id="quantidadeEstoque" ui-number-mask="0" disabled placeholder="Quantidade estoque">
						
						</div>
						
						<div class="col-sm-2">
						
							
							<input class="form-control" ng-model="quantidade" type="text" id="quantidadeTeste" ui-number-mask="0" placeholder="Quantidade para transferencia" required>
						
						</div>
						<div class="col-sm-2">
							<input class="btn btn-lg btn-primary btn-block btn-signin"
								ng-click=" transfCtrl.adicionarProduto(produto.quantidade, produto.produto , quantidade, estoqueCtrl.empreendimento)" value="adicionar"
								title="pressione para adicionar a lista" type="button" ng-disabled="!produto" >
						</div>
					</div>
					
					<br> <br>

					
						<div ng-show="ativaTabela" >
							<table class="table table-hover ">
								<thead>
									<tr>
										<th>Selecionar</th>
										<th>Descrição</th>
										<th>Quantidade estoque</th>
										<th>Quantidade saida</th>
										<th>Restam</th>
										

									</tr>
								</thead>
								<tbody ng-repeat="produto in transfCtrl.listaProduto" ng-model="selecionado">
									<tr>
										<td><input type="checkbox" ng-model="produto.selecionado"
											ng-click="transfCtrl.ativarExcluirLote(transfCtrl.listaProduto)"></td>
										<td>{{produto.produto.descricao}}</td>																				
										<td>{{produto.quantidadeEstoque}}</td>
										<td>{{produto.quantidadeSaida}}</td>
										<td>{{produto.quantidadeEstoque - produto.quantidadeSaida}}</td>
										
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th><input type="button" class="btn-danger"
											ng-if="ativadoExcluirLote" value="excluir" name="apagar"
											ng-click=" transfCtrl.apagarProduto(transfCtrl.listaProduto)"></th>
									</tr>
								</tfoot>
							</table>
						</div>
					
					
					<br>
					
					<div class="row ">
						
							<button type="submit" name="submit" 
								class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>
						
					</div>				
					
				</form>
			</div>
			<div class="tablecontainer"></div>
		</div>
	</div>
	</div>