<meta charset="UTF-8">
<div class="generic-container" ng-controller="empreendimentoController as empCtrl">

	<div class="box box-primary" >
		<!-- Default panel contents -->
		<div class="box-header" >
			<span class="lead"> Configuração Empreendimento </span>
		</div>
		<div class="panel-body" >

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" ng-submit="empCtrl.createConfigEmpreendimento()" >

				<div class="row">
					<label class="col-sm-2 control-label" for="empreendimento">Empreendimento</label>
					<div class="col-sm-5"
						ng-controller="empreendimentoController as empCtrl"
						ng-init="empCtrl.buscarEmpreendimentos()">
						<select class="form-control select2"
							ng-model="cadFuncCtrl.funcionario.empreendimento"
							ng-options="listarEmpreendimentos.descricao group by listarEmpreendimentos.shade for listarEmpreendimentos in empreendimentos"
							style="width: 100%;">
							<option value="">--selecione--</option>
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<label class="col-sm-2 control-label" for="edificio">Edificio</label> 
					<div class="col-sm-2">
					<input type="number" class="form-control" id="edificio" ng-model="configEmpreendimentoEdificio.QuantidadeAndarPorTorre"	title="quantidade de torres no empreendimento">
					</div>
				
					<label  class="col-sm-2 control-label" for="andar">Andar</label>
					<div class="col-sm-2">
					 <input type="number" class="form-control" id="andar" title="quantidade de andar no edificio">
					</div>
				
					<label class="col-sm-2 control-label" for="apartamento">Apartamento</label> 
					<div class="col-sm-2">
					<input type="number" class="form-control" id="apartamento" title="quantidade de apartamento por andar">
					</div>
				</div>
				<br> <br>
				<div class="row">
					<label class="col-sm-2 control-label" for="outros">Outros</label>
					<div class="col-sm-5">
					 <input class="form-control" type="text" id="descricaoOutros" > 
					 </div>
					 <div class="col-sm-2">
					 <input class="btn btn-lg btn-primary btn-block btn-signin" ng-click="empCtrl.adicionarOutros()" value="adicionar" title="pressione para adicionar a lista"	type="button">
					</div>
					
				</div>
				<br> <br>
				<div class="list-group">
  					<a href="#" class="list-group-item active">Lista de Outros</a>
 					<a href="#" class="list-group-item " ng-repeat="outro in listaOutros">{{outro.descricao}}</a>
					</div>

				
				<div class="row ">
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<button type="submit" name="submit"
								class="btn btn-lg btn-primary btn-block btn-signin">Cadastrar</button>
						</div>
						<div class="col-sm-3">

							<button type="submit" name="submit"
								class="btn btn-lg btn-danger btn-block btn-signin">Cancelar</button>
						</div>
					</div>
			</form>
		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
