<meta charset="UTF-8">
<div class="row">
	<div class="col-md-4">
		<a class="fa fa-plus" href="" ui-sref="categoriaFinanceiro.cadastrar" title="Cadastrar nova categoriaFinanceiro!">Nova</a>|<label>Categoria:</label>
	</div>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Digite uma descrição" ng-model="texto" autofocus
      	 ng-keyup="$event.keyCode == 13 && ctrl.buscarPorTexto(texto)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="ctrl.paginaCorrente = 0; ctrl.buscarPorTexto(texto)">Ir!</button>
      </span>
    </div>
  </div>
 </div>
  <div ng-show="mensagemErro" class="alert alert-warning alert-dismissible">
	                <h4><i class="icon fa fa-warning"></i>{{mensagemErro}}</h4>
 </div> <br>
 
<div class="table-responsive" ng-if="ctrl.categorias.length > 0">
	<table class="table table-hover table-bordered">
		<thead>
			<tr>				
				<th>Tipo</th>
				<th>Categoria</th>
				<th>Editar</th>				
			</tr>
		</thead>
		<tbody ng-repeat=" categoriaFinanceiro in ctrl.categorias | filter : buscaCategoria ">
			<tr>				
				<td>{{ categoriaFinanceiro.tipo }}</td>
				<td>{{ categoriaFinanceiro.descricao }}</td>			
				<td ><a href="" ui-sref="categoriaFinanceiro.editar({idCategoria : categoriaFinanceiro.id})"><i class="glyphicon glyphicon-edit"></i></a> 				
			</tr>
		</tbody>
		<tfoot>			
		</tfoot>
	</table>
	<nav>
		<ul uib-pagination total-items="ctrl.totalElementos" items-per-page="24" ng-model="ctrl.paginaCorrente" max-size="10" class="pagination-sm"  
		boundary-link-numbers="true" ng-change="ctrl.buscarPorTexto(texto)"
		previous-text="Anterior" last-text="Último" first-text="Primeiro" next-text="Próximo"></ul>
	</nav>
</div>