<meta charset="UTF-8">
<br>
<br>
<div class="generic-container"
	ng-controller="adminSistemaController as adminCtrl">

	<div class="box box-primary">

		<div class="box-header">
			<span class="lead">Empresa Contratante </span>
		</div>
		<div class="panel-body">

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="formAdminSistema"
					ng-submit="adminCtrl.salva()">
					
					
					<div class="row">
						<div class="col-sm-3" ng-controller="verificaDadosController as verificaCtrl">
								<input class="form-control" name="cnpjField" placeholder="CNPJ" ng-blur="verificaCtrl.verificaCnpj(adminCtrl.empresa.dadoEmpresa.cnpj)"
									ng-model="adminCtrl.empresa.dadoEmpresa.cnpj" id="cnpj"
									type="text" ui-br-cnpj-mask required>
										<p ng-show="formAdminSistema.cnpjField.$error.cnpj"
							class="alert alert-warning ">Digite um CNPJ válido!!</p>
						</div>
					</div>
					<br>
					<div class="row">
												
						<div class="col-sm-6" ng-class="{ 'has-error' : formAdminSistema.razaoSocial.$invalid && !fromAdminSistema.razaoSocial.$pristine }">
							<input class="form-control" ng-minlength="5" ng-maxlength="50"  placeholder="Razão Social"
								ng-model="adminCtrl.empresa.dadoEmpresa.razaoSocial"
								id="razaoSocial" name="razaoSocial" type="text" required>						
						</div>
					
						<div class="col-sm-6" ng-class="{ 'has-error' : formAdminSistema.nomeFantasia.$invalid && !fromAdminSistema.razaoSocial.$pristine }">
							<input class="form-control" ng-minlength="5" ng-maxlength="50" placeholder="Nome Fantasia"
								ng-model="adminCtrl.empresa.dadoEmpresa.nomeFantasia"
								id="nomeFantasia" name="nomeFantasia" type="text" required>
						</div>
					</div>
					<p ng-show="formAdminSistema.nomeFantasia.$error.minlength"
						class="alert alert-warning ">campo nome Fantasia no minimo 5 caracter</p>
					<p ng-show="formAdminSistema.nomeFantasia.$error.maxlength"
						class="alert alert-warning ">campo nome Fantasia no maximo 50 caracter</p>
						
					<p ng-show="formAdminSistema.razaoSocial.$error.minlength"
						class="alert alert-warning ">campo Razão Social no minimo 5 caracter</p>
					<p ng-show="formAdminSistema.razaoSocial.$error.maxlength"
						class="alert alert-warning ">campo Razão Social no maximo 50 caracter</p>
					<br>
					
					<div class="row">
						
						<div class="col-sm-4">
							<input class="form-control" name="emailPrestadora" placeholder="E-mail"
								ng-model="adminCtrl.empresa.dadoEmpresa.email" id="email"
								type="email"  maxlength="40" required>
								<p ng-show="formAdminSistema.emailPrestadora.$error.email"
						class="alert alert-warning ">Digite um Email Válido</p>
						</div>
					
				<div class="col-sm-4">
							<input class="form-control" placeholder="Telefone"
								ng-model="adminCtrl.empresa.dadoEmpresa.telefone" id="telefone"
								type="tel" ui-br-phone-number required>
						</div>
					
									
					<div  class="col-sm-2" ng-controller="enderecoController as endCtrl" ng-init="endCtrl.lista()">
					<select class="form-control"  ng-model="adminCtrl.empresa.dadoEmpresa.ufIe" ng-options="uf for uf in ufs">
					<option value="">Estado</option>
					</select>
					</div>
					
						<div class="col-sm-2" ng-controller="verificaDadosController as verificaCtrl">
							<input class="form-control" name="iefield"  placeholder="Inscrição Estadual" 
								 ng-model="adminCtrl.empresa.dadoEmpresa.inscricaoEstadual" ng-blur="verificaCtrl.verificaIe(adminCtrl.empresa.dadoEmpresa.inscricaoEstadual)"
								id="inscricaoEstadual" type="text" ui-br-ie-mask='adminCtrl.empresa.dadoEmpresa.ufIe'
								required>
						 <p ng-show="formAdminSistema.iefield.$error.ie"	class="alert alert-warning ">Digite um Inscrição Estadual Válida</p>
						</div>
							
					</div>
					<br>

					<h4>Endereço</h4>

					<br>
					<div class="row">
						<div class="col-sm-3">
							<input class="form-control" name="cepField"	ng-model="adminCtrl.empresa.dadoEmpresa.endereco.cep" id="cep" placeholder="CEP"
								type="text"  ng-blur="adminCtrl.findCep()"  onkeyup="if(this.value.length > 8) { numeroEmpresa.focus(); }"   ui-br-cep-mask required>
								
							<p ng-show="formAdminSistema.cepField.$error.cep" class="alert alert-warning ">Digite um CEP Válido</p>
								
						</div>
					</div>
						

					<br>

					<div class="row">
						<div class="col-sm-5">
							<input class="form-control" placeholder="Rua"
								ng-model="adminCtrl.empresa.dadoEmpresa.endereco.logradouro" id="rua"
								type="text" maxlength="50" required>
						</div>
						
						<div class="col-sm-2"
							ng-class="{ 'has-error' : formAdminSistema.numeroEmpresa.$invalid && !fromAdminSistema.numeroEmpresa.$pristine }">
							<input class="form-control" name="numeroEmpresa" placeholder="Numero"
								ng-model="adminCtrl.empresa.dadoEmpresa.endereco.numero"
								id="numero" type="text" ng-minlength="1" ng-maxlength="7"
								required>
						</div>
					
							<p ng-show="formAdminSistema.numeroEmpresa.$error.minlength"
								class="alert alert-warning ">campo numero no minimo 1 caracter</p>
							<p ng-show="formAdminSistema.numeroEmpresa.$error.maxlength"
								class="alert alert-warning ">campo numero no maximo 7 caracter</p>
						
						<div class="col-sm-5">
							<input class="form-control" placeholder="Complemento"
								ng-model="adminCtrl.empresa.dadoEmpresa.endereco.complemento"
								id="complemento"  maxlength="50" type="text">
						</div>
					</div>
						<br>
					<div class="row">
									
						<div class="col-sm-5">
							<input class="form-control" placeholder="Bairro"
								ng-model="adminCtrl.empresa.dadoEmpresa.endereco.bairro"
								id="bairro" type="text"  maxlength="50" required>
						</div>
						<div class="col-sm-5">
							<input class="form-control" placeholder="Cidade"
								ng-model="adminCtrl.empresa.dadoEmpresa.endereco.localidade"
								id="cidade" type="text"  maxlength="50" required>
						</div>
						<div class="col-sm-2">
							<input class="form-control" placeholder="Estado"
								ng-model="adminCtrl.empresa.dadoEmpresa.endereco.uf"
								id="estado" type="text" maxlength="50" required>
						</div>
					</div>
					<br>
					
					<br>
			<div class="row ">
					
							<input type="submit" id="submit" value="Salvar"
								class="btn btn-lg btn-primary btn-block btn-signin">
						
					</div>
					

				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
