<meta charset="UTF-8">
<br>
<br>

<div ng-if="!ROLE_ADMIN" ng-include="'views/erros/permissao.html'"></div>
<div class="generic-container" ng-if="ROLE_ADMIN"ler as adminCtrl">

	<div class="box box-primary" ng-init="adminCtrl.lista()">
		<!-- Default panel contents -->
		<div class="box-header">
			<span class="lead">Lista de Empresa </span>
		</div>
		<div class="panel-body table-responsive">
			<input type="text" class="form-control" ng-model="buscaEmpresa"
				placeholder="Buscar">
			<table class="table  table-hover table-bordered">
				<thead>
					<tr>
						<th>Razão Social</th>
						<th>Nome Fantasia</th>
						<th>CNPJ</th>
						<th>Telefone</th>
						<th>Inscrição Estadual</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody
					ng-repeat=" empresa in adminCtrl.listaEmpresa | filter : buscaEmpresa ">
					<tr>
						<td>{{empresa.dadoEmpresa.razaoSocial }}</td>
						<td>{{empresa.dadoEmpresa.nomeFantasia }}</td>
						<td>{{empresa.dadoEmpresa.cnpj }}</td>
						<td>{{empresa.dadoEmpresa.telefone }}</td>
						<td>{{empresa.dadoEmpresa.inscricaoEstadual}}</td>
						<td>{{empresa.dadoEmpresa.endereco.uf }}</td>
						<td><a href="#/empresaContratada/editar/{{empresa.id}}"><i class="glyphicon glyphicon-pencil"></i></a> 
					
					</tr>

				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
						
						<th>		</th>

					
			
				</tr>
				</tfoot>
				
			</table>
			<nav aria-label="Page navigation">
					<ul class="pagination">
						<li><a href="#" aria-label="Previous"> <span
								aria-hidden="true">&laquo;</span>
						</a></li>
						<li><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#" aria-label="Next"> <span
								aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav>
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
