<meta charset="UTF-8">

     <div >
    <div class="row" >
        <a class="col-lg-4 " ui-sref="cotacao.consultar">
          <div class="small-box bg-orange"><br><br>
            <div class="inner" align="center">
              <h3>Cotação</h3><br>
            </div>           
          </div>
        </a>
       
        <a class="col-lg-4 " ui-sref="compra.consultar">
          <div class="small-box bg-aqua"><br><br>
            <div class="inner" align="center">
              <h3>Compra</h3><br>
            </div>
          </div>
        </a>
                 
     </div>  
       
         
  </div>        