<meta charset="UTF-8">
<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item active">Modulo compras</li>
 </ol>
      
    
        <div class="col-lg-3 ">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>01</h3>
              <p>Cotação</p>
            </div>
            <div class="icon">
              <i class="fa fa-money"></i>
            </div>
            <a href="#/cotacao/gerar" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
       
        <div class="col-lg-3 ">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>02</h3>
              <p>Compras</p>
            </div>
            <div class="icon">
              <i class="fa fa-shopping-cart"></i>
            </div>
            <a href="#/compras/cadastro/" class="small-box-footer">
              Cadastros<i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        
       
        