<meta charset="UTF-8">
<br>
<br>
<ol class="breadcrumb">
   <li class="breadcrumb-item"><a href="#/">home</a></li>
   <li class="breadcrumb-item" ><a href="#/empreendimento/cadastro">cadastrar</a></li>
   <li class="breadcrumb-item" ><a href="#/empreendimento/listagem">lista</a></li>
   <li class="breadcrumb-item active">alterar</li>
  </ol>
<div  ng-controller="empreendimentoController as empCtrl">

	<div class="box box-primary" >
		<!-- Default panel contents -->
		<div class="box-header" >
			<span class="lead"> Editar Empreendimento </span>
		</div>
		<div class="panel-body" >

			<br>
			<div class="container col-sm-12 ">
				<form role="form-vertical" name="empreendimentoForm" ng-submit="empCtrl.altera()">
					<div class="row"  ng-class="{ 'has-error' : empreendimentoForm.descricaoEmpreendimento.$invalid && !empreendimentoForm.descricaoEmpreendimento.$pristine }">
						<div class="col-sm-12">
							<input ng-model="empCtrl.empreendimento.descricao" name="descricaoEmpreendimento " ng-minlength="5" ng-maxlength="50"
							class="form-control" id="descricao" type="text" placeholder="Descrição" required>
						</div>
							
					</div>
					<p ng-show="empreendimentoForm.descricaoEmpreendimento.$error.minlength"
						class="alert alert-warning ">campo descricao no minimo 5 caracter</p>
					<p ng-show="empreendimentoForm.descricaoEmpreendimento.$error.maxlength"
						class="alert alert-warning ">campo descricao no maximo 50 caracter</p>
					<br>
					<br>
					
					
					<div class="row">
						<div class="col-sm-3">
							<input ng-model="empCtrl.empreendimento.valorMaximoGastar" placeholder="Valor Máximo" class="form-control" id="valorMaximoGastar" type="text" ui-money-mask="2" required>
						</div>
						
						
						
					<div  ng-controller="tipoEmpreendimentoController as tipoCtrl">
						<div class="col-sm-3"  ng-init="tipoCtrl.lista()" >
							<select class="form-control select2" ng-model="empCtrl.empreendimento.tipoEmpreendimento" 
							ng-options="listarTipoEmpreendimentos for listarTipoEmpreendimentos in listarTipoEmpreendimento" 
							  style=" width: 100%;" required >
								<option value="">{{empCtrl.empreendimento.tipoEmpreendimento}}</option>
							</select>
						</div>
					</div>
						<div class="col-sm-3">
							<input ng-model="empCtrl.empreendimento.dataAbertura" class="form-control" id="dataAbertura" placeholder="data Abertura" type="date" onkeyup="if(this.value.length > 9) { dataFechamento.focus(); }"  required >
						</div>
						
						<div class="col-sm-3">
							<input ng-model="empCtrl.empreendimento.datafechamento" class="form-control" id="datafechamento" placeholder="data Fechamento" type="date" name="dataFechamento"  required >
						</div>
					</div>
					<br>
					

					<h4>Equipe responsavel</h4>
					
					<hr>
					
					<div class="row">
					Selecione se o Engenheiro for de Empresa Terceirizado
					<div class="col-sm-1">
					
					<input type="checkbox" ng-model="funcionarios">
					
					</div>
					</div>
				<br>
				<div class="row">
						<div class="col-sm-4" ng-if="!funcionarios " ng-controller="cadastrarFuncionarioController as funCtrl" ng-init="funCtrl.buscarFuncionariosEngenheiro()">
								<select class="form-control select2" ng-model="empCtrl.empreendimento.engenheiroResponsavelFuncionario" ng-options="engenheiros.nomeCompleto  group by engenheiros.shade for engenheiros in engenheiro" style="width: 100%;" required>
									<option value="">{{empCtrl.empreendimento.engenheiroResponsavelFuncionario.nomeCompleto}}</option>                                                                                 
								</select>
						</div>
				</div>	
				<div class="row">
						<div class="col-sm-4">
								<select class="form-control select2" style="width: 100%;" ng-if="funcionarios" required>
									<option value="">---Selecione Engenheiro---</option>
							</select>
						</div>
					</div>
					<br>
					<h4>Endereço</h4>

					<hr>
					
					
					<div class="row">
						<div class="col-sm-3">
							<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.cep" ng-blur="empCtrl.findCep()"  onkeyup="if(this.value.length > 8) { numeroEmpresa.focus(); }" name="cepField" class="form-control" id="cep" type="search"
								placeholder="CEP"  ui-br-cep-mask required>
							
						</div>
						
					</div>	
					<br>
					<div class="row">
						<div class="col-sm-5">
								<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.logradouro" placeholder="Rua" class="form-control" id="rua" type="text" required>
						</div>
						<div class="col-sm-2"
							ng-class="{ 'has-error' : empreendimentoForm.numeroEmpresa.$invalid && !empreendimentoForm.numeroEmpresa.$pristine }">
							<input class="form-control" name="numeroEmpresa" placeholder="Nº"
								ng-model="empCtrl.empreendimento.enderecoEmpreendimento.numero"
								id="numero" type="text" ng-minlength="1" ng-maxlength="7"
								required>
								<br>
								<p ng-show="empreendimentoForm.numeroEmpresa.$error.minlength"
									class="alert alert-warning ">campo numero no minimo 1 caracter</p>
								<p ng-show="empreendimentoForm.numeroEmpresa.$error.maxlength"
									class="alert alert-warning ">campo numero no maximo 7 caracter</p>
						</div>
						<div class="col-sm-5">
							<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.complemento" placeholder="Complemento" class="form-control" id="complemento" type="text">
						</div>
					</div>
					
					<div class="row">
							<div class="col-sm-5">
								<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.bairro" placeholder="Bairro" class="form-control" id="bairro" type="text" required>
							</div>
					
							<div class="col-sm-5">
								<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.localidade" placeholder="Cidade" class="form-control" id="cidade" type="text" required>
							</div>
							<div class="col-sm-2">
								<input ng-model="empCtrl.empreendimento.enderecoEmpreendimento.uf" placeholder="Estado" class="form-control" id="estado" type="text" required>
							</div>
					</div>
					<br>
				
				
					<div class="row ">
						
							<input type="submit" id="submit" value="Salvar"
								class="btn btn-lg btn-primary btn-block btn-signin">
						
					</div>
				</form>
			</div>

		</div>
		<div class="tablecontainer"></div>
	</div>
</div>
