<header class="main-header navbar-fixed-top">		  
		    <a href="#/" class="logo navbar-top">    
		      <span class="logo-mini"><b>GCC</b></span>      
		      <span class="logo-lg"><b>Sistema</b>GCC</span>
		    </a>		    
		    <nav class="navbar navbar-top" role="navigation">      
		      <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
		        <span class="sr-only">Toggle navigation</span>
		      </a>
		       <div class="navbar-custom-menu">
		        <ul class="nav navbar-nav">		     
					          
				 <li class="visible-lg-block visible-md-block">
					<a><span><span ng-show="user.empreendimento == null">Administrador Sistema</span>
					<span ng-show="user.empreendimento != null && user.empreendimento.matriz == null">Matriz</span>
					<span ng-show="user.empreendimento.matriz != null">Empreendimento</span> 
					: {{user.empreendimento.descricao}}</span></a>
				</li>	          
		       <li class="dropdown user user-menu" ">
		                <a href="" class="dropdown-toggle" data-toggle="dropdown">
		                  <i class="glyphicon glyphicon-user"></i>
		                </a>
		                <ul class="dropdown-menu">
		                  <!-- User image -->
		                  <li class="user-header">
								<img ng-src="/rest/usuario/{{user.id}}/foto"
								  class="img-circle"
									alt="User Image">		
		                    <p>
		                     		{{user.nome}}
		                      <small>{{user.funcionario.cargo.descricao}}</small>
		                      <small>{{user.empreendimento.descricao}}</small>
		                    </p>
		                  </li>                 
		                  <li class="user-footer">
		                    <div class="pull-left">
		                   		 <a href="" ui-sref="usuario.perfil"  class="btn btn-default btn-flat">Perfil</a>
		                   	</div>
		                    <div  class="pull-right">
		                      <a href=""  data-toggle="modal" data-target="#alteraEmpreendimento"  class="btn btn-default btn-flat">Alterar Empreend.</a>
		                    </div>
		                  </li>
		                </ul>
		              </li>		                        
         			<li ng-controller="LoginController"><a href="" ng-click="logout()"> <span class="hidden-xs">Logout</span> <i
						class="glyphicon glyphicon-log-out"></i>
				</a></li>
		        </ul>
		      </div>
		    </nav>
		  </header>
		  
		  
				
				 <!-- MODAL -->				
				<div  class="modal fade modal-primary" id="alteraEmpreendimento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="UsuarioEditarController as userCtrl">
				  <div class="modal-dialog" role="document" >
				    <div class="modal-content" ng-controller="UsuarioEditarController as userCtrl">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Alterar Empreendimento</h4>
				      </div>
				      <div class="modal-body">				     		
					      <div class="row">
						      	<div class="form-group  col-sm-12">
							 		<label>Selecione o Empreendimento:</label>
								    <input type="text" ng-model="userCtrl.empreendimento" placeholder="Digite nome do empreendimento" 
								    uib-typeahead="empreendimento as empreendimento.descricao for empreendimento in userCtrl.buscarPorTexto($viewValue) | limitTo:8" 
								    typeahead-template-url="customTemplate.html" class="form-control" typeahead-show-hint="true"  
								    typeahead-loading="loadingEmpreendimentos" typeahead-no-results="noResults" typeahead-min-length="3">
								    <i ng-show="loadingEmpreendie=mentos" class="glyphicon glyphicon-refresh"></i>
								    <div ng-show="noResults">
								      <i class="glyphicon glyphicon-remove"></i> Nenhum resultado encontrado
								    </div>
							    </div>	
					      </div>					       
				      </div>
				      			
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span> <span ng-if="!match.model.matriz"> - <b>Matriz</b></span><br/>
	  <span>{{match.model.endereco.cidade}}-{{match.model.endereco.estado}}</span>
  </a>
</script>
			
				      <div class="modal-footer">
				        <button type="button" data-dismiss="modal" ng-disabled="!userCtrl.empreendimento" ng-click="userCtrl.alterarEmpreendimento(userCtrl.empreendimento.id)" class="btn btn-primary">Alterar</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>				        
				      </div>
				    </div>
				  </div>
				</div>