<meta charset="UTF-8">
<header class="main-header navbar-fixed-top">

	<a href="#/" class="logo navbar-fixed-top"> <span class="logo-mini"><b>G.C.C</b></span>
	<!-- <div class="pull-left image">
				<img src="public/img/logo2.png" class="img-circle"
					alt="User Image">
			</div> -->
		<span class="logo-lg"><b>Sistema</b>GCC</span>
	</a>

	<nav class="navbar navbar-fixed-top" role="navigation">

		<a href="" class="sidebar-toggle" data-toggle="offcanvas"
			role="button"> <span class="sr-only">Toggle navigation</span>
		</a>
		
		<div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
		 <li class="dropdown messages-menu" ng-if="ROLE_MODULO_CHAMADO_MANUTENCAO_SUPORTE">
                <a href="#/chamado/manutencao/suporte/lista" title="Quantidade de Chamados Abertos para Manutenção" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">{{quantidadeChamadoAberto}}</span>
                </a>	
		 		 
          </li>              
          <li class="dropdown messages-menu" ng-if="ROLE_MODULO_CHAMADO_INFORMATICA_SUPORTE">
                <a href="#/chamado/informatica/suporte/lista" title="Quantidade de Chamados Abertos para Informática" class="dropdown-toggle" data-toggle="dropdown">
                  <i class="fa fa-envelope-o"></i>
                  <span class="label label-success">{{quantidadeChamadoAbertoTi}}</span>
                </a>	
		 		 
          </li>
          </ul>
          </div>
		<ul class="nav navbar-nav pull-right" ng-controller="usuarioController as userCtrl" >
			
				<li><a>Empreendimento: {{user.usuario.empreendimento.descricao}}
				</a></li>
			<li class="dropdown user user-menu">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="public/img/avatar_2x.png" class="user-image" alt="User Image">
                  <span class="hidden-xs">{{user.usuario.nome}}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="public/img/avatar_2x.png" class="img-circle" alt="User Image">
                    <p>
                     		{{userCtrl.usuario.nome}}
                      <small>{{user.usuario.funcionario.cargo.descricao}}</small>
                    </p>
                  </li>                 
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="" ng-click="userCtrl.buscaPorId(user.usuario.id)" data-toggle="modal" data-target="#alteraSenha" class="btn btn-default btn-flat">Alterar senha</a>
                    </div>
                    <div class="pull-right">
                      <a href=""  ng-click="userCtrl.buscaPorId(user.usuario.id)" data-toggle="modal" data-target="#alteraEmpreendimento"  class="btn btn-default btn-flat">Alterar Empreend.</a>
                    </div>
                  </li>
                </ul>
              </li>
              
				<li>
					<a href="" ng-controller="loginController as loginCtrl"  ng-click="loginCtrl.logout()" > Logout <i class="glyphicon glyphicon-log-out"></i>
					</a>
				</li>

			</ul>
				
		
	</nav>
	
</header>

<div class="modal fade" id="alteraSenha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="usuarioController as userCtrl">
				  <div class="modal-dialog" role="document" >
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Dados Usúario</h4>
				      </div>
				      <div class="modal-body">				      	
				     		{{user.usuario.nome}}
				      		<br>
					      <div class="row">
					      	<div class="col-sm-4">
								<input type="password" class="form-control" id="senha" ng-model="userCtrl.senha" placeholder="Senha"
									title="Digite uma senha" maxlength="12" required>
							</div>
							<div class="col-sm-4">
								<input type="password" class="form-control" id="repitaSenha" ng-model="userCtrl.senhaRepitida" placeholder="Repita a Senha"
									title="repita a senha" required>
							</div>
					      </div>
					       
				      </div>
				      <div class="modal-footer">
				        <button type="button" ng-click="userCtrl.altera()" class="btn btn-primary">Alterar</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				        
				      </div>
				    </div>
				  </div>
				</div>
				
				
				<div class="modal fade" id="alteraEmpreendimento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-controller="usuarioController as userCtrl">
				  <div class="modal-dialog" role="document" >
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Alterar Empreendimento</h4>
				      </div>
				      <div class="modal-body">				      	
				     		
					      <div class="row">
					      	<div  class="col-sm-12" ng-controller="empreendimentoController as empCtrl" ng-init="empCtrl.lista()">
							<select class="form-control " ng-model="userCtrl.usuario.empreendimento" 
								ng-options="listarEmpreendimentos.descricao group by listarEmpreendimentos.tipoEmpreendimento for listarEmpreendimentos in empreendimentos"
								style="width: 100%;" required>
								<option  value="">--selecione o Empreendimento--</option>
							</select>
						</div>		
					      </div>
					       
				      </div>
				      <div class="modal-footer">
				        <button type="button" ng-click="userCtrl.altera()" class="btn btn-primary">Alterar</button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				        
				      </div>
				    </div>
				  </div>
				</div>