<meta charset="UTF-8">
<aside class="main-sidebar">

	<section class="sidebar">

<!-- dados do usuario logado -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="public/img/avatar_2x.png" class="img-circle"
					alt="User Image">
			</div>
			<div class="pull-left info" ng-controller="usuarioController as userCtrl">
				<p>{{user.usuario.login}}</p>
				<a href="#"><i class="glyphicon glyphicon-star-empty"></i> Online</a>
			</div>
		</div>
		<form action="" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" ng-model="buscaMenu" placeholder="busca">
              <span class="input-group-btn">
                <button   class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>


		<div>
		
		</div>
<!-- menu admin Sistema -->
		<ul class="sidebar-menu">
			<li class="header">MÓDULOS</li>
			<li class="treeview ">
             		 <a href=""><i class="glyphicon glyphicon-home "></i> <i class="treeview "></i>Administrador<i class="fa fa-angle-left pull-right"></i></a>
             	 <ul class="treeview-menu">
					<li class="treeview"><a href=""><i class="glyphicon glyphicon-home"></i> <span>Empresa</span>
						<i class="fa fa-angle-left pull-right"></i></a>
						<ul class="treeview-menu">
							<li><a href="#/empresaContratada/cadastrar">Cadastrar</a></li>
							<li><a href="#/empresaContratada/lista" > Lista</a></li>
						</ul>
					</li>
				</ul>
			</li>
				
	
<!-- menu admin Empresa -->		
		

			<li class="treeview ">
              <a href=""><i class=" glyphicon glyphicon-object-align-bottom"> </i><i class="treeview "></i> Empreendimento<i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
				<li class="treeview"><a href=""><i class="glyphicon glyphicon-user"></i> <span>Usuário</span>
					<i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a class="top" href="#/usuario/cadastrar">Cadastrar</a></li>
						<li><a class="top" href="#/usuario/lista">Lista</a></li>
						<li><a class="top" href="#/usuario/permissao">Permissões</a></li>
					</ul>
				</li>			
				<li class="treeview"><a href=""><i class=" glyphicon glyphicon-object-align-bottom"></i> <span>Empreendimento</span>
					<i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a class="top" href="#/empreendimento/empreendimento/cadastrar">Cadastro</a></li>
						<li><a class="top" href="#/empreendimento/empreendimento/lista">Lista</a></li>
						<li><a class="top" href="#/empreendimento/configuracao/cadastrar">Configuração</a></li>
					</ul>
				</li>
				
			</ul>
		</li>
		
		<!-- menu Serviços -->		
		
			<li class="treeview ">
              <a href=""><i class=" glyphicon glyphicon-wrench"></i><i class="treeview "></i>Serviços<i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
			<li class="treeview"><a href=""><i class=" glyphicon glyphicon-wrench"></i> <span>Prestadora de Serviços</span>
					<i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a class="top" href="#/servicos/prestadoraServico/cadastrar">Cadastrar</a></li>
				    	<li><a class="top" href="#/servicos/prestadoraServico/lista">Lista</a></li>
					</ul>
				</li>
			<li class="treeview"><a href=""><i class="glyphicon glyphicon-wrench"></i> <span>Pacotes</span>
				<i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
					<li><a class="top" href="#/servicos/pacotes/cadastrar">Cadastrar</a></li>
					<li><a class="top" href="#/servicos/pacotes/lista">Lista</a></li>
			
				</ul>
			</li>
			<li class="treeview"><a href=""><i class="glyphicon glyphicon-wrench"></i> <span>Vincular</span>
				<i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
					<li><a class="top" href="#/servicos/vincular/vincular">Vincular</a></li>
					<li><a class="top" href="#/servicos/vincular/lista">Lista</a></li>
			
				</ul>
			</li>
			</ul>
			</li>
		
		<!-- menu recursos humanos -->
				
		<li class="treeview ">
              <a href=""><i class="glyphicon glyphicon-user"></i><i class="treeview "></i>Recursos Humanos<i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                
                <li class="treeview"><a href=""><i class="glyphicon glyphicon-user"></i> <span>Funcionário</span>
					<i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
					<li><a class="top" href="#/recursosHumanos/funcionario/cadastrar">Cadastrar</a></li>
					<li><a class="top" href="#/recursosHumanos/funcionario/lista">Lista</a></li>
					
				</ul></li>                    
                                            
                <li class="treeview"><a href=""><i class="glyphicon glyphicon-briefcase"></i> <span>Cargo</span> <i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a class="top" href="#/recursosHumanos/cargo/cadastrar">Cadastrar</a></li>
					<li><a class="top" href="#/recursosHumanos/cargo/lista">Lista</a></li>
					</ul>			
                </li>
               
              </ul>
            </li>
		
		<!-- menu Almoxarifado  -->		
			
			<li class="treeview ">
              <a href=""><i class="glyphicon glyphicon-shopping-cart"></i><i class="treeview "></i>Financeiro<i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
              <li class="treeview"><a href=""> <span>Compras</span> <i class="fa fa-angle-left pull-right"></i></a>
						<ul class="treeview-menu">
							<li><a class="top" href="#/almoxarifado/compras/gerarCotacao">Gerar cotação</a></li>
							<li><a class="top" href="#/almoxarifado/compras/cotacaoAberta">Cotação em aberto</a></li>
							<li><a class="top" href="#/almoxarifado/compras/pedidoCompra">Pedido de compra</a></li>
						</ul>			
                </li>
                
                <li>
                  <a href=""><i class="treeview"></i> Cadastros<i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">                    
                    <li>
                      <a href=""><i class="glyphicon glyphicon-shopping-cart"></i>Fornecedor<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/fornecedor/cadastrar">Cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/fornecedor/lista">Lista</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href=""><i class="glyphicon glyphicon-home"></i>Fabricante<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/fabricante/cadastrar">Cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/fabricante/lista">Lista</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href=""><i class="glyphicon glyphicon-globe"></i>Área Produto<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/produto/area/cadastrar">Cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/produto/area/lista">Lista</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href=""><i class="glyphicon glyphicon-screenshot"></i>Categoria Produto<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/produto/categoria/cadastrar">Cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/produto/categoria/lista">Lista</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href=""><i class="glyphicon glyphicon-screenshot"></i>Tipo Produto<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/produto/tipo/cadastrar">Cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/produto/tipo/lista">Lista</a></li>
                      </ul>
                    </li>
                     <li>
                      <a href=""><i class="glyphicon glyphicon-apple"></i>Produto<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/produto/cadastrar">Cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/produto/lista">Lista</a></li>
					 </ul>
                    </li>
                  </ul>
                </li>   
                 <li>
                  <a href=""><i class="treeview"></i> Estoque<i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">
                 		    <li><a class="top" href="#/almoxarifado/estoque/entrada">Entrada</a></li>
							<li><a class="top" href="#/almoxarifado/estoque/lista">Consultar</a></li>                              
                 	 <li class="treeview"><a href=""><span>Requisição</span> <i class="fa fa-angle-left pull-right"></i></a>
						<ul class="treeview-menu">
							<li><a class="top" href="#/almoxarifado/estoque/requisicao/cadastrar">Cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/estoque/requisicao/lista">Consulta</a></li>
						</ul>			
                </li>
                <li class="treeview"><a href=""><span>Transferência</span> <i class="fa fa-angle-left pull-right"></i></a>
						<ul class="treeview-menu">
							<li><a class="top" href="#/almoxarifado/estoque/transferencia/cadastrar">Nova</a></li>
							<li><a class="top" href="#/almoxarifado/estoque/transferencia/enviadas">Enviadas</a></li>
							<li><a class="top" href="#/almoxarifado/estoque/transferencia/recebidas">Recebidas</a></li>
						</ul>			
                </li>
                </ul>
                </li>
                 <li class="treeview"><a href=""><span>Gerenciamento</span> <i class="fa fa-angle-left pull-right"></i></a>
						<ul class="treeview-menu">
							<li><a class="top" href="#/almoxarifado/gerenciamento/cancelamentoNota">Cancelamento de nota</a></li>
							<li><a class="top" href="#/almoxarifado/gerenciamento/iventario">Iventário</a></li>
						</ul>			
                </li>     
               
              </ul>
            </li>
   
		</ul>
		<script type="text/javascript">
		$(document).ready(function() {
			$('.top').click(function() {
				$('html,body').animate({
					scrollTop : 0
				}, 'slow');
			});
		});
	</script>
	</section>


</aside>
