<meta charset="UTF-8">
<aside class="main-sidebar">

	<section class="sidebar">

<!-- dados do usuario logado -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="public/img/avatar_2x.png" class="img-circle"
					alt="User Image">
			</div>
			<div class="pull-left info" ng-controller="usuarioController as userCtrl">
				<p>{{userCtrl.user}}</p>
				<a href="#"><i class="glyphicon glyphicon-star-empty"></i> Online</a>
			</div>
		</div>


		<div></div>
<hr>

<!-- menu admin Sistema -->
		<ul class="sidebar-menu">

			<li class="treeview ">
             		 <a href=""><i class="treeview "></i> <h4>Administrador</h4><i class="fa fa-angle-left pull-right"></i></a>
             	 <ul class="treeview-menu">
					<li class="treeview"><a href=""><i class="glyphicon glyphicon-home"></i> <span>Empresa</span>
						<i class="fa fa-angle-left pull-right"></i></a>
						<ul class="treeview-menu">
							<li><a href="#/empresaContratada/cadastrar">cadastrar</a></li>
							<li><a href="#/empresaContratada/lista" > lista</a></li>
						</ul>
					</li>
				</ul>
			</li>
				
	
<!-- menu admin Empresa -->		
		

			<li class="treeview ">
              <a href=""><i class="treeview "></i> <h4>Empreendimento</h4><i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
				<li class="treeview"><a href=""><i class="glyphicon glyphicon-user"></i> <span>Usuarios</span>
					<i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a class="top" href="#/usuario/cadastrar">cadastrar</a></li>
						<li><a class="top" href="#/usuario/lista">lista</a></li>
						<li><a class="top" href="#/usuario/permissao">permissões</a></li>
					</ul>
				</li>			
				<li class="treeview"><a href=""><i class=" glyphicon glyphicon-object-align-bottom"></i> <span>Empreendimento</span>
					<i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a class="top" href="#/empreendimento/empreendimento/cadastrar">cadastro</a></li>
						<li><a class="top" href="#/empreendimento/empreendimento/lista">lista</a></li>
						<li><a class="top" href="#/empreendimento/configuracao/cadastrar"> configuração</a></li>
					</ul>
				</li>
				
			</ul>
		</li>
		
		<!-- menu Serviços -->		
		
			<li class="treeview ">
              <a href=""><i class="treeview "></i> <h4>Serviços</h4><i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
			<li class="treeview"><a href=""><i class=" glyphicon glyphicon-wrench"></i> <span>Prestadora de Serviços</span>
					<i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a class="top" href="#/servicos/prestadoraServico/cadastrar">cadastrar</a></li>
				    	<li><a class="top" href="#/servicos/prestadoraServico/lista"> lista</a></li>
					</ul>
				</li>
			<li class="treeview"><a href=""><i class="glyphicon glyphicon-wrench"></i> <span>Pacotes</span>
				<i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
					<li><a class="top" href="#/servicos/pacotes/cadastrar">cadastrar</a></li>
					<li><a class="top" href="#/servicos/pacotes/lista">lista</a></li>
			
				</ul>
			</li>
			<li class="treeview"><a href=""><i class="glyphicon glyphicon-wrench"></i> <span>Vincular</span>
				<i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
					<li><a class="top" href="#/servicos/vincular/vincular">Vincular</a></li>
					<li><a class="top" href="#/servicos/pacotes/lista">lista</a></li>
			
				</ul>
			</li>
			</ul>
			</li>
		
		<!-- menu recursos humanos -->
				
		<li class="treeview ">
              <a href=""><i class="treeview "></i> <h4>Recursos Humanos</h4><i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                
                <li class="treeview"><a href=""><i class="glyphicon glyphicon-user"></i> <span>Funcionário</span>
					<i class="fa fa-angle-left pull-right"></i></a>
				<ul class="treeview-menu">
					<li><a class="top" href="#/recursosHumanos/funcionario/cadastrar">cadastrar</a></li>
					<li><a class="top" href="#/recursosHumanos/funcionario/lista">lista</a></li>
					
				</ul></li>                    
                                            
                <li class="treeview"><a href=""><i class="glyphicon glyphicon-briefcase"></i> <span>Cargo</span> <i class="fa fa-angle-left pull-right"></i></a>
					<ul class="treeview-menu">
						<li><a class="top" href="#/recursosHumanos/cargo/cadastrar">cadastrar</a></li>
					<li><a class="top" href="#/recursosHumanos/cargo/lista">lista</a></li>
					</ul>			
                </li>
               
              </ul>
            </li>
		
		<!-- menu Almoxarifado  -->		
			
			<li class="treeview ">
              <a href="">
                <i class="treeview "></i> <h4>Almoxarifado</h4>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                
                <li>
                  <a href=""><i class="treeview"></i> Cadastros<i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">                    
                    <li>
                      <a href=""><i class="glyphicon glyphicon-shopping-cart"></i>Fornecedor<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/fornecedor/cadastrar">cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/fornecedor/lista">lista</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href=""><i class="glyphicon glyphicon-home"></i>Fabricante<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/fabricante/cadastrar">cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/fabricante/lista">lista</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href=""><i class="glyphicon glyphicon-globe"></i>Area Produto<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/produto/area/cadastrar">cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/produto/area/lista">lista</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href=""><i class="glyphicon glyphicon-screenshot"></i>Categoria Produto<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/produto/categoria/cadastrar">cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/produto/categoria/lista">lista</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href=""><i class="glyphicon glyphicon-screenshot"></i>Tipo Produto<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/produto/tipo/cadastrar">cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/produto/tipo/lista">lista</a></li>
                      </ul>
                    </li>
                     <li>
                      <a href=""><i class="glyphicon glyphicon-apple"></i>Produto<i class="fa fa-angle-left pull-right"></i></a>
                      <ul class="treeview-menu">
                        	<li><a class="top" href="#/almoxarifado/produto/cadastrar">cadastrar</a></li>
							<li><a class="top" href="#/almoxarifado/produto/lista">lista</a></li>
					 </ul>
                    </li>
                  </ul>
                </li>                                
                 	 <li class="treeview"><a href=""><i
						class="glyphicon glyphicon-th-large"></i> <span>Estoque</span> <i class="fa fa-angle-left pull-right"></i></a>
						<ul class="treeview-menu">
							<li><a class="top" href="#/almoxarifado/estoque/entrada">entrada</a></li>
							<li><a class="top" href="#/almoxarifado/estoque/saida">saida</a></li>
						</ul>			
                </li>
               
              </ul>
            </li>
   
		</ul>
		<script type="text/javascript">
		$(document).ready(function() {
			$('.top').click(function() {
				$('html,body').animate({
					scrollTop : 0
				}, 'slow');
			});
		});
	</script>
	</section>


</aside>
